Repository AmadeusITGroup/otter, pull requests merged in 2023-11, with the labels that each got.

#980 feat: use ts-jest helper
  apps/showcase/jest.config.js
  jest.config.it.js
  jest.config.ut.js
  packages/@ama-sdk/create/testing/jest.config.it.js
  packages/@ama-sdk/schematics/jest.config.js
  packages/@ama-sdk/schematics/testing/jest.config.it.js
  packages/@ama-terasu/cli/jest.config.js
  packages/@ama-terasu/core/jest.config.js
  packages/@ama-terasu/schematics/jest.config.js
  packages/@o3r/amaterasu/amaterasu-api-spec/jest.config.js
  packages/@o3r/amaterasu/amaterasu-dodo/jest.config.js
  packages/@o3r/amaterasu/amaterasu-otter/jest.config.js
  packages/@o3r/amaterasu/amaterasu-sdk/jest.config.js
  packages/@o3r/analytics/testing/jest.config.it.js
  packages/@o3r/apis-manager/testing/jest.config.it.js
  packages/@o3r/components/testing/jest.config.it.js
  packages/@o3r/configuration/testing/jest.config.it.js
  packages/@o3r/core/jest.config.js
  packages/@o3r/core/testing/jest.config.it.js
  packages/@o3r/dev-tools/src/utils/jest.helpers.ts
  packages/@o3r/dynamic-content/jest.config.js
  packages/@o3r/extractors/jest.config.js
  packages/@o3r/extractors/testing/jest.config.it.js
  packages/@o3r/forms/jest.config.js
  packages/@o3r/localization/jest.config.js
  packages/@o3r/localization/testing/jest.config.it.js
  packages/@o3r/logger/jest.config.js
  packages/@o3r/rules-engine/testing/jest.config.it.js
  packages/@o3r/schematics/jest.config.js
  packages/@o3r/store-sync/jest.config.js
  packages/@o3r/styling/jest.config.js
  packages/@o3r/styling/testing/jest.config.it.js
  packages/@o3r/test-helpers/jest.config.js
  packages/@o3r/testing/jest.config.js
  packages/@o3r/testing/schematics/ng-add/templates/workspace/jest.config.ut.js.template
  packages/@o3r/testing/testing/jest.config.it.js
  packages/@o3r/workspace/jest.config.js
  packages/@o3r/workspace/schematics/library/rules/rules.nx.ts
  packages/@o3r/workspace/schematics/library/templates/ng/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/nx/jest.config.js.template
  packages/@o3r/workspace/testing/jest.config.it.js
Labels: enhancement, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/analytics, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-terasu/schematics, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:@o3r/workspace

#989 feat(extractor): support o3rRequired tag on config property for the required field in metadata
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.config.ts
  apps/vscode-extension/src/intellisense/configuration.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/typescript.cjs
  packages/@o3r/extractors/src/utils/config-doc.ts
Labels: enhancement, project:@o3r/core, project:@o3r/components, project:@o3r/extractors, project:@o3r/eslint-config-otter, project:@o3r/showcase, project:otter-devtools

#990 fix(showcase): fix bubble
  apps/showcase/src/components/showcase/basic/basic-pres.style.scss
  apps/showcase/src/components/showcase/configuration/configuration-pres.template.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.template.html
  apps/showcase/src/components/showcase/localization/localization-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
Labels: bug, project:@o3r/showcase

#962 fix: o3r schematics build fails because it uses its own dist as input
  packages/@o3r/schematics/schematics/ng-add/index.ts
Labels: bug, project:@o3r/schematics

#996 fix: sdk generated with inner enums
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: bug, project:@ama-sdk/schematics

#1003 feat: otters of the week
  assets/logo/flavors/Picassotter.png
  assets/logo/flavors/gran-turismotter.png
  assets/logo/flavors/son-gotter.png
  assets/logo/otter.svg
Labels: enhancement

#995 feat(showcase): otter-picker
  apps/showcase/src/assets/mini-otters/astronotter.svg
  apps/showcase/src/assets/mini-otters/bonotter.svg
  apps/showcase/src/assets/mini-otters/c3potter.svg
  apps/showcase/src/assets/mini-otters/colombotter.svg
  apps/showcase/src/assets/mini-otters/djokotter.svg
  apps/showcase/src/assets/mini-otters/hallowtter.svg
  apps/showcase/src/assets/mini-otters/harry-otter.svg
  apps/showcase/src/assets/mini-otters/jack-sparrowtter.svg
  apps/showcase/src/assets/mini-otters/mandalotter.svg
  apps/showcase/src/assets/mini-otters/mariotter.svg
  apps/showcase/src/assets/mini-otters/neotter.svg
  apps/showcase/src/assets/mini-otters/pizzaiotter.svg
  apps/showcase/src/assets/mini-otters/ronaldotter.svg
  apps/showcase/src/assets/mini-otters/sombrerotter.svg
  apps/showcase/src/components/showcase/sdk/sdk-pres.component.ts
  apps/showcase/src/components/showcase/sdk/sdk-pres.style.scss
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.component.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.service.ts
  apps/showcase/src/components/utilities/index.ts
  apps/showcase/src/components/utilities/otter-picker/index.ts
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.component.ts
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.spec.ts
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.style.scss
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.template.html
  apps/showcase/src/components/utilities/scroll-back-top/README.md
  apps/showcase/src/facts/trip/trip.facts.ts
  packages/@ama-sdk/core/src/public_api.ts
  packages/@ama-sdk/core/src/utils/index.ts
  packages/@ama-sdk/core/src/utils/mime-types.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/showcase-sdk/project.json
  packages/@ama-sdk/showcase-sdk/src/api/index.ts
  packages/@ama-sdk/showcase-sdk/src/api/interfaces.ts
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.fixture.ts
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.jasmine.fixture.ts
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.jest.fixture.ts
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/store/store-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/user/user-api.ts
  packages/@ama-sdk/showcase-sdk/src/spec/operation-adapter.ts
  packages/@ama-sdk/showcase-sdk/swagger-spec.yaml
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/showcase, project:@ama-sdk/showcase-sdk

#1007 fix(showcase): unset dynamicpath when not in dynamic-content page
  apps/showcase/src/app/app.component.ts
Labels: bug, project:@o3r/showcase

#1004 fix(showcase): fix ui feedbacks
  .yarnrc.yml
  apps/showcase/package.json
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/components/showcase/basic/basic-pres.component.ts
  apps/showcase/src/components/showcase/basic/basic-pres.template.html
  apps/showcase/src/components/showcase/configuration/configuration-pres.component.ts
  apps/showcase/src/components/showcase/configuration/configuration-pres.template.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.component.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.template.html
  apps/showcase/src/components/showcase/localization/localization-pres.component.ts
  apps/showcase/src/components/showcase/localization/localization-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  apps/showcase/src/components/showcase/sdk/sdk-pres.component.ts
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.style.scss
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.spec.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.style.scss
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/index.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.template.html
  apps/showcase/src/components/utilities/index.ts
  apps/showcase/src/components/utilities/sidenav/sidenav-pres.style.scss
  apps/showcase/src/components/utilities/sidenav/sidenav-pres.template.html
  apps/showcase/src/styles.scss
  package.json
  packages/@o3r/core/package.json
  tsconfig.build.json
  yarn.lock
Labels: bug, project:@o3r/core, project:@o3r/showcase

#1011 feat(dev-tools): deprecate unused scripts from dev-tools package
  packages/@o3r/dev-tools/src/cli/aql-artifact-cleaner.ts
  packages/@o3r/dev-tools/src/cli/git-release-management.ts
  packages/@o3r/dev-tools/src/cli/set-version.ts
  packages/@o3r/dev-tools/src/cli/version-harmonize.ts
  packages/@o3r/dev-tools/src/helpers/git-release-management/git-release-management.ts
Labels: enhancement, project:@o3r/dev-tools

#997 feat(extractor): add option to throw when invalid scss value provided
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/builders/style-extractor/schema.json
  packages/@o3r/styling/builders/style-extractor/schema.ts
Labels: enhancement, project:@o3r/styling

#1015 feat(showcase): activate debug mode of rules-engine module to showcas…
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/rules-engine/rules-engine.template.html
Labels: enhancement, project:@o3r/showcase

#1010 fix(rules-engine): avoid evaluating conditions when not needed
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
  packages/@o3r/rules-engine/src/services/rules-engine.service.it.spec.ts
  packages/@o3r/rules-engine/testing/mocks/oneruleset-tworules-any-and-all.mock.ts
Labels: bug, project:@o3r/rules-engine

#1016 fix: prevent extra newline in revivers
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: bug, project:@ama-sdk/schematics

#1022 fix(sdk-generator): package json generate scripts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: bug, project:@ama-sdk/schematics

#1023 feat: install @ama-sdk/schematics when adding @o3r/core
  packages/@ama-sdk/core/schematics/ng-add/schema.json
  packages/@ama-sdk/schematics/schematics/ng-add/schema.json
  packages/@o3r/analytics/schematics/ng-add/schema.json
  packages/@o3r/application/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/schema.json.template
  packages/@o3r/eslint-config-otter/schematics/ng-add/schema.json
  packages/@o3r/eslint-plugin/schematics/ng-add/schema.json
  packages/@o3r/extractors/schematics/ng-add/schema.json
  packages/@o3r/forms/schematics/ng-add/schema.json
  packages/@o3r/logger/schematics/ng-add/schema.json
  packages/@o3r/mobile/schematics/ng-add/schema.json
  packages/@o3r/routing/schematics/ng-add/schema.json
  packages/@o3r/store-sync/schematics/ng-add/schema.json
  packages/@o3r/storybook/schematics/ng-add/schema.json
  packages/@o3r/testing/schematics/ng-add/schema.json
  packages/@o3r/third-party/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/storybook, project:@o3r/testing, project:@o3r/application, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/workspace

#1024 fix: install @o3r/ngx-prefetch on app only if dep is present in project package.json
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
Labels: bug, project:@o3r/core

#1008 fix: log antibot exceptions as errors
  packages/@ama-sdk/core/src/plugins/bot-protection-fingerprint/bot-protection-fingerprint.request.ts
  packages/@ama-sdk/core/src/plugins/bot-protection-fingerprint/bot-protection-fingerprint.spec.ts
Labels: bug

#1031 fix(publish): copy npmignore into the dist folder
  packages/@ama-sdk/core/.npmignore
  packages/@o3r/core/.npmignore
  tools/@o3r/build-helpers/scripts/prepare-publish.mjs
Labels: bug, project:@ama-sdk/core, project:@o3r/core, project:@o3r/build-helpers

#1035 fix: exclude testing files from the build
  packages/@ama-sdk/core/.npmignore
  packages/@ama-sdk/core/tsconfig.builders.json
  packages/@ama-sdk/core/tsconfig.spec.json
  packages/@o3r/core/.npmignore
  packages/@o3r/core/tsconfig.builders.json
  packages/@o3r/core/tsconfig.spec.json
Labels: bug, project:@ama-sdk/core, project:@o3r/core

#1036 fix(styling): update details of variable of null is provided
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.spec.ts
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/scss/theming/_mixins.scss
  packages/@o3r/styling/scss/theming/mixins.spec.ts
  packages/@o3r/styling/tsconfig.spec.json
Labels: bug, project:@o3r/styling

#1040 feat: add letters to otter logo
  assets/logo/flavors/letters/otter-e.png
  assets/logo/flavors/letters/otter-letters.png
  assets/logo/flavors/letters/otter-o.png
  assets/logo/flavors/letters/otter-r.png
  assets/logo/flavors/letters/otter-t.png
  assets/logo/otter.svg
Labels: enhancement

#1032 fix(sdk): call yarn set version at sdk creation
  packages/@ama-sdk/create/src/index.ts
Labels: bug, project:@ama-sdk/create

#1045 fix: testing config at generation time
  packages/@o3r/core/schematics/sdk/rules/update-ts-paths.rule.ts
  packages/@o3r/testing/schematics/ng-add/fixture/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/templates/project/jest.config.js.template
Labels: bug, project:@o3r/core, project:@o3r/testing

#1056 feat(actions): explicitly install yarn command
  assets/otter.png
  tools/github-actions/setup/action.yml
Labels: bug, enhancement

#1055 fix(cascading): template to integrate the push command
  apps/github-cascading-app/src/cascading/templates/pull-request-content.ejs
Labels: bug, project:@o3r/github-cascading-app

#1060 fix: remove not used scripts in monorepo sdk
  packages/@o3r/core/package.json
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
Labels: bug, project:@o3r/core, project:@o3r/workspace

#1058 feat(component): generate a simple component by default
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/component/index.ts
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/component/presenter/schema.json
  packages/@o3r/core/schematics/component/schema.json
  packages/@o3r/core/schematics/component/structures.types.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/analytics

#1063 fix: package.json in outputs for ama-sdk/core
  packages/@ama-sdk/core/package.json
Labels: bug, project:@ama-sdk/core

#1068 fix: o3r schematics build fails because it uses its own dist as input
  packages/@o3r/schematics/src/modules/modules.display.rule.ts
Labels: bug, project:@o3r/schematics

#835 feat(dpf-18714): inNextMinutes operator
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/assets/rules/rulesets.json
  apps/showcase/src/services/current-time-facts.service.ts
  docs/rules-engine/facts.md
  docs/rules-engine/operators.md
  docs/rules-engine/rule.md
  packages/@o3r/rules-engine/builders/rules-engine-extractor/helpers/rules-engine.extractor.interfaces.ts
  packages/@o3r/rules-engine/builders/rules-engine-extractor/helpers/rules-engine.extractor.ts
  packages/@o3r/rules-engine/project.json
  packages/@o3r/rules-engine/schemas/rulesets.schema.json
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.ts
  packages/@o3r/rules-engine/src/engine/debug/helpers.ts
  packages/@o3r/rules-engine/src/engine/engine.interface.ts
  packages/@o3r/rules-engine/src/engine/engine.ts
  packages/@o3r/rules-engine/src/engine/fact/fact.interfaces.ts
  packages/@o3r/rules-engine/src/engine/operator/index.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.interface.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/date-based.operators.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/date-based.operators.ts
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
  packages/@o3r/rules-engine/src/engine/structure.ts
  packages/@o3r/rules-engine/src/facts/current-time/current-time-fact-factories.ts
  packages/@o3r/rules-engine/src/facts/current-time/current-time.facts.ts
  packages/@o3r/rules-engine/src/facts/current-time/index.ts
  packages/@o3r/rules-engine/src/facts/index.ts
  packages/@o3r/rules-engine/src/public_api.ts
  packages/@o3r/rules-engine/src/services/rules-engine.service.it.spec.ts
  packages/@o3r/rules-engine/src/services/rules-engine.service.ts
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/showcase

#1067 fix: yarnrc was not generated in the same location as the templates
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
Labels: bug, project:@ama-sdk/schematics, project:@o3r/workspace

#1082 test: increase timeout for ama-sdk-schematics unit tests
  packages/@ama-sdk/schematics/jest.config.js
Labels: project:@ama-sdk/schematics

#1084 fix: create application not working
  packages/@o3r/workspace/schematics/application/index.ts
Labels: bug, project:@o3r/workspace

#1083 fix: additional properties not working for new application or component
  packages/@o3r/workspace/schematics/application/schema.json
Labels: bug, project:@o3r/core, project:@o3r/workspace

#1085 feat(linter): new template rule to detect innerhtml
  docs/linter/eslint-plugin/rules/no-inner-html.md
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/template/no-inner-html/no-inner-html.spec.ts
  packages/@o3r/eslint-plugin/src/rules/template/no-inner-html/no-inner-html.ts
Labels: enhancement, project:@o3r/eslint-plugin

#1092 [cascading] from 9.4 to 9.5.0-rc
  packages/@o3r/workspace/schematics/application/index.ts
Labels: bug, project:@o3r/workspace

#1089 feat(config): linter to detect invalid config property type
  docs/linter/eslint-plugin/rules/no-multiple-type-configuration-property.md
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-multiple-type-configuration-property/no-multiple-type-configuration-property.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-multiple-type-configuration-property/no-multiple-type-configuration-property.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-widget-tags/o3r-widget-tags.ts
  packages/@o3r/eslint-plugin/src/rules/utils.ts
Labels: enhancement, project:@o3r/eslint-plugin

#1097 fix: missing return to line on readme
  README.md
Labels: bug, documentation

#1098 fix(ama-sdk-schematics): add target folder to nx inputs of prepare-bu…
  .nxignore
Labels: bug

#1088 feat(config): improve performance by not recomputing configuration if not impacted
  packages/@o3r/configuration/src/services/configuration/configuration.base.service.spec.ts
  packages/@o3r/configuration/src/services/configuration/configuration.base.service.ts
  packages/@o3r/configuration/src/stores/configuration/configuration.selectors.ts
  packages/@o3r/configuration/src/stores/configuration/configuration.state.ts
Labels: enhancement, project:@o3r/configuration

#1101 feat(config): support global configuration categories
  apps/showcase/project.json
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.parser.ts
  packages/@o3r/components/builders/component-extractor/index.ts
  packages/@o3r/components/builders/component-extractor/schema.json
  packages/@o3r/components/builders/component-extractor/schema.ts
Labels: enhancement, project:@o3r/components, project:@o3r/showcase
