Repository AmadeusITGroup/otter, pull requests merged in 2023-12, with the labels that each got.

#1099 chore: upgrade fullstory major version
  packages/@o3r/logger/package.json
  packages/@o3r/logger/src/services/fullstory-logger-client/fullstory-logger-client.ts
  yarn.lock
Labels: project:@o3r/logger

#1103 fix: set enableScripts to false by default
  .yarnrc.yml
Labels: bug

#1110 feat(renovate): activate lockfileMaintenance once per week
  .renovaterc.json
Labels: enhancement

#1108 Chore: cleanup lint task config
  apps/chrome-devtools/project.json
  apps/github-cascading-app/project.json
  apps/showcase/project.json
  apps/vscode-extension/project.json
  nx.json
  packages/@ama-sdk/core/project.json
  packages/@ama-sdk/create/project.json
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/showcase-sdk/project.json
  packages/@ama-sdk/swagger-builder/project.json
  packages/@ama-terasu/cli/project.json
  packages/@ama-terasu/core/project.json
  packages/@ama-terasu/schematics/project.json
  packages/@o3r/amaterasu/amaterasu-api-spec/project.json
  packages/@o3r/amaterasu/amaterasu-dodo/project.json
  packages/@o3r/amaterasu/amaterasu-otter/project.json
  packages/@o3r/amaterasu/amaterasu-sdk/project.json
  packages/@o3r/analytics/project.json
  packages/@o3r/apis-manager/project.json
  packages/@o3r/application/project.json
  packages/@o3r/artifactory-tools/project.json
  packages/@o3r/azure-tools/project.json
  packages/@o3r/components/project.json
  packages/@o3r/configuration/project.json
  packages/@o3r/core/project.json
  packages/@o3r/create/project.json
  packages/@o3r/dev-tools/project.json
  packages/@o3r/dynamic-content/project.json
  packages/@o3r/eslint-config-otter/project.json
  packages/@o3r/eslint-plugin/project.json
  packages/@o3r/extractors/project.json
  packages/@o3r/forms/project.json
  packages/@o3r/localization/project.json
  packages/@o3r/logger/project.json
  packages/@o3r/mobile/project.json
  packages/@o3r/routing/project.json
  packages/@o3r/rules-engine/project.json
  packages/@o3r/schematics/project.json
  packages/@o3r/store-sync/project.json
  packages/@o3r/storybook/project.json
  packages/@o3r/stylelint-plugin/project.json
  packages/@o3r/styling/project.json
  packages/@o3r/test-helpers/project.json
  packages/@o3r/testing/project.json
  packages/@o3r/third-party/project.json
  packages/@o3r/workspace/project.json
  tools/github-actions/audit/project.json
  tools/github-actions/cascading/project.json
  tools/github-actions/get-npm-tag/project.json
  tools/github-actions/new-version/project.json
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools

#1109 feat: update version-harmonize documentation
  docs/dev-tools/DEV_TOOLS.md
  packages/@o3r/dev-tools/README.md
  packages/@o3r/dev-tools/src/cli/version-harmonize.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/.eslintrc.js.template
Labels: documentation, enhancement, project:@o3r/eslint-config-otter, project:@o3r/dev-tools

#1106 feat: support standalone applications
  packages/@o3r/apis-manager/schematics/helpers/update-api-deps/index.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/rule-factories/additional-modules/index.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.ts
  packages/@o3r/schematics/src/utility/file-info.ts
  packages/@o3r/schematics/src/utility/modules.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-angular.ts
  packages/@o3r/test-helpers/src/utilities/angular.ts
  packages/@o3r/workspace/schematics/application/schema.json
Labels: enhancement, project:@o3r/core, project:@o3r/localization, project:@o3r/application, project:@o3r/apis-manager, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/workspace

#1111 feat(chrome-devtools): migrate to Design Factory
  apps/chrome-devtools/package.json
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.template.html
  apps/chrome-devtools/src/components/otter-component/otter-component.component.html
  apps/chrome-devtools/src/styles/index.scss
  apps/showcase/src/app/app.component.spec.ts
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/tsconfig.app.json
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/showcase

#1115 feat(config): support jsdoc for categories declaration
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  docs/configuration/CONFIGURATION_SUPPORTED_EXTRACTOR.md
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/extractors/migration.json
  packages/@o3r/extractors/package.json
  packages/@o3r/extractors/schematics/ng-update/v10-0/configuration-extractor-categories/configuration-extractor-categories.spec.ts
  packages/@o3r/extractors/schematics/ng-update/v10-0/configuration-extractor-categories/configuration-extractor-categories.ts
  packages/@o3r/extractors/schematics/ng-update/v10-0/configuration-extractor-categories/mocks/angular.mocks.json.template
  packages/@o3r/extractors/schematics/ng-update/v10-0/configuration-extractor-categories/mocks/config.mocks.result.ts.template
  packages/@o3r/extractors/schematics/ng-update/v10-0/configuration-extractor-categories/mocks/config.mocks.ts.template
  packages/@o3r/extractors/schematics/ng-update/v10-0/index.ts
  packages/@o3r/extractors/src/utils/config-doc.spec.ts
  packages/@o3r/extractors/src/utils/config-doc.ts
  packages/@o3r/styling/package.json
  yarn.lock
Labels: enhancement, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors, project:@o3r/showcase

#1113 fix(showcase): integration of the DF in SCSS
  apps/chrome-devtools/project.json
  apps/showcase/project.json
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/styling, project:@o3r/showcase

#1118 feat(eslint-plugin): yarnrc version harmonize
  .eslintignore
  .eslintrc.js
  .vscode/settings.json
  .yarnrc.yml
  docs/linter/eslint-plugin/rules/json-dependency-versions-harmonize.md
  docs/linter/eslint-plugin/rules/yarnrc-package-extensions-harmonize.md
  package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
  packages/@o3r/eslint-plugin/src/rules/json/utils.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/utils.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.ts
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: enhancement, project:@o3r/styling, project:@o3r/eslint-plugin, project:@o3r/workspace

#1125 feat: add integration test for Otter Create package
  package.json
  packages/@o3r/create/.eslintrc.js
  packages/@o3r/create/package.json
  packages/@o3r/create/project.json
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/create/src/index.ts
  packages/@o3r/create/testing/jest.config.it.js
  packages/@o3r/create/tsconfig.build.json
  packages/@o3r/create/tsconfig.json
  packages/@o3r/create/tsconfig.spec.json
  packages/@o3r/test-helpers/src/public_api.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  packages/@o3r/test-helpers/tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/create, project:@o3r/test-helpers

#1133 fix(component): clean up tsconfig file list
  packages/@o3r/components/tsconfig.build.json
  packages/@o3r/components/tsconfig.builders.json
Labels: bug, project:@o3r/components

#1131 chore(storybook): bump react dep
  packages/@o3r/storybook/package.json
  yarn.lock
Labels: project:@o3r/storybook

#1141 Cascading main into 10 next
  .github/workflows/publish-pr.yml
  .renovaterc.json
  .yarnrc.yml
  README.md
  apps/showcase/project.json
  docs/dev-tools/DEV_TOOLS.md
  docs/linter/eslint-plugin/rules/no-multiple-type-configuration-property.md
  packages/@o3r/components/builders/component-extractor/helpers/component/component.parser.ts
  packages/@o3r/components/builders/component-extractor/index.ts
  packages/@o3r/components/builders/component-extractor/schema.json
  packages/@o3r/components/builders/component-extractor/schema.ts
  packages/@o3r/components/tsconfig.build.json
  packages/@o3r/components/tsconfig.builders.json
  packages/@o3r/configuration/src/services/configuration/configuration.base.service.spec.ts
  packages/@o3r/configuration/src/services/configuration/configuration.base.service.ts
  packages/@o3r/configuration/src/stores/configuration/configuration.selectors.ts
  packages/@o3r/configuration/src/stores/configuration/configuration.state.ts
  packages/@o3r/dev-tools/README.md
  packages/@o3r/dev-tools/src/cli/version-harmonize.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/.eslintrc.js.template
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-multiple-type-configuration-property/no-multiple-type-configuration-property.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-multiple-type-configuration-property/no-multiple-type-configuration-property.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-widget-tags/o3r-widget-tags.ts
  packages/@o3r/eslint-plugin/src/rules/utils.ts
  packages/@o3r/storybook/addon/register.tsx
  packages/@o3r/storybook/package.json
  test.json
  tools/github-actions/download-build-output/action.yml
  yarn.lock
Labels: bug, documentation, enhancement, cascading, project:@o3r/chrome-devtools, project:@o3r/components, project:@o3r/storybook, project:@o3r/configuration, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/dev-tools, project:@o3r/showcase

#1135 fix(rules-engine): deprecate executor's prepareRuleset function
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
Labels: bug, project:@o3r/rules-engine

#1138 fix(showcase): lighthouse accessibility report
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/configuration/configuration.template.html
  apps/showcase/src/app/dynamic-content/dynamic-content.template.html
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/components/showcase/basic/basic-pres.template.html
  apps/showcase/src/components/showcase/configuration/configuration-pres.template.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.template.html
  apps/showcase/src/components/showcase/localization/localization-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.template.html
  apps/showcase/src/styles.scss
Labels: bug, project:@o3r/showcase

#1121 feat: matches basic operator
  docs/rules-engine/operators.md
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/array-based.operators.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/basic.operators.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/basic.operators.ts
Labels: enhancement, project:@o3r/rules-engine

#1139 fix(loc): validation on localization metadata
  apps/showcase/project.json
  packages/@o3r/components/builders/component-extractor/index.ts
  packages/@o3r/localization/builders/helpers/localization.generator.ts
  packages/@o3r/localization/builders/localization-extractor/index.ts
  packages/@o3r/localization/builders/localization-extractor/schema.json
  packages/@o3r/localization/builders/localization-extractor/schema.ts
  packages/@o3r/localization/schemas/localization.metadata.schema.json
Labels: bug, project:@o3r/localization, project:@o3r/components, project:@o3r/showcase

#674 feat: captcha support on sdk plugins
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/plugins/core/fetch-plugin.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.fetch.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.spec.ts
Labels: enhancement, project:@ama-sdk/core

#797 chore: bump some major deps
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-terasu/cli/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: dependencies, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/generator-sdk, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@ama-terasu/cli, project:@o3r/eslint-config-otter, project:@o3r/github-cascading-app, project:@o3r/create, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design

#1144 feat: otters of the week
  assets/logo/flavors/holiday-special/otter-christmas1.png
  assets/logo/flavors/holiday-special/otter-christmas2.png
  assets/logo/flavors/holiday-special/otter-christmas3.png
  assets/logo/flavors/oaktter.png
  assets/logo/otter.svg
Labels: enhancement

#1148 fix: it-tests
  packages/@o3r/application/package.json
  packages/@o3r/components/builders/component-extractor/index.ts
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/localization/builders/localization-extractor/index.ts
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/styling/package.json
Labels: bug, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling

#1147 fix(schematics): do not run eslint if not installed
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/rule-factories/eslint-fix/index.ts
  yarn.lock
Labels: bug, project:@o3r/schematics

#1145 fix(swagger-builder): remove mkdirp dependency
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-sdk/swagger-builder/src/core/formatters/json-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/formatters/split-yaml-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/formatters/yaml-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/swagger-spec-wrappers/swagger-spec-json.ts
  packages/@ama-sdk/swagger-builder/src/core/swagger-spec-wrappers/swagger-spec-split.ts
  packages/@ama-sdk/swagger-builder/src/core/swagger-spec-wrappers/swagger-spec-yaml.ts
  packages/@ama-sdk/swagger-builder/src/core/utils.ts
  yarn.lock
Labels: bug, project:@ama-sdk/swagger-builder

#1152 feat: captcha support on sdk plugins
  packages/@ama-sdk/core/src/fwk/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/plugins/core/fetch-plugin.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.fetch.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.spec.ts
Labels: enhancement

#1156 chore: upgrade major deps
  .renovaterc.json
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/chrome-devtools/project.json
  apps/chrome-devtools/src/styles/index.scss
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/mobile/pcloudy/pcloudy.api.ts
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/addon/exporter.tsx
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design

#1155 [cascading] Merge release 8.3 into release 9.5
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/plugins/core/fetch-plugin.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.fetch.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.spec.ts
Labels: cascading

#1157 fix(cascading): the template of the cascading pull request content
  apps/github-cascading-app/src/cascading/templates/pull-request-content.ejs
Labels: bug, project:@o3r/github-cascading-app

#1122 test: add unit test for builders
  jest.config.ut.js
  packages/@o3r/components/builders/component-extractor/index.spec.ts
  packages/@o3r/components/builders/component-extractor/index.ts
  packages/@o3r/components/package.json
  packages/@o3r/components/testing/setup-jest.ts
  packages/@o3r/components/tsconfig.spec.json
  packages/@o3r/core/builders/app-version/index.spec.ts
  packages/@o3r/core/builders/app-version/index.ts
  packages/@o3r/core/builders/pattern-replacement/index.spec.ts
  packages/@o3r/core/builders/pattern-replacement/index.ts
  packages/@o3r/core/package.json
  packages/@o3r/core/testing/setup-jest.ts
  packages/@o3r/core/tsconfig.spec.json
  packages/@o3r/extractors/src/utils/common.ts
  packages/@o3r/localization/builders/i18n/index.spec.ts
  packages/@o3r/localization/builders/localization-extractor/index.spec.ts
  packages/@o3r/localization/builders/localization/index.spec.ts
  packages/@o3r/localization/builders/localization/index.ts
  packages/@o3r/localization/package.json
  packages/@o3r/localization/testing/setup-jest.ts
  packages/@o3r/rules-engine/builders/rules-engine-extractor/index.spec.ts
  packages/@o3r/rules-engine/package.json
  packages/@o3r/rules-engine/testing/setup-jest.ts
  packages/@o3r/rules-engine/tsconfig.eslint.json
  packages/@o3r/rules-engine/tsconfig.spec.json
  packages/@o3r/styling/builders/style-extractor/index.spec.ts
  packages/@o3r/styling/jest.config.js
  packages/@o3r/styling/package.json
  packages/@o3r/styling/testing/setup-jest.ts
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/project.json
  packages/@o3r/test-helpers/src/setup-jest/index.ts
  packages/@o3r/test-helpers/src/utilities/index.ts
  packages/@o3r/test-helpers/src/utilities/virtual-fs.ts
  packages/@o3r/workspace/testing/setup-jest.ts
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Labels: project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors, project:@o3r/test-helpers, project:@o3r/workspace

#1162 fix(1161): use options from 2nd argument
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-widget-tags/o3r-widget-tags.ts
Labels: bug, project:@o3r/eslint-plugin

#1166 fix(cascading): publish cascading application on main branch
  .github/workflows/publish.yml
  apps/github-cascading-app/src/cascading/templates/pull-request-content.ejs
Labels: bug, project:@o3r/github-cascading-app

#1165 chore(style-lint): bump stylelint dependency
  apps/chrome-devtools/project.json
  apps/github-cascading-app/project.json
  apps/showcase/project.json
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  apps/vscode-extension/project.json
  nx.json
  package.json
  packages/@ama-sdk/core/project.json
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/swagger-builder/project.json
  packages/@ama-terasu/cli/project.json
  packages/@ama-terasu/core/project.json
  packages/@ama-terasu/schematics/project.json
  packages/@o3r/amaterasu/amaterasu-api-spec/project.json
  packages/@o3r/amaterasu/amaterasu-dodo/project.json
  packages/@o3r/amaterasu/amaterasu-otter/project.json
  packages/@o3r/amaterasu/amaterasu-sdk/project.json
  packages/@o3r/analytics/project.json
  packages/@o3r/apis-manager/project.json
  packages/@o3r/application/project.json
  packages/@o3r/artifactory-tools/project.json
  packages/@o3r/azure-tools/project.json
  packages/@o3r/components/project.json
  packages/@o3r/configuration/project.json
  packages/@o3r/core/project.json
  packages/@o3r/design/project.json
  packages/@o3r/dev-tools/project.json
  packages/@o3r/dynamic-content/project.json
  packages/@o3r/eslint-plugin/project.json
  packages/@o3r/extractors/project.json
  packages/@o3r/forms/project.json
  packages/@o3r/localization/project.json
  packages/@o3r/logger/project.json
  packages/@o3r/mobile/project.json
  packages/@o3r/routing/project.json
  packages/@o3r/rules-engine/project.json
  packages/@o3r/schematics/project.json
  packages/@o3r/store-sync/project.json
  packages/@o3r/storybook/project.json
  packages/@o3r/stylelint-plugin/jest.config.js
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/stylelint-plugin/project.json
  packages/@o3r/stylelint-plugin/src/rules/o3r-var-parameter-equal-variable/o3r-var-parameter-equal-variable.spec.ts
  packages/@o3r/stylelint-plugin/testing/jest.setup.ts
  packages/@o3r/styling/package.json
  packages/@o3r/styling/project.json
  packages/@o3r/test-helpers/project.json
  packages/@o3r/testing/project.json
  packages/@o3r/third-party/project.json
  packages/@o3r/workspace/project.json
  tools/github-actions/cascading/project.json
  tools/github-actions/new-version/project.json
  yarn.lock
Labels: bug, enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design

#1163 feat: document timeout pause event
  packages/@ama-sdk/core/src/plugins/timeout/readme.md
Labels: enhancement, project:@ama-sdk/core

#1169 feat: removed the dependency inner package builds
  nx.json
Labels: enhancement

#1172 feat: reduce postinstall time
  package.json
  yarn.lock
Labels: enhancement

#1174 fix(1161): use options from 2nd argument
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-categories-tags/o3r-categories-tags.ts
Labels: bug, project:@o3r/eslint-plugin

#1173 fix(security): remove cpx and glob dependency from the monorepo
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/showcase-sdk/scripts/files-pack.js
  packages/@ama-sdk/showcase-sdk/scripts/override-readme.js
  packages/@ama-sdk/showcase-sdk/scripts/restore-readme.js
  yarn.lock
Labels: bug, project:@ama-sdk/showcase-sdk
