Repository AmadeusITGroup/otter, pull requests merged in 2023-09, with the labels that each got.

#715 improvement: reduce number of installs during ng-add
  packages/@o3r/schematics/src/rule-factories/ng-add/index.ts
  packages/@o3r/schematics/src/utility/modules.ts
Labels: project:@o3r/schematics

#722 fix(new-version): setup release branch name regexp + failure if version number cannot be computed
  .github/workflows/main.yml
  tools/github-actions/new-version/readme.md
  tools/github-actions/new-version/src/main.ts
Labels: bug

#725 feat: bump github action
  .github/workflows/audit.yml
  .github/workflows/clean-cache.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/pr-labels.yml
  .github/workflows/publish.yml
  .renovaterc.json
Labels: enhancement

#730 fix: renovate manager
  .renovaterc.json
Labels: bug

#733 fix(components): component style should be wrapped into the component selector
  packages/@o3r/core/schematics/component/presenter/index.ts
Labels: bug

#716 fix: ng-add, some files incorrectly generated in the context of monorepo
  packages/@o3r/apis-manager/schematics/helpers/update-api-deps/index.ts
  packages/@o3r/apis-manager/schematics/ng-add/index.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/components/schematics/cms-adapter/index.ts
  packages/@o3r/core/schematics/component/container/index.spec.ts
  packages/@o3r/core/schematics/component/presenter/index.spec.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/rule-factories/additional-modules/index.ts
  packages/@o3r/core/schematics/rule-factories/component/common.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/core/schematics/shared/presets/helpers.ts
  packages/@o3r/core/schematics/shared/presets/preset.interface.ts
  packages/@o3r/core/testing/setup-jest.ts
  packages/@o3r/extractors/schematics/cms-adapter/index.ts
  packages/@o3r/extractors/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/cms-adapter/index.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/cms-adapter/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/index.ts
  packages/@o3r/schematics/src/utility/file-info.ts
  packages/@o3r/schematics/src/utility/modules.ts
  packages/@o3r/styling/schematics/cms-adapter/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/theme-files/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
Labels: bug, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/application, project:@o3r/styling, project:@o3r/extractors, project:@o3r/apis-manager, project:@o3r/schematics

#741 fix(schematics): return the tree in the schematics
  packages/@o3r/core/schematics/component/presenter/index.ts
Labels: bug

#740 feat: propagate the argument to the ng add otter schematic
  packages/@o3r/create/package.json
  packages/@o3r/create/src/index.ts
  yarn.lock
Labels: enhancement, project:@o3r/create

#712 feat: add information to cascading pull request
  .eslintignore
  apps/github-cascading-app/src/cascading/cascading-probot.ts
  apps/github-cascading-app/src/cascading/cascading.spec.ts
  apps/github-cascading-app/src/cascading/cascading.ts
  apps/github-cascading-app/src/cascading/interfaces.ts
  apps/github-cascading-app/src/cascading/templates/pull-request-content.ejs
Labels: enhancement, project:@o3r/github-cascading-app

#717 feat: support of ab testing via a dedicated bridge
  docs/README.md
  docs/ab-testing/AB_TESTING.md
  packages/@o3r/third-party/README.md
  packages/@o3r/third-party/package.json
  packages/@o3r/third-party/src/bridge/ab-testing/ab-testing-bridge.spec.ts
  packages/@o3r/third-party/src/bridge/ab-testing/ab-testing-bridge.ts
  packages/@o3r/third-party/src/bridge/ab-testing/index.ts
  packages/@o3r/third-party/src/bridge/index.ts
  yarn.lock
Labels: enhancement, project:@o3r/third-party

#744 fix(playwright): use @playwright/test instead of playwright
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/core/playwright/element.ts
  yarn.lock
Labels: bug, project:@o3r/testing

#750 fix: run monorepo setup when no standalone app
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/create/src/index.ts
  packages/@o3r/schematics/src/utility/monorepo.ts
Labels: bug, project:@o3r/core, project:@o3r/create, project:@o3r/schematics

#743 fix: remove x-prompt for Otter ng-add
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/ng-add/schema.ts
Labels: bug, project:@o3r/core

#754 fix(precommit): run nx i18n command only for affected project
  .husky/pre-commit
Labels: bug

#714 feat(schematics): add otter application to monorepo
  packages/@o3r/core/README.md
  packages/@o3r/core/collection.json
  packages/@o3r/core/schematics/application/index.spec.ts
  packages/@o3r/core/schematics/application/index.ts
  packages/@o3r/core/schematics/application/schema.json
  packages/@o3r/core/schematics/application/schema.ts
  packages/@o3r/core/schematics/application/templates/package.json.template
Labels: enhancement, project:@o3r/core

#757 fix: scripts in package json at monorepo creation
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/rule-factories/monorepo/index.ts
Labels: bug

#767 fix: missing project-name in ng-add schematics
  packages/@o3r/apis-manager/schematics/ng-add/index.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/configuration/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/component/container/index.ts
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
  packages/@o3r/core/schematics/store/entity-async/index.ts
  packages/@o3r/core/schematics/store/entity-sync/index.ts
  packages/@o3r/core/schematics/store/simple-async/index.ts
  packages/@o3r/core/schematics/store/simple-sync/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/extractors/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/mobile/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/index.ts
  packages/@o3r/store-sync/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/test-helpers/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/playwright/sanity/index.ts
  packages/@o3r/testing/schematics/playwright/scenario/index.ts
Labels: bug, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/apis-manager, project:@o3r/eslint-config-otter, project:@o3r/test-helpers, project:@o3r/schematics

#772 fix: ng g application schematics needs relative path
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/application/index.ts
Labels: bug, project:@o3r/core

#773 feat: option to generate the sdk at sdk creation inside monorepo
  packages/@ama-sdk/generator-sdk/src/generators/shell/templates/base/package.json
  packages/@o3r/core/schematics/sdk/index.ts
  packages/@o3r/core/schematics/sdk/schema.json
  packages/@o3r/core/schematics/sdk/schema.ts
Labels: enhancement, project:@ama-sdk/generator-sdk, project:@o3r/core

#763 fix: showcase build fail on initial setup
  apps/showcase/project.json
  nx.json
Labels: bug, project:@o3r/core, project:@o3r/showcase

#778 perf: performance improvement for jsonpath in placeholders
  packages/@o3r/rules-engine/src/services/rules-engine.effect.spec.ts
  packages/@o3r/rules-engine/src/services/rules-engine.effect.ts
Labels: project:@o3r/rules-engine

#777 fix: library generator correct path and name
  packages/@o3r/core/schematics/library/index.ts
Labels: bug, project:@o3r/core

#775 ci: it-tests improvements
  .github/workflows/it-tests.yml
  .verdaccio/conf/config-without-docker.yaml
  .verdaccio/conf/config.yaml
  package.json
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-angular.ts
Labels: project:@o3r/test-helpers

#783 perf: make component generators rely on tree instead of file system
  packages/@o3r/core/schematics/component/container/index.spec.ts
  packages/@o3r/core/schematics/component/container/index.ts
  packages/@o3r/core/schematics/component/presenter/index.spec.ts
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/rule-factories/component/analytics.ts
  packages/@o3r/core/schematics/rule-factories/component/common.ts
  packages/@o3r/core/schematics/rule-factories/component/configuration.ts
  packages/@o3r/core/schematics/rule-factories/component/context.ts
  packages/@o3r/core/schematics/rule-factories/component/fixture.ts
  packages/@o3r/core/schematics/rule-factories/component/localization.ts
  packages/@o3r/core/schematics/rule-factories/component/rules-engine.ts
  packages/@o3r/core/schematics/rule-factories/component/theming.ts
  packages/@o3r/core/testing/mocks/package.mocks.json
Labels: project:@o3r/core

#785 fix: ruleset json schema did not allow array values for operators rhs
  packages/@o3r/rules-engine/schemas/rulesets.schema.json
Labels: bug, project:@o3r/rules-engine

#802 fix: verdaccio ama-terasu registry
  package.json
Labels: bug

#796 fix: monorepo - chain shell and core sdk generators
  packages/@o3r/core/schematics/sdk/index.ts
Labels: bug, project:@o3r/core

#786 improvement: use svg for showcase favicon
  apps/showcase/project.json
  apps/showcase/src/favicon.ico
  apps/showcase/src/favicon.svg
  apps/showcase/src/index.html
Labels: project:@o3r/showcase

#801 fix: git ignore node_modules of monorepo projects
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/rule-factories/generic-updates/index.ts
  packages/@o3r/core/schematics/rule-factories/index.ts
Labels: bug, project:@o3r/core

#758 feat(metadata): deprecate unused component metadata properties
  packages/@o3r/components/builders/component-extractor/helpers/component/component-class.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-module.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.parser.ts
  packages/@o3r/components/schemas/component.metadata.schema.json
  packages/@o3r/components/src/core/component.output.ts
Labels: enhancement, project:@o3r/components

#759 feat(metadata): remove deprecated component metadata properties
  packages/@o3r/components/builders/component-extractor/helpers/component/component-class.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-module.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.parser.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/index.ts
  packages/@o3r/components/schemas/component.metadata.schema.json
  packages/@o3r/components/src/core/component.output.ts
Labels: enhancement, project:@o3r/components

#794 chore: enforce node 18
  apps/github-cascading-app/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/generator-sdk/package.json
  packages/@ama-sdk/generator-sdk/src/generators/shell/templates/azure/azure/templates/steps/setup.yml
  packages/@ama-sdk/generator-sdk/src/generators/shell/templates/base/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/README.md
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/renovate/templates/azure-pipelines.ugrade.yml
  packages/@o3r/core/schematics/rule-factories/azure-pipeline/templates/azure/templates/steps/setup.yml.template
  packages/@o3r/create/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  tools/github-actions/audit/action.yml
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/action.yml
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/action.yml
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/action.yml
  tools/github-actions/new-version/package.json
  tools/github-actions/setup/readme.md
Labels: dependencies, project:@ama-sdk/core, project:@ama-sdk/generator-sdk, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools

#710 ci: draft of it test for monorepo
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/index.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-angular-with-o3r-core.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-angular.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-blank.ts
  packages/@o3r/test-helpers/src/utilities/create-with-lock.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Labels: bug, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/apis-manager, project:@o3r/eslint-config-otter, project:@o3r/test-helpers, project:@o3r/schematics

#813 fix: do not export ama-sdk-core as es module by default
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/project.json
  packages/@ama-sdk/core/tsconfig.build.json
Labels: bug, project:@ama-sdk/core

#814 fix(eslint-config): add missing rule peer dependency
  package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Labels: bug, project:@o3r/eslint-config-otter

#811 feat: deprecate getProjectFromTree helper
  packages/@o3r/apis-manager/schematics/helpers/update-api-deps/index.ts
  packages/@o3r/apis-manager/schematics/ng-add/index.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/components/schematics/cms-adapter/index.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/configuration/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/component/container/index.ts
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/ng-add/updates-for-v8/cms-adapters/update-builders-names.ts
  packages/@o3r/core/schematics/ng-add/updates-for-v8/generators/update-generators-names.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/rule-factories/additional-modules/index.ts
  packages/@o3r/core/schematics/rule-factories/azure-pipeline/index.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/o3r-basic-updates/index.ts
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
  packages/@o3r/core/schematics/service/index.ts
  packages/@o3r/core/schematics/shared/presets/helpers.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/index.ts
  packages/@o3r/extractors/schematics/cms-adapter/index.ts
  packages/@o3r/extractors/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/cms-adapter/index.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/mobile/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/cms-adapter/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/schematics/src/interfaces/angular-workspace.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/index.ts
  packages/@o3r/schematics/src/utility/generation.ts
  packages/@o3r/schematics/src/utility/loaders.ts
  packages/@o3r/schematics/src/utility/modules.ts
  packages/@o3r/store-sync/schematics/ng-add/index.ts
  packages/@o3r/storybook/schematics/ng-add/index.ts
  packages/@o3r/storybook/schematics/storybook-base/index.ts
  packages/@o3r/styling/schematics/cms-adapter/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/theme-files/index.ts
  packages/@o3r/testing/schematics/ng-add/fixture/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/playwright/sanity/index.spec.ts
  packages/@o3r/testing/schematics/playwright/sanity/index.ts
  packages/@o3r/testing/schematics/playwright/scenario/index.spec.ts
  packages/@o3r/testing/schematics/playwright/scenario/index.ts
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/apis-manager, project:@o3r/eslint-config-otter, project:@o3r/schematics

#820 fix: showcase app build
  apps/showcase/tsconfig.app.json
Labels: bug, project:@o3r/showcase

#761 fix: trim inputs to avoid extra - and spaces in the names
  packages/@o3r/core/schematics/store/entity-async/index.ts
  packages/@o3r/core/schematics/store/entity-async/templates/__storeName@dasherize__.state.ts
  packages/@o3r/core/schematics/store/entity-sync/index.ts
  packages/@o3r/core/schematics/store/entity-sync/templates/__storeName@dasherize__.state.ts
  packages/@o3r/core/schematics/store/simple-async/index.ts
  packages/@o3r/core/schematics/store/simple-sync/index.ts
Labels: bug, project:@o3r/core

#823 feat: add syntax highlight to showcase code snippets
  apps/showcase/package.json
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/configuration/configuration.template.html
  apps/showcase/src/app/dynamic-content/dynamic-content.template.html
  apps/showcase/src/app/localization/localization.template.html
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/app/run-app-locally/run-app-locally.template.html
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.component.ts
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.style.scss
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.template.html
  apps/showcase/src/styles.scss
  yarn.lock
Labels: enhancement, project:@o3r/showcase

#756 feat: create a dedicated error for cli script with environment information
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/code-generator/code-generator.ts
  packages/@o3r/analytics/schematics/analytics-to-component/index.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.parser.ts
  packages/@o3r/components/builders/component-extractor/index.ts
  packages/@o3r/configuration/schematics/configuration-to-component/index.ts
  packages/@o3r/core/schematics/context-to-component/index.ts
  packages/@o3r/core/schematics/convert-component/index.ts
  packages/@o3r/core/schematics/library/index.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/rule-factories/component/common.ts
  packages/@o3r/core/schematics/sdk/index.ts
  packages/@o3r/extractors/src/utils/common.ts
  packages/@o3r/localization/builders/helpers/localization.generator.ts
  packages/@o3r/localization/builders/localization-extractor/index.ts
  packages/@o3r/localization/builders/localization/index.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/localization-to-component/index.ts
  packages/@o3r/rules-engine/builders/rules-engine-extractor/helpers/rules-engine.extractor.ts
  packages/@o3r/rules-engine/schematics/rules-engine-to-component/index.spec.ts
  packages/@o3r/rules-engine/schematics/rules-engine-to-component/index.ts
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/cli/environment.ts
  packages/@o3r/schematics/src/rule-factories/check-packages-peers/index.ts
  packages/@o3r/schematics/src/utility/component.ts
  packages/@o3r/schematics/src/utility/environment.ts
  packages/@o3r/schematics/src/utility/error.ts
  packages/@o3r/schematics/src/utility/generation.ts
  packages/@o3r/schematics/src/utility/index.ts
  packages/@o3r/schematics/src/utility/package-manager-runner.ts
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/schematics/theming-to-component/index.ts
  packages/@o3r/testing/schematics/add-functions-to-fixture/index.ts
  packages/@o3r/testing/schematics/fixture-to-component/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/playwright/sanity/index.ts
  packages/@o3r/testing/schematics/playwright/scenario/index.ts
  packages/@o3r/third-party/schematics/iframe-to-component/index.ts
  yarn.lock
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/analytics, project:@o3r/schematics

#769 feat: ignore project label calculation for cascading PR
  .github/.pr-labelrc.json
  tools/@o3r/build-helpers/schemas/pr-labels.configuration.schema.json
  tools/@o3r/build-helpers/scripts/pr-labels.mjs
Labels: enhancement, project:@o3r/build-helpers

#822 Fix/invalid content type openapi generator
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
Labels: bug

#830 feat: showcase layout
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/app/app-routing.module.ts
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/app.component.scss
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/configuration/configuration.template.html
  apps/showcase/src/app/dynamic-content/dynamic-content.template.html
  apps/showcase/src/app/localization/localization.template.html
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/assets/otter-sticker.svg
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.component.ts
  apps/showcase/src/components/utilities/sidenav/sidenav-pres.style.scss
  apps/showcase/src/components/utilities/sidenav/sidenav-pres.template.html
  apps/showcase/src/index.html
  apps/showcase/src/styles.scss
  docs/localization/LOCALIZATION.md
  yarn.lock
Labels: enhancement, project:@o3r/showcase

#833 fix: keep angular signatures for currency pipe
  packages/@o3r/localization/src/tools/localized-currency.pipe.ts
Labels: bug, project:@o3r/localization

#840 feat(styling): expose define-var function
  .vscode/extensions.json
  package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/_index.scss
  packages/@o3r/styling/scss/theming/_functions.scss
  packages/@o3r/styling/scss/theming/_functions.spec.scss
  packages/@o3r/styling/scss/theming/_mixins.scss
  packages/@o3r/styling/scss/theming/_variables.scss
  packages/@o3r/styling/scss/theming/otter-theme/_theme.scss
  packages/@o3r/styling/scss/utils/_functions.scss
  packages/@o3r/styling/scss/utils/_functions.spec.scss
  yarn.lock
Labels: enhancement, project:@o3r/styling, project:@o3r/stylelint-plugin

#839 fix: showcase missing dep and sdk core cache
  apps/showcase/package.json
  nx.json
  yarn.lock
Labels: bug, project:@o3r/showcase

#816 feat: external preset
  packages/@o3r/core/README.md
  packages/@o3r/core/schematics/add-modules/index.ts
  packages/@o3r/core/schematics/add-modules/schema.json
  packages/@o3r/core/schematics/add-modules/schema.ts
  packages/@o3r/core/schematics/library/schema.json
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/ng-add/schema.ts
  packages/@o3r/core/schematics/sdk/rules/rules.ng.ts
  packages/@o3r/core/schematics/sdk/schema.ts
  packages/@o3r/core/schematics/shared/presets/external.preset.ts
  packages/@o3r/core/schematics/shared/presets/index.ts
  packages/@o3r/schematics/src/modules/modules.constants.ts
  packages/@o3r/testing/package.json
  yarn.lock
Labels: enhancement, project:@o3r/core, project:@o3r/testing, project:@o3r/schematics

#838 fix: showcase configuration not working
  apps/showcase/src/app/configuration/configuration.template.html
Labels: bug, project:@o3r/showcase

#837 feat: showcase scroll top button
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/components/utilities/index.ts
  apps/showcase/src/components/utilities/scroll-back-top/README.md
  apps/showcase/src/components/utilities/scroll-back-top/index.ts
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.component.ts
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.spec.ts
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.style.scss
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.template.html
Labels: enhancement, project:@o3r/showcase

#843 docs: fix grammar and typos
  docs/analytics/TRACK_EVENTS.md
  docs/cms-adapters/CMS_ADAPTERS.md
  docs/components/COMPONENT_REPLACEMENT.md
  docs/components/COMPONENT_STRUCTURE.md
  docs/components/CONTAINER_PRESENTER.md
  docs/components/FIXTURES.md
  docs/configuration/CONFIGURATION_SUPPORTED_EXTRACTOR.md
  docs/configuration/OVERVIEW.md
  docs/dev-tools/DEV_TOOLS.md
  docs/dev-tools/chrome-devtools.md
  docs/dev-tools/console-devtools.md
  docs/forms/FORM_ERRORS.md
  docs/forms/FORM_STRUCTURE.md
  docs/forms/FORM_SUBMIT_AND_INTERCOMMUNICATION.md
  docs/forms/FORM_VALIDATION.md
  docs/forms/README.md
  docs/linter/stylelint-plugin/rules/o3r-var-parameter-equal-variable.md
  docs/routing/REQUEST_PARAMETERS_SERVICE.md
  docs/routing/ROUTING.md
  docs/rules-engine/how-it-works/operators.md
  docs/rules-engine/how-to-use/create-custom-fact.md
  docs/rules-engine/how-to-use/integration.md
  docs/rules-engine/how-to-use/performance-metrics.md
  docs/sdk-tools/SDK_MODELS_HIERARCHY.md
  docs/styling/THEME.md
  docs/styling/TYPOGRAPHY.md
  docs/swagger-builder/checkers/operation-id-checker.md
  docs/swagger-builder/packaging.md
  docs/swagger-builder/readme.md
  docs/testing/POST_MESSAGE_INTERCEPTOR.md
  docs/testing/UNIT_TESTS_SETUP.md
Labels: documentation
