Repository AmadeusITGroup/otter, pull requests merged in 2023-10, with the labels that each got.

#828 feat: register devtool modules
  docs/dev-tools/chrome-devtools.md
  nx.json
  packages/@o3r/application/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/components/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.directive.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.helpers.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.service.ts
  packages/@o3r/configuration/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/configuration/schematics/ng-add/index.ts
  packages/@o3r/configuration/src/core/configurable.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/ng-add/schema.ts
  packages/@o3r/core/src/core/interfaces/configuration.ts
  packages/@o3r/localization/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/schematics/src/interfaces/angular-workspace.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/index.ts
  packages/@o3r/schematics/src/rule-factories/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/index.ts
  packages/@o3r/schematics/src/utility/collection.spec.ts
  packages/@o3r/schematics/src/utility/collection.ts
  packages/@o3r/schematics/src/utility/generation.ts
  yarn.lock
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/configuration, project:@o3r/application, project:@o3r/schematics

#842 feat: npm provenance
  .github/workflows/main.yml
  .github/workflows/publish.yml
Labels: enhancement

#836 feat: findFilenameInTree helper function
  packages/@o3r/schematics/src/utility/index.ts
  packages/@o3r/schematics/src/utility/loaders.ts
Labels: enhancement, project:@o3r/schematics

#849 feat: showcase layout improvements
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/configuration/configuration.template.html
  apps/showcase/src/app/dynamic-content/dynamic-content.template.html
  apps/showcase/src/app/localization/localization.template.html
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.style.scss
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.component.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.service.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.template.html
  apps/showcase/src/index.html
  apps/showcase/src/styles.scss
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/showcase

#848 feat: run script builder
  docs/core/OTTER_ANGULAR_TOOLS.md
  packages/@o3r/core/builders.json
  packages/@o3r/core/builders/run-script/index.ts
  packages/@o3r/core/builders/run-script/schema.json
  packages/@o3r/core/builders/run-script/schema.ts
  packages/@o3r/core/schematics/sdk/rules/rules.ng.ts
Labels: enhancement, project:@o3r/core

#851 feat: showcase - add some explanations before the examples
  apps/showcase/src/app/configuration/configuration.template.html
  apps/showcase/src/app/dynamic-content/dynamic-content.template.html
  apps/showcase/src/app/localization/localization.template.html
  apps/showcase/src/app/rules-engine/rules-engine.template.html
Labels: enhancement, project:@o3r/showcase

#864 fix: sdk run clear-index script
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: bug, project:@ama-sdk/schematics

#862 fix: invalid peer dependencies
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/testing/package.json
  yarn.lock
Labels: bug, project:@o3r/testing, project:@o3r/stylelint-plugin

#866 ci: retrofit fixes for it-tests from main
  .github/workflows/it-tests.yml
  packages/@o3r/testing/package.json
  yarn.lock
Labels: project:@o3r/testing

#865 fix: run linter task during schematics
  packages/@o3r/schematics/src/rule-factories/eslint-fix/index.ts
  packages/@o3r/schematics/src/tasks/eslint/index.ts
Labels: bug, project:@o3r/schematics

#875 Merge/9.2 9.3
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  yarn.lock
Labels: bug, project:@ama-sdk/schematics, project:@o3r/testing

#871 feat: add vscode new files config
  .vscode/settings.json
Labels: enhancement

#868 feat: create azure-tools package and move script from dev-tools into it
  packages/@o3r/azure-tools/.compodocrc.json
  packages/@o3r/azure-tools/.eslintrc.js
  packages/@o3r/azure-tools/.gitignore
  packages/@o3r/azure-tools/.npmignore
  packages/@o3r/azure-tools/README.md
  packages/@o3r/azure-tools/collection.json
  packages/@o3r/azure-tools/jest.config.js
  packages/@o3r/azure-tools/package.json
  packages/@o3r/azure-tools/project.json
  packages/@o3r/azure-tools/schematics/ng-add/index.ts
  packages/@o3r/azure-tools/schematics/ng-add/schema.json
  packages/@o3r/azure-tools/schematics/ng-add/schema.ts
  packages/@o3r/azure-tools/src/cli/comment-pr.ts
  packages/@o3r/azure-tools/src/helpers/azure/index.ts
  packages/@o3r/azure-tools/src/helpers/azure/pull-requests.service.ts
  packages/@o3r/azure-tools/src/helpers/index.ts
  packages/@o3r/azure-tools/src/index.spec.ts
  packages/@o3r/azure-tools/src/public_api.ts
  packages/@o3r/azure-tools/testing/setup-jest.ts
  packages/@o3r/azure-tools/tsconfig.build.json
  packages/@o3r/azure-tools/tsconfig.builders.json
  packages/@o3r/azure-tools/tsconfig.doc.json
  packages/@o3r/azure-tools/tsconfig.eslint.json
  packages/@o3r/azure-tools/tsconfig.json
  packages/@o3r/azure-tools/tsconfig.spec.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dev-tools/src/cli/comment-pr.ts
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@ama-sdk/generator-sdk, project:@o3r/core, project:@o3r/dev-tools, project:@o3r/azure-tools

#878 fix: jest config extends path
  packages/@o3r/core/schematics/sdk/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
Labels: bug, project:@o3r/core, project:@o3r/testing

#870 fix: remove mandatory @o3r/schematics dependency on @ama-sdk/core
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/schematics/ng-add/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@o3r/mobile/src/capacitor/storage/rehydrater.module.ts
  yarn.lock
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/mobile

#881 feat: add configuration widget support
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/core/src/core/interfaces/configuration.ts
  packages/@o3r/eslint-config-otter/typescript.cjs
  packages/@o3r/extractors/src/utils/config-doc.ts
Labels: enhancement, project:@o3r/core, project:@o3r/components, project:@o3r/extractors, project:@o3r/eslint-config-otter, project:@o3r/showcase

#888 fix: put back the logos for all release links
  .attachments/otter.png
  .attachments/otter.svg
Labels: bug

#887 feat: add new logos
  assets/logo/flavors/harry-otter.png
  assets/logo/flavors/jack-sparrowtter.png
  assets/logo/flavors/mandalotter.png
  assets/logo/flavors/otter-in-progress.png
  assets/logo/flavors/ronaldotter.png
  assets/logo/otter.svg
Labels: enhancement

#889 feat(styling): add theming details input feature
  docs/styling/THEME.md
  nx.json
  package.json
  packages/@o3r/styling/_index.scss
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/builders/style-extractor/schema.json
  packages/@o3r/styling/builders/style-extractor/schema.ts
  packages/@o3r/styling/package.json
  packages/@o3r/styling/scss/theming/_functions.scss
  packages/@o3r/styling/scss/theming/_functions.spec.scss
  packages/@o3r/styling/scss/theming/_mixins.scss
  packages/@o3r/styling/scss/theming/functions.spec.ts
  packages/@o3r/styling/scss/theming/mixins.spec.ts
  packages/@o3r/styling/scss/theming/otter-theme/_functions.scss
  packages/@o3r/styling/scss/theming/otter-theme/_index.scss
  packages/@o3r/styling/scss/theming/otter-theme/_material.scss
  packages/@o3r/styling/scss/theming/otter-theme/_theme.scss
  packages/@o3r/styling/scss/theming/otter-theme/_variables.scss
  packages/@o3r/styling/scss/utils/_functions.scss
  packages/@o3r/styling/scss/utils/_functions.spec.scss
  packages/@o3r/styling/scss/utils/_variables.scss
  packages/@o3r/styling/scss/utils/functions.spec.ts
  packages/@o3r/styling/tsconfig.spec.json
  yarn.lock
Labels: enhancement, project:@o3r/styling

#890 fix: remove mandatory @o3r/schematics dependency on @ama-sdk/core
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/schematics/ng-add/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@o3r/mobile/src/capacitor/storage/rehydrater.module.ts
  yarn.lock
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/mobile

#885 fix: align names on monorepo packages
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/CONTRIBUTING.md
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/jest.config.js
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/readme.md
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/scripts/override-readme.js
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/fixtures/jest/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/helpers/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/spec/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/tsconfig.build.json
  packages/@o3r/core/schematics/application/index.ts
  packages/@o3r/core/schematics/library/index.spec.ts
  packages/@o3r/core/schematics/library/index.ts
  packages/@o3r/core/schematics/library/rules/rules.ng.ts
  packages/@o3r/core/schematics/library/rules/rules.nx.ts
  packages/@o3r/core/schematics/sdk/index.ts
  packages/@o3r/core/schematics/sdk/rules/update-ts-paths.rule.ts
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/schematics

#896 feat: add configuration widget intellisense
  apps/vscode-extension/README.md
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/configuration.ts
Labels: enhancement, project:otter-devtools

#905 fix: code improvement
  packages/@o3r/core/schematics/library/rules/rules.ng.ts
  packages/@o3r/core/schematics/sdk/rules/update-ts-paths.rule.ts
Labels: bug, project:@o3r/core

#908 fix: missing permission to sign pr npm package publish
  .github/workflows/publish-pr.yml
Labels: bug

#893 feat(eslint): rule for @o3rWidget and @o3rWidgetParam tags
  apps/showcase/.eslintrc.js
  docs/linter/eslint-plugin/rules.md
  docs/linter/eslint-plugin/rules/o3r-widget-tags.md
  packages/@o3r/eslint-config-otter/typescript.cjs
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/o3r-widget-tags/o3r-widget-tags.spec.ts
  packages/@o3r/eslint-plugin/src/rules/o3r-widget-tags/o3r-widget-tags.ts
  packages/@o3r/extractors/src/index.spec.ts
  packages/@o3r/extractors/src/utils/config-doc.spec.ts
  packages/@o3r/extractors/src/utils/config-doc.ts
Labels: enhancement, project:@o3r/extractors, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/showcase

#911 fix(showcase): eslint configuration o3rWidget rule
  apps/showcase/.eslintrc.js
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  packages/@o3r/core/package.json
Labels: bug, project:@o3r/core, project:@o3r/showcase

#912 fix(styling): sass export paths
  packages/@o3r/styling/package.json
  packages/@o3r/styling/scss/theming/otter-theme/_functions.scss
  packages/@o3r/styling/scss/theming/otter-theme/_material.scss
Labels: bug, project:@o3r/core, project:@o3r/styling

#914 fix(extractor): include only o3r component class
  packages/@o3r/components/builders/component-extractor/helpers/component/component-class.extractor.ts
Labels: bug, project:@o3r/components

#920 feat: add new logos
  assets/logo/flavors/Bonotter.png
  assets/logo/flavors/C-3POtter.png
  assets/logo/flavors/Djokotter.png
  assets/logo/flavors/Mariotter.png
  assets/logo/flavors/Neotter.png
  assets/logo/flavors/astronotter.png
  assets/logo/otter.svg
Labels: enhancement

#915 feat(extractor): add mapping between localization key and component (localizationKeys)
  packages/@o3r/components/builders/component-extractor/helpers/component/component-class.extractor.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/schemas/component.metadata.schema.json
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/extractors/src/utils/index.ts
  packages/@o3r/extractors/src/utils/localization.ts
  packages/@o3r/localization/builders/helpers/localization.generator.ts
Labels: enhancement, project:@o3r/localization, project:@o3r/components, project:@o3r/extractors, project:@o3r/showcase

#922 feat(vscode-ext): use eslint config for @o3rWidget and @o3rWidgetParam intellisense
  apps/vscode-extension/package.json
  apps/vscode-extension/src/intellisense/configuration.ts
  yarn.lock
Labels: enhancement, project:@o3r/schematics, project:otter-devtools

#919 feat: add cli to ama-sdk core
  .eslintrc.js
  apps/vscode-extension/package.json
  nx.json
  package.json
  packages/@ama-sdk/core/.eslintrc.js
  packages/@ama-sdk/core/cli/clear-index.cts
  packages/@ama-sdk/core/cli/files-pack.cts
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/project.json
  packages/@ama-sdk/core/tsconfig.cli.json
  packages/@ama-sdk/core/tsconfig.json
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v10.0/script-removal.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/scripts/clear-index.js
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/scripts/override-readme.js
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/scripts/restore-readme.js
  packages/@ama-sdk/swagger-builder/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/dev-tools/package.json
  tools/@o3r/build-helpers/scripts/generate-cjs-manifest.mjs
  yarn.lock
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/build-helpers, project:@ama-sdk/swagger-builder, project:@o3r/dev-tools, project:otter-devtools, project:@o3r/azure-tools

#930 fix: remove critical dependencies
  package.json
  yarn.lock
Labels: bug

#927 feat(vscode-ext): snippets for configuration tags
  apps/vscode-extension/src/intellisense/configuration.ts
Labels: enhancement, project:otter-devtools

#938 fix(styling): turn @o3r/core dependency to optional
  packages/@o3r/styling/package.json
  yarn.lock
Labels: bug, project:@o3r/styling

#807 Migrate version harmonize to linter
  .eslintignore
  .eslintrc.js
  .husky/pre-commit
  .vscode/settings.json
  apps/showcase/package.json
  apps/showcase/project.json
  docs/linter/eslint-plugin/rules.md
  docs/linter/eslint-plugin/rules/json-dependency-versions-harmonize.md
  nx.json
  package.json
  packages/@ama-sdk/generator-sdk/package.json
  packages/@o3r/eslint-config-otter/project.json
  packages/@o3r/eslint-plugin/.gitignore
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/eslint-plugin/project.json
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/version-harmonize.ts
  packages/@o3r/eslint-plugin/src/rules/json/utils.ts
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.spec.ts
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.ts
  packages/@o3r/eslint-plugin/src/rules/template/utils.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-folder-import-for-module/no-folder-import-for-module.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-folder-import-for-module/no-folder-import-for-module.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-widget-tags/o3r-widget-tags.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-widget-tags/o3r-widget-tags.ts
  packages/@o3r/eslint-plugin/tsconfig.build.json
  packages/@o3r/eslint-plugin/tsconfig.spec.json
  tools/@o3r/build-helpers/package.json
  yarn.lock
Labels: bug, documentation, enhancement, project:@ama-sdk/generator-sdk, project:@o3r/build-helpers, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/showcase

#904 feat: post message events upon placeholder load
  packages/@o3r/components/src/stores/placeholder-template/placeholder-template.selectors.ts
  packages/@o3r/components/src/tools/placeholder/placeholder.component.ts
  packages/@o3r/components/src/tools/placeholder/placeholder.interface.ts
  packages/@o3r/components/src/tools/placeholder/placeholder.spec.ts
Labels: enhancement, project:@o3r/components

#939 fix: ignore files when generating with yarn
  .gitignore
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/rule-factories/generic-updates/index.ts
  packages/@o3r/core/schematics/sdk/index.ts
Labels: bug, project:@o3r/core

#944 fix: npm audit does not detect vulnerabilities
  tools/github-actions/audit/src/main.ts
Labels: bug

#942 fix: harmonize fail on windows (command line too long)
  .eslintignore
  package.json
Labels: bug

#948 fix(showcase): handle error response from the api on sdk page
  apps/showcase/src/components/showcase/sdk/sdk-pres.component.ts
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
Labels: bug, project:@o3r/showcase

#946 feat: update supported versions in security file
  SECURITY.md
Labels: enhancement

#950 fix: remove undefined on rhs for rules overview in debug panel
  packages/@o3r/rules-engine/src/components/rules-engine/rule-condition/rule-condition-pres.component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-condition/rule-condition-pres.template.html
Labels: bug, project:@o3r/rules-engine

#947 chore: document smart sync behaviour
  packages/@o3r/store-sync/README.md
Labels: documentation, project:@o3r/store-sync

#951 Merge/9.3
  .gitignore
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/gitignore-update.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
Labels: bug, project:@o3r/core

#921 fix: rules engine triggers with duplicates
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.ts
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
  packages/@o3r/store-sync/src/sync-storage/storage-sync.ts
Labels: bug, project:@o3r/rules-engine, project:@o3r/store-sync

#952 feat: add matching configuration name eslint rule
  docs/linter/eslint-plugin/rules.md
  docs/linter/eslint-plugin/rules/matching-configuration-name.md
  docs/linter/eslint-plugin/rules/o3r-widget-tags.md
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/matching-configuration-name/matching-configuration-name.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/matching-configuration-name/matching-configuration-name.ts
Labels: enhancement, project:@o3r/eslint-plugin

#959 feat: otters of the week
  assets/logo/flavors/Chuck-Notter.png
  assets/logo/flavors/Colombotter.png
  assets/logo/flavors/hallowtter.png
  assets/logo/flavors/pizzaiotter.png
  assets/logo/flavors/sombrerotter.png
  assets/logo/otter.svg
Labels: enhancement

#961 chore: deprecate yarn-check
  packages/@o3r/dev-tools/src/cli/checks/yarn-check.ts
Labels: project:@o3r/dev-tools

#966 fix: crypto-js security issue
  yarn.lock
Labels: bug

#967 fix: invalid paths for logos
  docs/linter/eslint-plugin/rules.md
  packages/@o3r/artifactory-tools/.compodocrc.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/.compodocrc.json
  packages/@o3r/azure-tools/package.json
  yarn.lock
Labels: bug, project:@o3r/artifactory-tools, project:@o3r/azure-tools

#964 Merge main into v10 next
  assets/logo/flavors/Chuck-Notter.png
  assets/logo/flavors/Colombotter.png
  assets/logo/flavors/hallowtter.png
  assets/logo/flavors/pizzaiotter.png
  assets/logo/flavors/sombrerotter.png
  assets/logo/otter.svg
  docs/linter/eslint-plugin/rules/matching-configuration-name.md
  docs/linter/eslint-plugin/rules/o3r-widget-tags.md
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dev-tools/src/cli/checks/yarn-check.ts
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/matching-configuration-name/matching-configuration-name.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/matching-configuration-name/matching-configuration-name.ts
  yarn.lock
Labels: enhancement, project:@o3r/eslint-plugin, project:@o3r/dev-tools

#965 Deprecate in source dep check
  .github/workflows/code-check.yml
  packages/@o3r/dev-tools/src/cli/checks/in-source-dep-check.ts
Labels: bug, documentation, enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/styling, project:@o3r/routing, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:otter-devtools, project:@o3r/artifactory-tools, project:@o3r/azure-tools

#963 fix(showcase): build fails when localization-metadata are missing
  apps/showcase/project.json
Labels: bug, project:@o3r/showcase

#973 Merge main into v10
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/showcase/project.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/audit/src/main.ts
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: bug, documentation, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@ama-sdk/showcase-sdk

#972 fix: use refcount for sharereplay when relevant
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.component.ts
  apps/chrome-devtools/src/services/ruleset-history.service.ts
  apps/showcase/src/app/app.component.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.service.ts
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/dynamic-content, project:@o3r/showcase

#936 fix(loc-extractor): do not resolve libraries files (empty libraries)
  packages/@o3r/localization/builders/helpers/localization.generator.ts
  packages/@o3r/localization/builders/localization-extractor/index.ts
Labels: bug, project:@o3r/localization

#975 chore: deprecate unused scripts
  packages/@o3r/dev-tools/src/cli/generate-package-exports.ts
  packages/@o3r/dev-tools/src/cli/package-export.ts
  packages/@o3r/dev-tools/src/cli/peer-dependencies-updater.ts
  packages/@o3r/dev-tools/src/utils/check-peer-deps.ts
  packages/@o3r/dev-tools/src/utils/is-package-installed.ts
  packages/@o3r/dev-tools/src/utils/package-manager.ts
  packages/@o3r/dev-tools/src/utils/string.ts
  packages/@o3r/dev-tools/src/utils/update-peer-dependencies.ts
Labels: project:@o3r/dev-tools

#974 fix(showcase): handle cases when API uses numbers bigger that safe-in…
  apps/showcase/src/components/showcase/sdk/sdk-pres.component.ts
Labels: bug, project:@o3r/showcase

#977 fix: fixes in generated tsconfigs
  packages/@o3r/apis-manager/schematics/helpers/update-api-deps/index.ts
  packages/@o3r/core/schematics/application/index.ts
  packages/@o3r/core/schematics/library/index.spec.ts
  packages/@o3r/core/schematics/library/rules/rules.ng.ts
  packages/@o3r/core/schematics/library/rules/shared.ts
  packages/@o3r/core/schematics/rule-factories/monorepo/index.ts
  packages/@o3r/core/schematics/sdk/rules/update-ts-paths.rule.ts
  packages/@o3r/create/src/index.ts
Labels: bug, project:@o3r/core, project:@o3r/apis-manager, project:@o3r/create

#956 feat(showcase): design-factory integration
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/app/app-routing.module.ts
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/app.component.scss
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.style.scss
  apps/showcase/src/components/utilities/sidenav/sidenav-pres.style.scss
  apps/showcase/src/index.html
  apps/showcase/src/styles.scss
  apps/showcase/tsconfig.app.json
  package.json
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/showcase

#983 fix(showcase): prevent layout shift on image loading
  apps/showcase/src/app/home/home.template.html
  apps/showcase/src/assets/otter-a.png
  apps/showcase/src/assets/otter-a.svg
  apps/showcase/src/assets/otter-dynamic.png
  apps/showcase/src/assets/otter-dynamic.svg
  apps/showcase/src/assets/otter-summer.png
  apps/showcase/src/assets/otter-summer.svg
  apps/showcase/src/assets/otter.png
  apps/showcase/src/assets/otter.svg
  apps/showcase/src/assets/rules/rulesets.json
  apps/showcase/src/components/showcase/basic/basic-pres.style.scss
  apps/showcase/src/components/showcase/basic/basic-pres.template.html
  apps/showcase/src/components/showcase/configuration/configuration-pres.template.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.template.html
  apps/showcase/src/components/showcase/localization/localization-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.style.scss
  apps/showcase/src/custom-assets/assets/otter-dynamic.png
  apps/showcase/src/custom-assets/assets/otter-dynamic.svg
  apps/showcase/src/styles.scss
Labels: bug, project:@o3r/showcase

#982 fix: sdk generator issue with empty mime type
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
Labels: bug, project:@ama-sdk/schematics

#986 fix(showcase): responsive scrolls
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/home/home.style.scss
  apps/showcase/src/app/home/home.template.html
  apps/showcase/src/components/showcase/sdk/sdk-pres.style.scss
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.style.scss
Labels: bug, project:@o3r/showcase

#985 feat: add homepage to package.json
  package.json
  tools/@o3r/build-helpers/scripts/prepare-publish.mjs
Labels: enhancement, project:@o3r/build-helpers

#987 fix(localization): extractor considers internal refs as library refs
  apps/showcase/project.json
  packages/@o3r/localization/builders/helpers/localization.generator.ts
Labels: bug, project:@o3r/localization, project:@o3r/showcase
