Repository AmadeusITGroup/otter, pull requests merged in 2024-10, with the labels that each got.

#2201 fix(eslint): set relative path instead of absolute path in the merge config
  eslint.config.mjs
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
Labels: bug, project:@o3r/eslint-config

#2206 docs(renovate): enhance renovate documentation
  docs/renovate/readme.md
  tools/renovate/README.md
Labels: documentation

#2212 fix(sdk-core): rollback api-mock.ts to use deprecate fetch client from core
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/api-mock.mustache
Labels: bug, project:@ama-sdk/schematics

#2213 chore: provide optional dep to reduce the number of swc instance
  .gitattributes
  package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/audit/packaged-action/sourcemap-register.js
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/sourcemap-register.js
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/sourcemap-register.js
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/sourcemap-register.js
  yarn.lock
Labels: project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2173 feat: otter training - components
  apps/showcase/.gitignore
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/scripts/copy-training-assets/index.cjs
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/run-app-locally/run-app-locally.component.ts
  apps/showcase/src/components/index.ts
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.html
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.scss
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.spec.ts
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.ts
  apps/showcase/src/components/training/code-editor-control/index.ts
  apps/showcase/src/components/training/code-editor-terminal/code-editor-terminal.component.spec.ts
  apps/showcase/src/components/training/code-editor-terminal/code-editor-terminal.component.ts
  apps/showcase/src/components/training/code-editor-terminal/index.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/code-editor-view/index.ts
  apps/showcase/src/components/training/index.ts
  apps/showcase/src/components/training/training-step/index.ts
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
  apps/showcase/src/components/training/training-step/training-step-pres.component.scss
  apps/showcase/src/components/training/training-step/training-step-pres.component.spec.ts
  apps/showcase/src/components/training/training-step/training-step-pres.component.ts
  apps/showcase/src/helpers/monaco-tree.helper.spec.ts
  apps/showcase/src/helpers/monaco-tree.helper.ts
  apps/showcase/src/services/webcontainer/index.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  nx.json
  package.json
  packages/@o3r/training-tools/src/utility/web-container.ts
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Labels: enhancement, project:@o3r/showcase, project:new-version-gh-action, project:@o3r/training-tools

#2219 doc(design): fix documentation relative to template files input
  packages/@o3r/design/README.md
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-css/schema.ts
Labels: documentation, project:@o3r/design

#2214 feat(sdk): generate GitAttributes file ignoring generated files
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/schematics/migrate/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v11.4/create-gitattributes.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.gitattributes.template
Labels: enhancement, project:@ama-sdk/schematics

#2225 fix(test-helpers): add missing semver dependency
  packages/@o3r/test-helpers/package.json
  yarn.lock
Labels: bug, project:@o3r/test-helpers

#2224 fix: reduce number of log for rules engine action
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.ts
Labels: bug, project:@o3r/rules-engine

#2227 feat(telemetry): add telemetry wrapper for all cli
  packages/@ama-sdk/create/.eslintrc.js
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/cli/clear-index.cts
  packages/@ama-sdk/schematics/cli/files-pack.cts
  packages/@ama-sdk/schematics/cli/update-spec-from-npm.cts
  packages/@ama-sdk/schematics/package.json
  packages/@ama-terasu/cli/.eslintrc.js
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/cli/src/cli/ama.ts
  packages/@o3r/artifactory-tools/.eslintrc.js
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/artifactory-tools/src/cli/artifact-cleaner.ts
  packages/@o3r/artifactory-tools/src/cli/pr-artifact-cleaner.ts
  packages/@o3r/azure-tools/.eslintrc.js
  packages/@o3r/azure-tools/package.json
  packages/@o3r/azure-tools/src/cli/comment-pr.ts
  packages/@o3r/create/.eslintrc.js
  packages/@o3r/create/src/index.ts
  packages/@o3r/design/cli/build-design-token.cli.cts
  packages/@o3r/design/cli/generate-css-from-design-token.cli.cts
  packages/@o3r/workspace/src/cli/set-version.cts
  yarn.lock
Labels: enhancement, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@ama-terasu/cli, project:@o3r/create, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design

#2230 fix(sdk): relative local ref in specs are not always handled correctly
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/copy-referenced-files.ts
  packages/@ama-sdk/schematics/testing/mocks/split-spec/spec-chunk1.yaml
Labels: bug, project:@ama-sdk/schematics

#2236 fix(test-helpers): removed unused minimist dependency
  packages/@o3r/test-helpers/package.json
  yarn.lock
Labels: bug, project:@o3r/test-helpers

#2239 fix: migration scripts not checking latest semver version with npm
  packages/@o3r/extractors/src/core/comparator/metadata-comparison.helper.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor.helper.ts
Labels: bug, project:@o3r/extractors

#2241 fix: use only exposed type to fill operators metadata
  packages/@o3r/rules-engine/builders/rules-engine-extractor/helpers/rules-engine.extractor.ts
Labels: bug, project:@o3r/rules-engine

#2211 docs(renovate): enhance renovate documentation
  docs/renovate/readme.md
Labels: documentation

#2221 chore(sdk): enhance sdk documentation
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/readme.md
Labels: documentation, project:@ama-sdk/schematics

#2223 feat: otter training - prepare training content
  apps/showcase/.gitignore
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/scripts/prepare-training-exercises/index.cjs
  apps/showcase/src/app/app-routing.module.ts
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/sdk-training/index.ts
  apps/showcase/src/app/sdk-training/sdk-training.component.ts
  apps/showcase/src/app/sdk-training/sdk-training.spec.ts
  apps/showcase/src/app/sdk-training/sdk-training.style.scss
  apps/showcase/src/app/sdk-training/sdk-training.template.html
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/index.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.scss
  apps/showcase/src/components/training/training.component.spec.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  apps/showcase/tsconfig.app.json
  nx.json
  packages/@o3r/training-tools/cli/extract-folder-structure/extract-folder-structure.cts
Labels: enhancement, project:@o3r/showcase, project:@o3r/training-tools

#2253 fix: missing telemetry dependencies in CLIs
  packages/@ama-sdk/create/.eslintrc.js
  packages/@ama-sdk/create/package.json
  packages/@o3r/create/.eslintrc.js
  packages/@o3r/create/package.json
  tools/github-actions/audit/packaged-action/LICENSE.txt
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/LICENSE.txt
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/LICENSE.txt
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Labels: bug, project:@ama-sdk/create, project:@o3r/create, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2264 fix(telemetry): add missing migration.json
  packages/@o3r/telemetry/package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/audit/packaged-action/sourcemap-register.js
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/sourcemap-register.js
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/sourcemap-register.js
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/sourcemap-register.js
Labels: bug, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2269 feat(eslint): change all warnings into errors
  docs/linter/eslint-config.md
  packages/@o3r/eslint-config/src/rules/template/otter.cjs
  packages/@o3r/eslint-config/src/rules/typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-angular.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jest.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-config/src/rules/typescript/stylistic.cjs
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
Labels: enhancement, project:@o3r/eslint-config

#2275 fix: remove error when launching application with bootstrap config middleware
  packages/@o3r/configuration/middlewares/bootstrap-config.middleware.ts
Labels: bug, project:@o3r/configuration

#2276 feat(eslint): change default vscode config
  .vscode/settings.json
  packages/@o3r/eslint-config/schematics/ng-add/vscode/index.ts
  packages/@o3r/eslint-config/src/rules/typescript/comments.cjs
Labels: enhancement, project:@o3r/eslint-config

#2282 fix(docs): remove one link + fix another one
  packages/@ama-sdk/client-beacon/README.md
  packages/@o3r/storybook/README.md
Labels: bug, documentation, project:@o3r/storybook, project:@ama-sdk/client-beacon

#2283 fix: metadata checks should look for cms-metadata in package.json for previous version
  packages/@o3r/components/builders/metadata-check/index.ts
  packages/@o3r/extractors/src/core/comparator/metadata-comparator.interface.ts
  packages/@o3r/extractors/src/core/comparator/metadata-comparison.helper.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor.helper.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/yarn2-file-extractor.helper.ts
  packages/@o3r/localization/builders/metadata-check/index.ts
  packages/@o3r/styling/builders/metadata-check/index.ts
Labels: bug, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors

#2286 fix: upgrade jsonpath-plus dependency
  package.json
  packages/@o3r/components/package.json
  packages/@o3r/rules-engine/package.json
  yarn.lock
Labels: bug, project:@o3r/rules-engine, project:@o3r/components

#2259 feat(github-action): create GitHub Release Action
  .github/workflows/main.yml
  tools/github-actions/README.md
  tools/github-actions/release/LICENSE
  tools/github-actions/release/action.yml
  tools/github-actions/release/readme.md
Labels: enhancement

#2196 docs(eslint): update documentation for eslint flat config
  docs/linter/eslint-config.md
  docs/linter/eslint-plugin/rules/json-dependency-versions-harmonize.md
  docs/linter/eslint-plugin/rules/no-inner-html.md
  docs/linter/eslint-plugin/rules/yarnrc-package-extensions-harmonize.md
  migration-guides/ESLINT_FLAT_CONFIG.md
  migration-guides/README.md
  packages/@ama-sdk/showcase-sdk/eslint.local.config.mjs
  packages/@o3r/eslint-config/README.md
  packages/@o3r/eslint-config/src/rules/typescript/comments.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-angular.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint.cjs
  packages/@o3r/eslint-config/src/rules/typescript/import.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jest.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-config/src/rules/typescript/stylistic.cjs
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
  packages/@o3r/eslint-config/src/rules/utils.cjs
Labels: documentation, project:@ama-sdk/showcase-sdk, project:@o3r/eslint-config

#2288 fix: upgrade jsonpath-plus to non vulnerable version
  packages/@o3r/rules-engine/package.json
  yarn.lock
Labels: bug, project:@o3r/rules-engine

#2290 chore: change nx config of build-builders to prevent circular dependency on 19.5.8
  tools/@o3r/build-helpers/project.json
  yarn.lock
Labels: project:@o3r/build-helpers

#2287 fix(design): way to sort variable to refer existing variables
  packages/@o3r/design/builders/generate-style/helpers/style-renderer-options.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token.renderer.interface.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: bug, project:@o3r/design

#2299 fix: metadata checks fail when migration file contains an element without a before
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/extractors/src/core/comparator/metadata-comparator.interface.ts
  packages/@o3r/extractors/src/core/comparator/metadata-comparison.helper.ts
  packages/@o3r/localization/builders/metadata-check/helpers/localization-metadata-comparison.helper.ts
  packages/@o3r/styling/builders/metadata-check/helpers/styling-metadata-comparison.helper.ts
Labels: bug, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors

#2302 fix: faraday generation
  docs/components/PLACEHOLDERS.md
Labels: bug

#2267 feat: otter training - training sdk
  apps/showcase/project.json
  packages/@o3r/training-sdk/.eslintignore
  packages/@o3r/training-sdk/.eslintrc.js
  packages/@o3r/training-sdk/.gitignore
  packages/@o3r/training-sdk/.openapi-generator-ignore
  packages/@o3r/training-sdk/.swcrc
  packages/@o3r/training-sdk/jest.config.js
  packages/@o3r/training-sdk/open-api.yaml
  packages/@o3r/training-sdk/openapitools.json
  packages/@o3r/training-sdk/package.json
  packages/@o3r/training-sdk/project.json
  packages/@o3r/training-sdk/readme.md
  packages/@o3r/training-sdk/src/api/dummy/dummy-api.fixture.ts
  packages/@o3r/training-sdk/src/api/dummy/dummy-api.jasmine.fixture.ts
  packages/@o3r/training-sdk/src/api/dummy/dummy-api.jest.fixture.ts
  packages/@o3r/training-sdk/src/api/dummy/dummy-api.ts
  packages/@o3r/training-sdk/src/api/dummy/index.ts
  packages/@o3r/training-sdk/src/api/enums.ts
  packages/@o3r/training-sdk/src/api/fixtures.jasmine.ts
  packages/@o3r/training-sdk/src/api/fixtures.jest.ts
  packages/@o3r/training-sdk/src/api/fixtures.ts
  packages/@o3r/training-sdk/src/api/index.ts
  packages/@o3r/training-sdk/src/api/interfaces.ts
  packages/@o3r/training-sdk/src/index.ts
  packages/@o3r/training-sdk/src/models/base/enums.ts
  packages/@o3r/training-sdk/src/models/base/flight/flight.reviver.ts
  packages/@o3r/training-sdk/src/models/base/flight/flight.ts
  packages/@o3r/training-sdk/src/models/base/flight/index.ts
  packages/@o3r/training-sdk/src/models/base/index.ts
  packages/@o3r/training-sdk/src/models/base/patterns.ts
  packages/@o3r/training-sdk/src/models/base/revivers.ts
  packages/@o3r/training-sdk/src/models/index.ts
  packages/@o3r/training-sdk/src/spec/api-mock.ts
  packages/@o3r/training-sdk/src/spec/index.ts
  packages/@o3r/training-sdk/src/spec/operation-adapter.ts
  packages/@o3r/training-sdk/testing/tsconfig.spec.json
  packages/@o3r/training-sdk/tsconfig.build.json
  packages/@o3r/training-sdk/tsconfig.doc.json
  packages/@o3r/training-sdk/tsconfig.eslint.json
  packages/@o3r/training-sdk/tsconfig.json
  packages/@o3r/training-sdk/tsconfigs/esm2020/tsconfig.jest.json
  packages/@o3r/training-sdk/tsconfigs/esm2020/tsconfig.json
  packages/@o3r/training-sdk/tsconfigs/esm2020/tsconfig.source.json
  packages/@o3r/training-sdk/tsconfigs/tsconfig.jest.json
  packages/@o3r/training-sdk/tsconfigs/tsconfig.source.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/showcase, project:@o3r/training-sdk

#2312 fix(design): create folder with files when does not exist
  packages/@o3r/design/builders/generate-style/helpers/style-renderer-options.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token.renderer.interface.ts
Labels: bug, project:@o3r/design

#2319 fix(eslint): manual fix of eslint errors on github-cascading-app
  apps/github-cascading-app/scripts/prepare-azure-function.mjs
  apps/github-cascading-app/src/app.ts
  apps/github-cascading-app/src/cascading/cascading-probot.ts
  apps/github-cascading-app/src/cascading/cascading.ts
  apps/github-cascading-app/src/cascading/templates/pull-request-content.ejs
  apps/github-cascading-app/src/github-cascading/index.ts
  eslint.shared.config.mjs
  packages/@o3r/eslint-config/src/rules/typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
Labels: bug, project:@o3r/github-cascading-app, project:@o3r/eslint-config

#2321 chore(showcase): regenerate design token
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/style/horizon-theme/horizon-theme.scss
  apps/showcase/src/style/theme.scss
Labels: project:@o3r/showcase

#2316 Fix eslint issue on chrome devtools
  apps/chrome-devtools/eslint.config.mjs
  apps/chrome-devtools/eslint.local.config.mjs
  apps/chrome-devtools/package.json
  apps/chrome-devtools/scripts/publish-to-market.mjs
  apps/chrome-devtools/scripts/sanitize-extension.cjs
  apps/chrome-devtools/scripts/sanitize-manifest.cjs
  apps/chrome-devtools/scripts/set-manifest-version.cjs
  apps/chrome-devtools/src/app-components.main.ts
  apps/chrome-devtools/src/app-components/app.component.ts
  apps/chrome-devtools/src/app-devtools.main.ts
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel.service.ts
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/state-panel/state-panel.component.ts
  apps/chrome-devtools/src/app-devtools/state-panel/state-panel.template.html
  apps/chrome-devtools/src/app-devtools/theming-panel/color.helpers.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/color.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/common.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/is-ref.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/memoize.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/theming-panel/variable-label.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/variable-name.pipe.ts
  apps/chrome-devtools/src/components/app-connection/app-connection.component.ts
  apps/chrome-devtools/src/components/config-form/config-form.component.ts
  apps/chrome-devtools/src/components/otter-component/otter-component.component.ts
  apps/chrome-devtools/src/extension/background.ts
  apps/chrome-devtools/src/extension/interface.ts
  apps/chrome-devtools/src/extension/options.ts
  apps/chrome-devtools/src/extension/wrap.ts
  apps/chrome-devtools/src/polyfills.ts
  apps/chrome-devtools/src/services/connection.service.ts
  apps/chrome-devtools/src/services/index.ts
  apps/chrome-devtools/src/services/localization.service.ts
  apps/chrome-devtools/src/services/message.interface.ts
  apps/chrome-devtools/src/services/ruleset-history.service.ts
  apps/chrome-devtools/src/services/state.service.ts
  apps/chrome-devtools/src/shared/index.ts
  apps/chrome-devtools/src/shared/message.interface.ts
  apps/chrome-devtools/testing/jest.config.ut.js
  apps/chrome-devtools/testing/setup-jest.ts
  apps/chrome-devtools/tsconfig.build.components.json
  apps/chrome-devtools/tsconfig.build.devtools.json
  apps/chrome-devtools/tsconfig.extension.json
  apps/showcase/package.json
  packages/@o3r/schematics/src/utility/index.ts
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/schematics, project:@o3r/showcase, project:@o3r/eslint-config

#2317 feat: coi-serviceworker to deploy training in GitHub pages
  apps/showcase/project.json
  apps/showcase/src/coi-serviceworker.js
Labels: enhancement, project:@o3r/showcase

#2314 fix: header of sdk readme file in schematics for clarity on versions
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/readme.md
Labels: bug, documentation, project:@ama-sdk/schematics

#2327 fix(eslint): set no-unsafe rules to warn until we fix all these lint issues
  eslint.shared.config.mjs
Labels: bug

#2325 chore: update routing documentation to describe forRoot setup
  docs/routing/APP_SERVER_ROUTING.md
Labels: documentation

#2336 deprecate(sdk-generator): default client api based mocks
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/api-mock.mustache
  packages/@ama-sdk/showcase-sdk/src/spec/api-mock.ts
Labels: project:@ama-sdk/schematics, project:@ama-sdk/showcase-sdk, deprecate

#2340 fix(eslint): change config after discussion with the team
  eslint.shared.config.mjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint.cjs
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
Labels: bug, project:@o3r/eslint-config

#2339 fix: eslint configuration for windows
  eslint.config.mjs
  nx.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
  tools/github-actions/audit/eslint.local.config.mjs
  tools/github-actions/cascading/eslint.local.config.mjs
  tools/github-actions/get-npm-tag/eslint.local.config.mjs
  tools/github-actions/new-version/eslint.local.config.mjs
Labels: bug, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config

#2331 fix(eslint): manual fix of eslint errors on ama-terasu
  packages/@ama-terasu/cli/eslint.local.config.mjs
  packages/@ama-terasu/cli/src/helpers/module.helper.ts
  packages/@ama-terasu/cli/src/helpers/version.helper.ts
  packages/@ama-terasu/cli/src/modules/base-yargs.ts
  packages/@ama-terasu/cli/webpack.config.js
  packages/@ama-terasu/core/src/module/helpers.ts
  packages/@o3r/amaterasu/amaterasu-api-spec/src/create-extension.command.ts
  packages/@o3r/amaterasu/amaterasu-dodo/eslint.local.config.mjs
  packages/@o3r/amaterasu/amaterasu-dodo/src/index.ts
  packages/@o3r/amaterasu/amaterasu-otter/src/create-application.command.ts
  packages/@o3r/amaterasu/amaterasu-otter/src/create-custom-application.command.ts
  packages/@o3r/amaterasu/amaterasu-sdk/src/create-typescript.command.ts
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
Labels: bug, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-terasu/core, project:@o3r/eslint-config

#2347 fix(eslint): manual fix of eslint errors on core
  eslint.shared.config.mjs
  packages/@o3r/core/builders/lib-build/index.ts
  packages/@o3r/core/builders/multi-watcher/index.ts
  packages/@o3r/core/schematics/component/container/index.spec.ts
  packages/@o3r/core/schematics/component/container/index.ts
  packages/@o3r/core/schematics/component/presenter/index.spec.ts
  packages/@o3r/core/schematics/component/presenter/index.ts
  packages/@o3r/core/schematics/component/structures.types.ts
  packages/@o3r/core/schematics/ng-add-create/index.ts
  packages/@o3r/core/schematics/ng-add/component-decorator/index.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/core/schematics/ng-add/updates-for-v8/cms-adapters/update-builders-names.ts
  packages/@o3r/core/schematics/ng-add/updates-for-v8/generators/update-generators-names.ts
  packages/@o3r/core/schematics/ng-update/index.ts
  packages/@o3r/core/schematics/ng-update/v8.2/import-map.ts
  packages/@o3r/core/schematics/page/index.spec.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/rule-factories/customization-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/o3r-basic-updates/index.ts
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/core/schematics/scripts/exported-actions.ts
  packages/@o3r/core/schematics/service/index.spec.ts
  packages/@o3r/core/schematics/service/index.ts
  packages/@o3r/core/schematics/shared/presets/all.preset.ts
  packages/@o3r/core/schematics/shared/presets/cms.preset.ts
  packages/@o3r/core/schematics/store-action/index.ts
  packages/@o3r/core/schematics/store/entity-async/index.ts
  packages/@o3r/core/schematics/store/entity-sync/index.ts
  packages/@o3r/core/schematics/store/simple-async/index.ts
  packages/@o3r/core/schematics/store/simple-sync/index.ts
  packages/@o3r/core/src/core/application/build-properties.ts
  packages/@o3r/core/src/core/devkit/devtools.interface.ts
  packages/@o3r/core/src/core/interfaces/configuration.ts
  packages/@o3r/core/src/core/interfaces/context.ts
  packages/@o3r/core/src/core/metadata/component.decorator.ts
  packages/@o3r/core/src/messages/message.helpers.ts
  packages/@o3r/core/src/store/async/async-entity.adapter.ts
  packages/@o3r/core/src/store/async/async.adapter.ts
  packages/@o3r/core/src/store/async/async.interfaces.ts
  packages/@o3r/core/src/store/async/async.operator.spec.ts
  packages/@o3r/core/src/store/async/async.operators.ts
  packages/@o3r/core/src/store/async/async.props.ts
  packages/@o3r/core/src/store/types.ts
  packages/@o3r/core/src/utils/debug/debug.helper.ts
  packages/@o3r/core/src/utils/deep-fill/deep-fill.ts
  packages/@o3r/core/src/utils/rendering/rendering.helpers.ts
  packages/@o3r/eslint-config/src/rules/typescript/jest.cjs
Labels: bug, project:@o3r/core, project:@o3r/eslint-config

#2348 fix(chrome-devtools): set version in manifest.json
  package.json
Labels: bug, project:@o3r/chrome-devtools

#2351 doc: add badges for vscode and chrome extensions
  README.md
Labels: documentation

#2357 fix(ama-sdk-create): registry patch in multiple npmrc
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
Labels: bug, project:@ama-sdk/schematics

#2365 fix(github-actions-release): source path
  tools/github-actions/release/package.json
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
Labels: bug, project:release-gh-action

#2362 fix(design): stroke type to limit to valid values
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/tsconfig.spec.json
Labels: bug, project:@o3r/rules-engine, project:@o3r/design

#2343 doc: enhance breaking change rules
  .github/pull_request_template.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  SECURITY.md
Labels: documentation

#2361 fix(eslint): change config name for debugging + set only the globals needed for each project
  apps/chrome-devtools/eslint.local.config.mjs
  apps/github-cascading-app/eslint.local.config.mjs
  apps/showcase/eslint.local.config.mjs
  apps/vscode-extension/eslint.local.config.mjs
  eslint.local.config.mjs
  eslint.shared.config.mjs
  packages/@o3r/eslint-config/src/rules/base.cjs
  packages/@o3r/eslint-config/src/rules/template/otter.cjs
  packages/@o3r/eslint-config/src/rules/typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/comments.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-angular.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint.cjs
  packages/@o3r/eslint-config/src/rules/typescript/import-newlines.cjs
  packages/@o3r/eslint-config/src/rules/typescript/import.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jest.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-config/src/rules/typescript/otter.cjs
  packages/@o3r/eslint-config/src/rules/typescript/prefer-arrow.cjs
  packages/@o3r/eslint-config/src/rules/typescript/sort-export-all.cjs
  packages/@o3r/eslint-config/src/rules/typescript/stylistic.cjs
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
  packages/@o3r/eslint-config/src/rules/typescript/unused-imports.cjs
  tools/github-actions/audit/eslint.local.config.mjs
  tools/github-actions/cascading/eslint.local.config.mjs
  tools/github-actions/get-npm-tag/eslint.local.config.mjs
  tools/github-actions/new-version/eslint.local.config.mjs
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/github-cascading-app, project:@o3r/showcase, project:otter-devtools, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config

#2367 fix(eslint): change config after discussion
  apps/chrome-devtools/eslint.local.config.mjs
  apps/chrome-devtools/src/app-components.main.ts
  apps/chrome-devtools/src/app-devtools.main.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/color.helpers.ts
  apps/github-cascading-app/src/cascading/cascading-probot.ts
  apps/showcase/eslint.local.config.mjs
  eslint.config.mjs
  eslint.local.config.mjs
  eslint.shared.config.mjs
  packages/@ama-sdk/core/eslint.local.config.mjs
  packages/@ama-sdk/core/src/fwk/api.helper.spec.ts
  packages/@ama-sdk/core/src/plugins/bot-protection-fingerprint/bot-protection-fingerprint.spec.ts
  packages/@ama-sdk/core/src/plugins/json-token/json-token.spec.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.request.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.spec.ts
  packages/@ama-sdk/core/src/utils/generic-api.ts
  packages/@ama-sdk/core/src/utils/json-token.spec.ts
  packages/@ama-sdk/create/eslint.local.config.mjs
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/schematics/migrate/index.ts
  packages/@ama-sdk/schematics/schematics/ng-add/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/swagger-builder/eslint.local.config.mjs
  packages/@ama-sdk/swagger-builder/src/core/formatters/json-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/formatters/split-yaml-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/formatters/yaml-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/post-processes/flag-definition.ts
  packages/@o3r/create/eslint.local.config.mjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-typescript.cjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
Labels: bug, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@ama-sdk/swagger-builder, project:@o3r/github-cascading-app, project:@o3r/create, project:@o3r/showcase, project:@o3r/eslint-config

#2349 fix(eslint): manual fix of eslint errors on multiple packages
  eslint.shared.config.mjs
  packages/@o3r/create/eslint.local.config.mjs
  packages/@o3r/create/src/index.ts
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
  packages/@o3r/new-version/eslint.local.config.mjs
  packages/@o3r/new-version/src/index.spec.ts
  packages/@o3r/new-version/src/index.ts
  packages/@o3r/routing/src/stores/routing-guard/extra-effects/ngrx-store-router.effect.spec.ts
  packages/@o3r/routing/src/stores/routing-guard/routing-guard.reducer.spec.ts
  packages/@o3r/routing/src/stores/routing-guard/routing-guard.selectors.ts
  packages/@o3r/routing/src/tools/on-navigation-strategy.preloader.ts
  packages/@o3r/store-sync/eslint.local.config.mjs
  packages/@o3r/store-sync/src/core/storage-sync.ts
  packages/@o3r/store-sync/src/sync-storage/storage-sync.spec.ts
  packages/@o3r/store-sync/src/sync-storage/storage-sync.ts
  packages/@o3r/telemetry/eslint.local.config.mjs
  packages/@o3r/telemetry/schematics/ng-add/index.ts
  packages/@o3r/telemetry/schematics/ng-update/index.ts
  packages/@o3r/telemetry/src/builders/index.spec.ts
  packages/@o3r/telemetry/src/builders/index.ts
  packages/@o3r/telemetry/src/environment/index.ts
  packages/@o3r/telemetry/src/schematics/index.spec.ts
  packages/@o3r/test-helpers/eslint.local.config.mjs
  packages/@o3r/test-helpers/src/jest-environment/index.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-blank.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-otter-project.ts
  packages/@o3r/test-helpers/src/utilities/exec.ts
  packages/@o3r/test-helpers/src/utilities/git.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  packages/@o3r/third-party/eslint.local.config.mjs
  packages/@o3r/third-party/schematics/iframe-to-component/index.ts
  packages/@o3r/third-party/src/bridge/ab-testing/ab-testing-bridge.ts
  packages/@o3r/third-party/src/bridge/iframe/bridge.ts
Labels: bug, project:@o3r/third-party, project:@o3r/store-sync, project:@o3r/routing, project:@o3r/create, project:@o3r/test-helpers, project:@o3r/telemetry, project:@o3r/new-version, project:@o3r/eslint-config

#2370 fix(eslint): manual fix of eslint errors on package schematics
  packages/@o3r/schematics/cli/environment.ts
  packages/@o3r/schematics/eslint.local.config.mjs
  packages/@o3r/schematics/src/interfaces/angular-workspace.ts
  packages/@o3r/schematics/src/interfaces/schematic-option.ts
  packages/@o3r/schematics/src/modules/modules.helpers.ts
  packages/@o3r/schematics/src/rule-factories/check-packages-peers/index.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.ts
  packages/@o3r/schematics/src/rule-factories/eslint-fix/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add.helpers.ts
  packages/@o3r/schematics/src/rule-factories/remove-packages/index.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/update-imports-with-scope.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/update-ts-imports.ts
  packages/@o3r/schematics/src/utility/ast.ts
  packages/@o3r/schematics/src/utility/collection.spec.ts
  packages/@o3r/schematics/src/utility/collection.ts
  packages/@o3r/schematics/src/utility/component.ts
  packages/@o3r/schematics/src/utility/generation.ts
  packages/@o3r/schematics/src/utility/loaders.ts
  packages/@o3r/schematics/src/utility/migration/migration.spec.ts
  packages/@o3r/schematics/src/utility/modules.ts
  packages/@o3r/schematics/src/utility/monorepo.ts
  packages/@o3r/schematics/src/utility/package-manager-runner.ts
  packages/@o3r/schematics/src/utility/package-version.ts
  packages/@o3r/schematics/src/utility/routes.ts
  packages/@o3r/schematics/src/utility/sub-entry.ts
  packages/@o3r/schematics/src/utility/update-imports.spec.ts
  packages/@o3r/schematics/src/utility/update-imports.ts
  packages/@o3r/schematics/src/utility/update-pipes.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
Labels: bug, project:@o3r/schematics

#2356 fix(eslint): manual fix of eslint errors on packages @o3r/{l,m}*
  eslint.shared.config.mjs
  packages/@o3r/eslint-config/src/rules/typescript/eslint-typescript.cjs
  packages/@o3r/localization/builders/helpers/localization.generator.ts
  packages/@o3r/localization/builders/localization-extractor/validations.ts
  packages/@o3r/localization/builders/localization/builder.spec.ts
  packages/@o3r/localization/builders/localization/index.ts
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/localization/eslint.local.config.mjs
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
  packages/@o3r/localization/schematics/localization-to-component/index.ts
  packages/@o3r/localization/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/ng-update/v10-0/index.ts
  packages/@o3r/localization/src/annotations/localization.ts
  packages/@o3r/localization/src/core/translate-messageformat-lazy.compiler.ts
  packages/@o3r/localization/src/devkit/localization-devtools.console.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.console.spec.ts
  packages/@o3r/localization/src/devkit/localization-devtools.message.service.ts
  packages/@o3r/localization/src/public_api.ts
  packages/@o3r/localization/src/tools/localization.service.spec.ts
  packages/@o3r/localization/src/tools/localization.service.ts
  packages/@o3r/localization/src/tools/localized-currency.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-currency.pipe.ts
  packages/@o3r/localization/src/tools/localized-date.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-decimal.pipe.spec.ts
  packages/@o3r/localization/src/tools/translations-loader.spec.ts
  packages/@o3r/localization/tsconfig.builders.json
  packages/@o3r/logger/src/services/logger/logger.console.ts
  packages/@o3r/logger/src/services/logger/logger.noop.ts
  packages/@o3r/mobile/__mocks__/@capacitor/device.ts
  packages/@o3r/mobile/eslint.local.config.mjs
  packages/@o3r/mobile/pcloudy/pcloudy.api.ts
  packages/@o3r/mobile/pcloudy/pcloudy.connection.ts
  packages/@o3r/mobile/pcloudy/pcloudy.interfaces.ts
  packages/@o3r/mobile/pcloudy/pcloudy.service.ts
  packages/@o3r/mobile/src/capacitor/helpers.spec.ts
  packages/@o3r/mobile/src/capacitor/storage/rehydrater.ts
Labels: bug, project:@o3r/localization, project:@o3r/mobile, project:@o3r/logger, project:@o3r/eslint-config

#2355 fix: missing optional dependencies
  apps/github-cascading-app/package.json
  apps/github-cascading-app/testing/jest.config.ut.js
  apps/github-cascading-app/testing/setup-jest.ts
  apps/github-cascading-app/tsconfig.eslint.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/analytics/tsconfig.fixture.jasmine.json
  packages/@o3r/analytics/tsconfig.fixture.jest.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/tsconfig.fixture.jasmine.json
  packages/@o3r/configuration/tsconfig.fixture.jest.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/scripts/exported-actions.ts
  packages/@o3r/core/schematics/scripts/sub-entry-imports.ts
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/dynamic-content/tsconfig.fixture.jasmine.json
  packages/@o3r/dynamic-content/tsconfig.fixture.jest.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/training-tools/package.json
  packages/@o3r/workspace/package.json
  tsconfig.base.json
  yarn.lock
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@o3r/dev-tools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/new-version, project:@o3r/training-tools, project:@o3r/pipeline, project:release-gh-action

#2373 fix(eslint): manual fix of eslint errors on package starting by s
  eslint.shared.config.mjs
  packages/@o3r/eslint-config/src/rules/typescript/unicorn.cjs
  packages/@o3r/storybook/component-wrapper/component-wrapper.component.ts
  packages/@o3r/storybook/eslint.local.config.mjs
  packages/@o3r/storybook/schematics/storybook-base/index.ts
  packages/@o3r/storybook/src/configuration/configuration.spec.ts
  packages/@o3r/storybook/src/configuration/metadata-manager.ts
  packages/@o3r/storybook/src/localization/localization.spec.ts
  packages/@o3r/storybook/src/localization/metadata-manager.ts
  packages/@o3r/storybook/src/styling/metadata-manager.ts
  packages/@o3r/storybook/src/styling/styling.helpers.ts
  packages/@o3r/storybook/src/styling/styling.spec.ts
  packages/@o3r/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/stylelint-plugin/schematics/ng-add/index.ts
  packages/@o3r/stylelint-plugin/src/rules/index.mts
  packages/@o3r/stylelint-plugin/src/rules/o3r-var-parameter-equal-variable/o3r-var-parameter-equal-variable.spec.ts
  packages/@o3r/stylelint-plugin/testing/mjs-resolver.js
  packages/@o3r/styling/builders/metadata-check/index.it.spec.ts
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/theme-files/index.ts
  packages/@o3r/styling/schematics/ng-update/index.ts
  packages/@o3r/styling/src/devkit/styling-devtools.message.service.ts
  packages/@o3r/styling/src/services/styling/style-lazy-loader.service.ts
Labels: bug, project:@o3r/storybook, project:@o3r/styling, project:@o3r/stylelint-plugin, project:@o3r/eslint-config

#2374 fix(eslint): manual fix of eslint errors on packages testing and workspace
  packages/@o3r/testing/eslint.local.config.mjs
  packages/@o3r/testing/schematics/add-functions-to-fixture/index.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/ng-update/v9-0/localization-imports/localization-imports-map.ts
  packages/@o3r/testing/schematics/ng-update/v9-0/throw-on-undefined/throw-on-undefined.ts
  packages/@o3r/testing/schematics/playwright/sanity/index.spec.ts
  packages/@o3r/testing/schematics/playwright/scenario/index.spec.ts
  packages/@o3r/testing/src/core/angular/angular-materials/select-material.ts
  packages/@o3r/testing/src/core/angular/component-fixture.ts
  packages/@o3r/testing/src/core/angular/elements/select-element.ts
  packages/@o3r/testing/src/core/angular/elements/slider-element.ts
  packages/@o3r/testing/src/core/angular/group.ts
  packages/@o3r/testing/src/core/component-fixture.ts
  packages/@o3r/testing/src/core/group.ts
  packages/@o3r/testing/src/core/playwright/angular-materials/autocomplete-material.ts
  packages/@o3r/testing/src/core/playwright/angular-materials/select-material.ts
  packages/@o3r/testing/src/core/playwright/component-fixture.ts
  packages/@o3r/testing/src/core/playwright/element.ts
  packages/@o3r/testing/src/core/playwright/elements/checkbox-element.ts
  packages/@o3r/testing/src/core/playwright/elements/radio-element.ts
  packages/@o3r/testing/src/core/playwright/group.ts
  packages/@o3r/testing/src/core/protractor/angular-materials/select-material.ts
  packages/@o3r/testing/src/core/protractor/component-fixture.ts
  packages/@o3r/testing/src/core/protractor/elements/radio-element.ts
  packages/@o3r/testing/src/core/protractor/group.ts
  packages/@o3r/testing/src/core/protractor/groups/radio-group.ts
  packages/@o3r/testing/src/mocks/mock-component-generator.ts
  packages/@o3r/testing/src/store/testable-select.ts
  packages/@o3r/testing/src/store/typings.ts
  packages/@o3r/testing/src/tools/path-replacement/path-replacement.ts
  packages/@o3r/testing/src/tools/protractor/fetch-manager/_fetch-manager.ts
  packages/@o3r/testing/src/tools/protractor/post-message-interceptor/_post-message-interceptor.ts
  packages/@o3r/testing/src/visual-test/utils.ts
  packages/@o3r/workspace/eslint.local.config.mjs
  packages/@o3r/workspace/schematics/application/index.spec.ts
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/index.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules.nx.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/npm-workspace.ts
  packages/@o3r/workspace/schematics/ng-update/index.ts
  packages/@o3r/workspace/schematics/rule-factories/project-configs.ts
  packages/@o3r/workspace/schematics/sdk/rules/update-ts-paths.rule.ts
  packages/@o3r/workspace/src/cli/set-version.cts
  packages/@o3r/workspace/src/utils/jest.helpers.ts
Labels: bug, project:@o3r/testing, project:@o3r/workspace

#2341 fix: manual fix of eslint errors on packages @o3r/{a}*
  packages/@o3r/analytics/eslint.local.config.mjs
  packages/@o3r/analytics/plugins/webpack/build-metrics/build-stats.plugin.ts
  packages/@o3r/analytics/schematics/analytics-to-component/index.ts
  packages/@o3r/analytics/src/contracts/events-contracts.ts
  packages/@o3r/analytics/src/directives/track-events/base-track-events.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.spec.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.ts
  packages/@o3r/analytics/src/stores/event-track/event-track.actions.ts
  packages/@o3r/analytics/src/stores/event-track/event-track.reducer.spec.ts
  packages/@o3r/analytics/src/stores/event-track/event-track.reducer.ts
  packages/@o3r/analytics/src/stores/event-track/event-track.selectors.spec.ts
  packages/@o3r/analytics/src/stores/event-track/event-track.state.ts
  packages/@o3r/apis-manager/eslint.local.config.mjs
  packages/@o3r/apis-manager/src/apis-manager/api-factory.service.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.ts
  packages/@o3r/application/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/application/schematics/ng-update/index.ts
  packages/@o3r/application/src/devkit/application-devtools.console.service.ts
  packages/@o3r/application/src/devkit/application-devtools.message.service.ts
  packages/@o3r/artifactory-tools/schematics/ng-add/index.ts
  packages/@o3r/artifactory-tools/src/cli/artifact-cleaner.ts
  packages/@o3r/artifactory-tools/src/cli/pr-artifact-cleaner.ts
  packages/@o3r/azure-tools/schematics/ng-add/index.ts
  packages/@o3r/azure-tools/src/cli/comment-pr.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
Labels: bug, project:@o3r/application, project:@o3r/analytics, project:@o3r/apis-manager, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config

#2380 fix(design): typo in interface name
  packages/@o3r/design/src/core/design-token/renderers/design-token.renderer.interface.ts
Labels: bug, project:@o3r/design

#2378 fix(localization): path generated in the angular.json in case of monorepo
  packages/@o3r/localization/builders/localization/index.spec.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
Labels: bug, project:@o3r/localization

#2382 fix(accessibility): import the full module to have all accessibilities features
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.template.html
Labels: bug, project:@o3r/showcase

#2377 fix(design): remove Node requirement in core files
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.ts
Labels: bug, project:@o3r/design

#2384 fix(eslint): align code after discussion
  eslint.shared.config.mjs
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/apis-manager/schematics/index.it.spec.ts
  packages/@o3r/application/schematics/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/shared/presets/all.preset.ts
  packages/@o3r/core/schematics/shared/presets/cms.preset.ts
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/design/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/extractors/builders/aggregate-migration-scripts/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/new-version/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/styling/builders/metadata-check/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/third-party/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
Labels: bug, project:@ama-sdk/create, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/analytics, project:@o3r/apis-manager, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/create, project:@o3r/workspace, project:@o3r/design, project:@o3r/new-version, project:@o3r/eslint-config

#2338 chore: rework on Nx Cache and Doc
  .nxignore
  CONTRIBUTING.md
  apps/chrome-devtools/project.json
  apps/showcase/project.json
  nx.json
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/showcase-sdk/project.json
  packages/@o3r/analytics/project.json
  packages/@o3r/components/project.json
  packages/@o3r/configuration/project.json
  packages/@o3r/dynamic-content/project.json
  packages/@o3r/localization/project.json
  packages/@o3r/logger/project.json
  packages/@o3r/routing/project.json
  packages/@o3r/rules-engine/project.json
  packages/@o3r/storybook/project.json
  packages/@o3r/test-helpers/project.json
Labels: bug, documentation, project:@o3r/chrome-devtools, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@o3r/dev-tools, project:@o3r/showcase, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/new-version, project:@o3r/training-tools, project:@o3r/pipeline, project:release-gh-action

#2376 fix(pipeline): action version and update npmRegistry
  packages/@o3r/pipeline/schematics/ng-add/index.spec.ts
  packages/@o3r/pipeline/schematics/ng-add/index.ts
  tools/@o3r/build-helpers/scripts/write-git-hash.mjs
Labels: bug, project:@o3r/build-helpers, project:@o3r/pipeline

#2379 feat(design): add sorting way based on regexps
  packages/@o3r/design/builders/generate-style/helpers/style-renderer-options.ts
  packages/@o3r/design/builders/generate-style/schema.json
  packages/@o3r/design/builders/generate-style/schema.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: enhancement, project:@o3r/design, priority:high

#2387 fix: vscode watch mode options
  .vscode/settings.json
Labels: bug
