Repository AmadeusITGroup/otter, pull requests merged in 2024-02, with the labels that each got.

#1305 feat: remove --access=public from publish command
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
Labels: enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry

#1307 fix: issue on path for windows
  packages/@o3r/telemetry/src/builders/index.ts
  packages/@o3r/telemetry/src/environment/index.ts
  packages/@o3r/telemetry/src/schematics/index.ts
Labels: bug, project:@o3r/telemetry

#1302 chore: update doc for supported configuration tags
  docs/configuration/CONFIGURATION_SUPPORTED_EXTRACTOR.md
Labels: documentation

#1308 chore: improve typescript sdk generator documentation
  docs/api-sdk/COMPOSITION_INHERITANCE.md
  docs/api-sdk/SDK_MODELS_HIERARCHY.md
  packages/@ama-sdk/schematics/README.md
Labels: documentation, project:@ama-sdk/schematics

#809 test: add checks based on git diff in it tests
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/apis-manager/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-angular-with-o3r-core.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-angular.ts
  packages/@o3r/test-helpers/src/utilities/angular.ts
  packages/@o3r/test-helpers/src/utilities/git.ts
  packages/@o3r/test-helpers/src/utilities/index.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
Labels: project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/test-helpers, project:@o3r/schematics

#1298 feat: update dev-tools documentation
  docs/dev-tools/DEV_TOOLS.md
  packages/@o3r/artifactory-tools/README.md
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/artifactory-tools/src/cli/artifact-cleaner.ts
  packages/@o3r/artifactory-tools/src/cli/artifact-retriever.ts
  packages/@o3r/artifactory-tools/src/cli/pr-artifact-cleaner.ts
  packages/@o3r/artifactory-tools/src/helpers/gavc-response/gavc-response.interfaces.ts
  packages/@o3r/artifactory-tools/src/helpers/gavc-response/index.ts
  packages/@o3r/artifactory-tools/src/helpers/index.ts
  packages/@o3r/artifactory-tools/src/public_api.ts
  packages/@o3r/azure-tools/README.md
  packages/@o3r/azure-tools/src/cli/comment-pr.ts
  packages/@o3r/dev-tools/README.md
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dev-tools/src/cli/artifact-retriever.ts
  packages/@o3r/dev-tools/src/cli/comment-pr.ts
  packages/@o3r/dev-tools/src/helpers/gavc-response/gavc-response.interfaces.ts
  yarn.lock
Labels: documentation, enhancement, project:@o3r/dev-tools, project:@o3r/artifactory-tools, project:@o3r/azure-tools

#1315 fix: force the minor version of angular when creating new project
  packages/@o3r/create/src/index.ts
Labels: bug, project:@o3r/create

#1317 chore: removed multiple nx version deps
  .yarnrc.yml
  package.json
  packages/@o3r/schematics/tsconfig.cli.json
  yarn.lock
Labels: project:@o3r/schematics

#1322 fix(ng-update): styling + rules-engine
  packages/@o3r/rules-engine/schematics/ng-update/v10.0/action-module-split.ts
  packages/@o3r/styling/schematics/ng-update/v10.0/index.spec.ts
  packages/@o3r/styling/schematics/ng-update/v10.0/update-scss-imports.ts
Labels: bug, project:@o3r/rules-engine, project:@o3r/styling

#1323 test: use virtual filesystem for eslint-plugin tests
  .eslintrc.js
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/version-harmonize.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-folder-import-for-module/no-folder-import-for-module.spec.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/testing/jest.config.ut.js
  yarn.lock
Labels: project:@o3r/eslint-plugin

#1314 fix: resolve css subentry path in extract-style
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/scss/theming/_functions.scss
  packages/@o3r/styling/scss/theming/_mixins.scss
  packages/@o3r/styling/scss/utils/_functions.scss
Labels: bug, project:@o3r/styling

#1321 fix(showcase): clear override button not working for dynamic content …
  apps/showcase/e2e-playwright/scenarios/dynamic-content-page-scenario.e2e-playwright-spec.ts
  apps/showcase/src/app/configuration/configuration.spec.ts
  apps/showcase/src/app/configuration/configuration.template.html
  apps/showcase/src/app/dynamic-content/dynamic-content.fixture.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.spec.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.template.html
Labels: bug, project:@o3r/showcase

#1326 feat: deprecate @o3r/storybook
  packages/@o3r/storybook/README.md
  packages/@o3r/storybook/package.json
Labels: enhancement, project:@o3r/storybook

#1328 fix: cjs resolution fails for @ama-sdk/core
  packages/@ama-sdk/core/package.json
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/showcase-sdk

#1327 fix(showcase): component replacement broken in prod mode
  apps/github-cascading-app/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/scenarios/component-replacement-page-scenario.e2e-playwright-spec.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.fixture.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.spec.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  apps/vscode-extension/package.json
  package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: bug, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/github-cascading-app, project:@o3r/schematics, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/design

#1330 fix: o3r-eslint config is not fully published
  packages/@o3r/eslint-config-otter/package.json
Labels: bug, project:@o3r/eslint-config-otter

#1329 fix(sdk): add generated file to vscode readonly config
  .vscode/settings.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.vscode/settings.json
Labels: bug, project:@ama-sdk/schematics

#1332 feat: regen sdk
  apps/showcase/tsconfig.spec.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/store/store-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/user/user-api.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/address/address.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/address/address.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/api-response/api-response.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/api-response/api-response.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/category/category.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/category/category.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/customer/customer.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/customer/customer.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/order/order.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/pet/pet.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/pet/pet.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/tag/tag.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/tag/tag.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/user/user.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/user/user.ts
  packages/@ama-sdk/showcase-sdk/src/spec/api-mock.ts
  packages/@ama-sdk/showcase-sdk/src/spec/operation-adapter.ts
Labels: enhancement, project:@o3r/showcase, project:@ama-sdk/showcase-sdk

#1334 feat(sdk-core): expose missing plugin
  packages/@ama-sdk/core/package.json
Labels: enhancement, project:@ama-sdk/core

#1335 chore: upgrade major dependencies
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry

#1339 fix(sdk-core): micro-gateway plugin header set
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/src/plugins/mgw-mdw-auth/mgw-mdw-auth.request.ts
  packages/@ama-sdk/core/src/plugins/mgw-mdw-auth/mgw-mdw-auth.spec.ts
Labels: bug, project:@ama-sdk/core

#1267 feat: weekly check external links
  .github/markdown-check-issue-template.md
  .github/markdown-external-links.config.json
  .github/markdown-links.config.json
  .github/workflows/code-check.yml
  .github/workflows/md-external-links-check.yml
  docs/forms/FORM_ERRORS.md
  docs/styling/THEME.md
  packages/@ama-sdk/core/README.md
  packages/@o3r/eslint-plugin/README.md
Labels: enhancement, project:@ama-sdk/core, project:@o3r/eslint-plugin

#1346 fix: playwright fixtures issues
  packages/@o3r/testing/src/core/playwright/component-fixture.ts
  packages/@o3r/testing/src/core/playwright/element.ts
Labels: bug, project:@o3r/testing

#1348 fix: external links in documentation
  .github/markdown-external-links.config.json
  packages/@ama-sdk/schematics/README.md
Labels: bug, documentation, project:@ama-sdk/schematics

#1359 fix: install broken when not using pnp node-linker
  package.json
Labels: bug

#1350 fix: ng updates for v10
  .verdaccio/conf/config.yaml
  packages/@ama-sdk/schematics/migration.json
  packages/@o3r/application/migration.json
  packages/@o3r/application/schematics/ng-update/index.ts
  packages/@o3r/application/schematics/ng-update/v10.0/update-cms-config.ts
  packages/@o3r/components/migration.json
  packages/@o3r/components/package.json
  packages/@o3r/core/migration.json
  packages/@o3r/core/schematics/ng-update/index.ts
  packages/@o3r/dev-tools/migration.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/migration.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/migration.json
  packages/@o3r/extractors/migration.json
  packages/@o3r/extractors/package.json
  packages/@o3r/localization/migration.json
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/migration.json
  packages/@o3r/rules-engine/schematics/ng-update/v10.0/action-module-split.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/update-ts-imports.ts
  packages/@o3r/schematics/src/utility/update-imports.spec.ts
  packages/@o3r/schematics/src/utility/update-imports.ts
  packages/@o3r/schematics/src/utility/update-pipes.ts
  packages/@o3r/styling/migration.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-update/v9-0/localization-imports/localization-imports.ts
  packages/@o3r/testing/schematics/ng-update/v9-0/localization-imports/mocks/my-component-updated.ts.template
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/application, project:@o3r/styling, project:@o3r/extractors, project:@o3r/eslint-config-otter, project:@o3r/schematics, project:@o3r/dev-tools

#1362 fix: remove deprecated prepareRuleset method
  packages/@o3r/core/package.json
  packages/@o3r/rules-engine/src/engine/ruleset-executor.ts
Labels: bug, project:@o3r/core, project:@o3r/rules-engine

#1363 chore: bump dependencies for security reason
  packages/@o3r/storybook/package.json
  yarn.lock
Labels: project:@o3r/storybook

#1344 fix(sdk-core): microgateway token generation
  packages/@ama-sdk/core/src/plugins/mgw-mdw-auth/mgw-mdw-auth.request.ts
  packages/@ama-sdk/core/src/plugins/mgw-mdw-auth/mgw-mdw-auth.spec.ts
Labels: bug, project:@ama-sdk/core

#1349 chore: cleanup playwright component fixture
  packages/@o3r/testing/src/core/playwright/component-fixture.ts
Labels: project:@o3r/testing

#1331 feat: light SDK generation
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/index.mustache
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/store/store-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/user/user-api.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/address/address.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/address/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/api-response/api-response.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/api-response/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/category/category.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/category/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/customer/customer.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/customer/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/order/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/order/order.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/order/order.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/pet/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/pet/pet.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/revivers.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/tag/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/tag/tag.reviver.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/user/index.ts
  packages/@ama-sdk/showcase-sdk/src/models/base/user/user.reviver.ts
Labels: enhancement, project:@ama-sdk/schematics, project:@ama-sdk/showcase-sdk

#1364 feat: documentation note formating
  README.md
  apps/github-cascading-app/README.md
  apps/vscode-extension/README.md
  docs/api-sdk/COMPOSITION_INHERITANCE.md
  docs/api-sdk/SDK_MODELS_HIERARCHY.md
  docs/apis-manager/API_MANAGER.md
  docs/components/COMPONENT_STRUCTURE.md
  docs/components/PLACEHOLDERS.md
  docs/core/MODULE.md
  docs/dev-tools/chrome-devtools.md
  docs/dev-tools/console-devtools.md
  docs/localization/LOCALIZATION.md
  docs/rules-engine/how-to-use/performance-metrics.md
  docs/rules-engine/operators.md
  docs/styling/THEME.md
  docs/styling/TYPOGRAPHY.md
  docs/swagger-builder/merging-strategy.md
  docs/swagger-builder/multi-apis.md
  docs/swagger-builder/packaging.md
  docs/swagger-builder/readme.md
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/readme.md
  packages/@ama-sdk/core/src/plugins/reviver/readme.md
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/swagger-builder/README.md
  packages/@ama-terasu/cli/README.md
  packages/@o3r/analytics/README.md
  packages/@o3r/apis-manager/README.md
  packages/@o3r/application/README.md
  packages/@o3r/components/README.md
  packages/@o3r/configuration/README.md
  packages/@o3r/core/README.md
  packages/@o3r/create/README.md
  packages/@o3r/dev-tools/README.md
  packages/@o3r/dynamic-content/README.md
  packages/@o3r/eslint-config-otter/README.md
  packages/@o3r/eslint-plugin/README.md
  packages/@o3r/extractors/README.md
  packages/@o3r/forms/README.md
  packages/@o3r/localization/README.md
  packages/@o3r/logger/README.md
  packages/@o3r/mobile/README.md
  packages/@o3r/routing/README.md
  packages/@o3r/rules-engine/README.md
  packages/@o3r/schematics/README.md
  packages/@o3r/storybook/README.md
  packages/@o3r/stylelint-plugin/README.md
  packages/@o3r/styling/README.md
  packages/@o3r/testing/README.md
  packages/@o3r/third-party/README.md
  tools/github-actions/cascading/readme.md
Labels: documentation, enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@ama-terasu/cli, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@o3r/eslint-plugin, project:@o3r/schematics, project:@o3r/dev-tools, project:otter-devtools

#1257 feat(metrics): question to activate telemetry + documentation
  docs/telemetry/README.md
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
  packages/@o3r/telemetry/schematics/ng-add/index.ts
  packages/@o3r/telemetry/src/builders/index.ts
  packages/@o3r/telemetry/src/environment/index.ts
  packages/@o3r/telemetry/src/schematics/index.spec.ts
  packages/@o3r/telemetry/src/schematics/index.ts
  yarn.lock
Labels: documentation, enhancement, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/components, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/schematics, project:@o3r/telemetry

#1368 test(e2e): fix visual testing
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.template.html
Labels: project:@o3r/showcase

#1369 fix: prepare-publish script
  package.json
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  tools/@o3r/build-helpers/scripts/prepare-publish.mjs
Labels: bug, project:@o3r/build-helpers, project:@o3r/test-helpers

#1370 chore: remove useless peer-dep on ama-sdk/core
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/schematics/ng-add/index.ts
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v10.0/script-removal.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  yarn.lock
Labels: project:@ama-sdk/core, project:@ama-sdk/schematics

#1376 fix(doc): realign subpart of custom template with default from compodoc
  compodoc-templates/package/partials/menu.hbs
  compodoc-templates/root/partials/menu.hbs
Labels: bug, documentation

#1378 chore: bump ts to 5.3.3
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry

#1383 fix: support application build in extract localization
  packages/@o3r/localization/builders/localization/index.ts
  packages/@o3r/localization/builders/localization/schema.json
Labels: bug, project:@o3r/localization

#1387 fix: run int tests locally
  packages/@o3r/test-helpers/src/prepare-test-env.ts
Labels: bug, project:@o3r/test-helpers

#1388 fix(telemetry): do not wait for tasks
  packages/@o3r/telemetry/src/schematics/index.spec.ts
  packages/@o3r/telemetry/src/schematics/index.ts
Labels: bug, project:@o3r/telemetry

#1393 fix(devkit): improve localization override performances
  packages/@o3r/localization/src/devkit/localization-devtools.console.service.ts
Labels: bug, project:@o3r/localization

#1395 fix: ng updates for v10
  nx.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/ng-update/v8.2/import-map.ts
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/utility/wrapper.ts
  yarn.lock
Labels: bug, project:@o3r/core, project:@o3r/schematics

#1401 fix(devkit): remove call to appRef.tick because refresh is already handled by setTranslation
  packages/@o3r/localization/src/devkit/localization-devtools.console.service.ts
Labels: bug, project:@o3r/localization

#1402 fix: missing package groups for ng update
  packages/@o3r/core/package.json
Labels: bug, project:@o3r/core

#1403 docs(telemetry): review privacy notice wording
  .attachments/screenshots/telemetry/consent.png
  .attachments/screenshots/telemetry/withdraw.png
  docs/telemetry/README.md
Labels: documentation

#1410 fix: schematic generating library
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/index.ts
Labels: bug, project:@o3r/schematics, project:@o3r/workspace

#1412 fix: missing peer deps in eslint-config-otter
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
Labels: bug, project:@o3r/eslint-config-otter

#1407 fix(telemetry): use the new setup method
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
Labels: bug, project:@o3r/extractors, project:@o3r/schematics

#1400 doc: migration guide
  docs/core/UPGRADE_NEW_VERSION.md
Labels: documentation

#1418 test: fix random timeouts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/testing/jest.config.ut.builders.js
Labels: project:@ama-sdk/schematics

#1422 chore: align sub type dependencies
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  apps/showcase/tsconfig.app.json
  package.json
  packages/@ama-sdk/core/tsconfig.spec.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/testing/tsconfig.spec.json
  packages/@ama-sdk/showcase-sdk/testing/tsconfig.spec.json
  packages/@o3r/eslint-plugin/tsconfig.build.json
  tools/github-actions/audit/tsconfig.json
  tools/github-actions/cascading/tsconfig.build.json
  tools/github-actions/get-npm-tag/tsconfig.json
  tools/github-actions/new-version/tsconfig.build.json
  yarn.lock
Labels: project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/eslint-plugin, project:@o3r/showcase, project:@ama-sdk/showcase-sdk

#1419 chore: migration guide for v10
  apps/showcase/project.json
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/assets/rules/rulesets.json
  docs/core/UPGRADE_NEW_VERSION.md
  migration-guides/10.0.md
  migration-guides/README.md
  packages/@o3r/eslint-config-otter/rules/typescript/eslint.cjs
Labels: documentation, project:@o3r/eslint-config-otter, project:@o3r/showcase

#1431 fix: missing package name for gh actions
  .yarn/sdks/eslint/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: bug, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action
