Repository AmadeusITGroup/otter, pull requests merged in 2024-08, with the labels that each got.

#2009 fix(rules-engine): add the module when needed
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/rules-engine-to-component/index.spec.ts
  packages/@o3r/rules-engine/schematics/rules-engine-to-component/index.ts
  packages/@o3r/rules-engine/schematics/rules-engine-to-component/schema.json
  packages/@o3r/rules-engine/schematics/rules-engine-to-component/schema.ts
  packages/@o3r/schematics/src/utility/ast.ts
  packages/@o3r/third-party/schematics/iframe-to-component/index.ts
Labels: bug, project:@o3r/rules-engine, project:@o3r/third-party, project:@o3r/schematics

#2016 feat(styling): add support for Material Design 3 palettes
  packages/@o3r/styling/scss/theming/otter-theme/_material.scss
  packages/@o3r/styling/scss/theming/otter-theme/_theme.scss
Labels: enhancement, project:@o3r/styling

#2007 feat(design): add type string support
  .eslintrc.js
  package.json
  packages/@ama-sdk/create/.eslintrc.js
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/create/.eslintrc.js
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: enhancement, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/create, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design

#2018 fix: correct dist path for dev builds on otter webapps
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
Labels: bug, project:@o3r/core

#2017 fix(generator): try to detect automatically the routes definition
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/page/index.spec.ts
  packages/@o3r/core/schematics/page/index.ts
  packages/@o3r/core/schematics/page/schema.json
  packages/@o3r/core/schematics/page/schema.ts
Labels: bug, project:@o3r/core

#1989 Feature/design token jsonschema
  packages/@o3r/design/README.md
  packages/@o3r/design/builders.json
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-jsonschema/index.js
  packages/@o3r/design/builders/generate-jsonschema/index.ts
  packages/@o3r/design/builders/generate-jsonschema/schema.json
  packages/@o3r/design/builders/generate-jsonschema/schema.ts
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/renderers/index.ts
  packages/@o3r/design/src/core/design-token/renderers/json-schema/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/json-schema/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/json-schema/design-token-updater.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/json-schema/design-token-updater.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/json-schema/design-token-value.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/json-schema/design-token-value.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/json-schema/index.ts
Labels: bug, enhancement, project:@ama-sdk/schematics, project:@o3r/design

#2024 chore: align package.json dependencies
  packages/@o3r/core/package.json
Labels: project:@o3r/core

#2025 feat: add eslint action on save
  .vscode/settings.json
Labels: enhancement

#2026 feat(design): add token template support to allow app override
  docs/design/TECHNICAL_DOCUMENTATION.md
  packages/@o3r/design/README.md
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-css/schema.ts
  packages/@o3r/design/package.json
  packages/@o3r/design/schemas/design-token-template.schema.json
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/design/schematics/ng-add/index.spec.ts
  packages/@o3r/design/schematics/ng-add/register-generate-css/register-task.ts
  packages/@o3r/design/schematics/ng-add/register-generate-css/templates-workspace/design-token.template.json.template
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token-parser.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: enhancement, project:@o3r/design

#2040 fix(design): align generated file to builder default config
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/design/schematics/ng-add/index.spec.ts
  packages/@o3r/design/schematics/ng-add/register-generate-css/templates/design-token.custom.theme.json.template
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
Labels: bug, project:@o3r/design

#2036 fix(chrome-ext): port should be reconnnected after a certain time without interaction
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/services/connection.service.ts
  apps/chrome-devtools/src/services/localization.service.ts
  apps/chrome-devtools/src/services/state.service.ts
Labels: bug, project:@o3r/chrome-devtools

#2037 fix(design): design token json schema
  packages/@o3r/design/schemas/design-token.schema.json
Labels: bug, project:@o3r/design

#2029 fix(extractors): sanatize input before spawning command
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor.helper.ts
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/styling/builders/metadata-check/index.it.spec.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
Labels: bug, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors, project:@o3r/test-helpers

#2044 feat(design): add the capability to not render private token in metadata
  packages/@o3r/design/README.md
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-css/schema.ts
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token.renderer.interface.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-definition.renderers.ts
Labels: enhancement, project:@o3r/design

#2039 chore: upgrade openapi generator
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
Labels: project:@ama-sdk/schematics

#2055 fix(new-version): add missing dependency
  packages/@o3r/new-version/package.json
  yarn.lock
Labels: bug, project:@o3r/new-version

#2053 feat(testing): add a slider element
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/core/angular-materials/index.ts
  packages/@o3r/testing/src/core/angular-materials/slider-material.ts
  packages/@o3r/testing/src/core/angular/angular-materials/index.ts
  packages/@o3r/testing/src/core/angular/angular-materials/slider-material.ts
  packages/@o3r/testing/src/core/angular/elements/index.ts
  packages/@o3r/testing/src/core/angular/elements/slider-element.ts
  packages/@o3r/testing/src/core/elements/index.ts
  packages/@o3r/testing/src/core/elements/slider-element.ts
  packages/@o3r/testing/src/core/playwright/angular-materials/index.ts
  packages/@o3r/testing/src/core/playwright/angular-materials/slider-material.ts
  packages/@o3r/testing/src/core/playwright/elements/index.ts
  packages/@o3r/testing/src/core/playwright/elements/slider-element.ts
  yarn.lock
Labels: enhancement, project:@o3r/testing

#2057 feat(#1693): create interface itemidentifier
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/core/src/core/interfaces/index.ts
  packages/@o3r/core/src/core/interfaces/item-identifier.ts
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/rules-engine/src/engine/engine.interface.ts
  packages/@o3r/rules-engine/src/engine/structure.ts
  packages/@o3r/styling/src/core/styles.interface.ts
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/components, project:@o3r/styling, project:@o3r/showcase, project:@o3r/design

#2062 fix: missing permissions for first pr comment workflow
  .github/workflows/first-pr.yml
Labels: bug

#2064 feat(style): deprecated warning on style extractor
  packages/@o3r/core/package.json
  packages/@o3r/styling/builders/style-extractor/index.ts
Labels: enhancement, project:@o3r/core, project:@o3r/styling

#2058 feat(cascading): avoid label setting on cascading pull request
  .github/workflows/pr-labels.yml
Labels: enhancement

#2075 feat(eslint): prepare migration to typescript-eslint 8.*
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/matching-configuration-name/matching-configuration-name.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-folder-import-for-module/no-folder-import-for-module.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/no-multiple-type-configuration-property/no-multiple-type-configuration-property.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-categories-tags/o3r-categories-tags.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-widget-tags/o3r-widget-tags.ts
  packages/@o3r/eslint-plugin/src/rules/utils.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.ts
Labels: enhancement, project:@o3r/eslint-plugin

#1999 fix(metadata-check): aggregate migration scripts of libraries
  docs/cms-adapters/CMS_ADAPTERS.md
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/components/schematics/cms-adapter/index.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/extractors/builders.json
  packages/@o3r/extractors/builders/aggregate-migration-scripts/index.it.spec.ts
  packages/@o3r/extractors/builders/aggregate-migration-scripts/index.spec.ts
  packages/@o3r/extractors/builders/aggregate-migration-scripts/index.ts
  packages/@o3r/extractors/builders/aggregate-migration-scripts/schema.json
  packages/@o3r/extractors/builders/aggregate-migration-scripts/schema.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/extractors/schemas/migration.metadata.schema.json
  packages/@o3r/extractors/schematics/cms-adapter/index.ts
  packages/@o3r/extractors/schematics/cms-adapter/templates/migration-scripts/README.md
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/ng-add/index.ts
  packages/@o3r/extractors/src/core/comparator/metadata-comparator.interface.ts
  packages/@o3r/extractors/src/core/comparator/metadata-comparison.helper.ts
  packages/@o3r/extractors/testing/jest.config.ut.builders.js
  packages/@o3r/extractors/testing/mocks/migration-scripts/expected/migration-1.0.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/expected/migration-1.5.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/expected/migration-2.0.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/lib/migration-2.0.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/lib/migration-2.5.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/lib/migration-4.0.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/migration-1.0.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/migration-1.5.json
  packages/@o3r/extractors/testing/mocks/migration-scripts/migration-2.0.json
  packages/@o3r/extractors/tsconfig.build.json
  packages/@o3r/extractors/tsconfig.builders.json
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/localization/schematics/cms-adapter/index.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/builders/metadata-check/index.it.spec.ts
  packages/@o3r/styling/schematics/cms-adapter/index.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/test-helpers/src/jest-environment/index.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  packages/@o3r/test-helpers/src/utilities/verdaccio.ts
Labels: bug, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2046 fix: copy specs local file refs
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/copy-referenced-files.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/copy-referenced-files.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/testing/mocks/spec-chunk2.yaml
  packages/@ama-sdk/schematics/testing/mocks/spec-chunk3/spec-chunk3.yaml
  packages/@ama-sdk/schematics/testing/mocks/spec-chunk4/spec-chunk4.yaml
  packages/@ama-sdk/schematics/testing/mocks/split-spec/spec-chunk1.yaml
  packages/@ama-sdk/schematics/testing/mocks/split-spec/spec-with-updated-paths.yaml
  packages/@ama-sdk/schematics/testing/mocks/split-spec/split-spec.yaml
Labels: bug, project:@ama-sdk/schematics

#2083 fix(showcase): cache of dark theme generated output
  apps/showcase/project.json
Labels: bug, project:@o3r/showcase

#2091 fix: missing permissions for pr labels workflow
  .github/workflows/pr-labels.yml
Labels: bug

#2095 fix(ama-sdk/schematics): refs resolution failure
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/copy-referenced-files.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/copy-referenced-files.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/testing/mocks/spec-chunk2.yaml
  packages/@ama-sdk/schematics/testing/mocks/spec-chunk3/spec-chunk3.yaml
  packages/@ama-sdk/schematics/testing/mocks/spec-chunk4/spec-chunk4.yaml
  packages/@ama-sdk/schematics/testing/mocks/split-spec/spec-chunk1.yaml
  packages/@ama-sdk/schematics/testing/mocks/split-spec/spec-with-updated-paths.yaml
  packages/@ama-sdk/schematics/testing/mocks/split-spec/split-spec.yaml
Labels: bug, project:@ama-sdk/schematics

#2103 chore(deps): update angular dependencies
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/new-version

#2111 feat(design): add logging to CSS generation
  packages/@o3r/design/builders/generate-css/index.ts
Labels: enhancement, project:@o3r/design

#2059 feat(sdk): add the capability to clear dictionary field
  docs/api-sdk/SDK_MODELS_HIERARCHY.md
  packages/@ama-sdk/core/src/fwk/Reviver.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics
