Repository AmadeusITGroup/otter, pull requests merged in 2024-11, with the labels that each got.

#2393 fix(eslint): fix the build
  apps/chrome-devtools/tsconfig.build.components.json
  apps/chrome-devtools/tsconfig.build.devtools.json
  apps/chrome-devtools/tsconfig.build.json
  apps/chrome-devtools/tsconfig.json
  packages/@ama-sdk/core/src/plugins/core/reply-plugin.ts
  packages/@o3r/dev-tools/src/cli/checks/in-source-dep-check.ts
  packages/@o3r/dynamic-content/src/services/styling/style-lazy-loader.service.ts
Labels: bug, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@o3r/dynamic-content, project:@o3r/dev-tools

#2398 fix(pipeline): release name is correctly computed based on latest tag
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
Labels: bug, project:@o3r/pipeline

#2394 fix(eslint): fix the test
  packages/@ama-sdk/core/schematics/ng-add/index.spec.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@o3r/components/src/devkit/inspector/otter-inspector.service.spec.ts
  packages/@o3r/extractors/src/core/comparator/metadata-files.helper.spec.ts
  packages/@o3r/localization/src/tools/localized-currency.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-date.pipe.spec.ts
  packages/@o3r/localization/src/tools/localized-decimal.pipe.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.spec.ts
  packages/@o3r/rules-engine/src/engine/operator/operator.helpers.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/array-based.operators.ts
  packages/@o3r/schematics/src/rule-factories/update-imports/update-imports-with-scope.ts
  packages/@o3r/schematics/src/utility/generation.ts
  packages/@o3r/storybook/schematics/storybook-base/templates/__dot__storybook/preview.js.template
  packages/@o3r/storybook/src/styling/styling.spec.ts
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/extractors, project:@o3r/schematics, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2402 fix(showcase): first local build dep concurrency
  apps/showcase/project.json
  nx.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/testing/.eslintrc.js
  packages/@o3r/testing/package.json
  packages/@o3r/testing/project.json
  packages/@o3r/testing/scripts/generate-esm-manifest.cjs
  packages/@o3r/testing/tsconfig.build.tools.json
  packages/@o3r/testing/tsconfig.build.utils.json
  packages/@o3r/testing/tsconfig.eslint.json
  packages/@o3r/testing/tsconfig.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tsconfig.build.json
Labels: bug, project:@ama-sdk/schematics, project:@o3r/testing, project:@o3r/showcase, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2406 fix: remove unexposed and bugged methods
  packages/@o3r/eslint-plugin/src/rules/json/utils.ts
Labels: bug, project:@o3r/eslint-plugin

#2307 feat(training): add load indicator on output
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.html
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.scss
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.ts
  apps/showcase/src/components/training/code-editor-terminal/code-editor-terminal.component.ts
Labels: enhancement, project:@o3r/showcase

#2407 fix(eslint): fix remaining eslint issue after config changes
  apps/vscode-extension/src/intellisense/configuration.ts
  packages/@ama-sdk/core/src/fwk/date.ts
  packages/@ama-sdk/core/src/plugins/api-key/api-key.spec.ts
  packages/@ama-sdk/core/src/plugins/json-token/json-token.spec.ts
  packages/@ama-terasu/cli/src/modules/base-yargs.ts
  packages/@ama-terasu/core/eslint.local.config.mjs
  packages/@ama-terasu/schematics/eslint.local.config.mjs
  packages/@o3r/amaterasu/amaterasu-api-spec/eslint.local.config.mjs
  packages/@o3r/amaterasu/amaterasu-api-spec/src/create-extension.command.ts
  packages/@o3r/amaterasu/amaterasu-dodo/eslint.local.config.mjs
  packages/@o3r/amaterasu/amaterasu-dodo/src/index.ts
  packages/@o3r/amaterasu/amaterasu-otter/eslint.local.config.mjs
  packages/@o3r/amaterasu/amaterasu-sdk/src/create-typescript.command.ts
  packages/@o3r/configuration/eslint.local.config.mjs
  packages/@o3r/configuration/src/devkit/configuration-devtools.console.spec.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.message.spec.ts
  packages/@o3r/configuration/src/services/configuration/configuration.base.service.spec.ts
  packages/@o3r/configuration/src/stores/configuration/configuration.reducer.spec.ts
  packages/@o3r/core/schematics/component/container/index.spec.ts
  packages/@o3r/core/schematics/ng-add/updates-for-v8/cms-adapters/update-builders-names.ts
  packages/@o3r/core/schematics/ng-add/updates-for-v8/generators/update-generators-names.ts
  packages/@o3r/core/schematics/ng-update/v8.2/import-map.ts
  packages/@o3r/core/src/store/async/async.operators.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-categories-tags/o3r-categories-tags.ts
  packages/@o3r/logger/src/services/fullstory-logger-client/fullstory-logger-client.ts
  packages/@o3r/logger/src/services/logrocket-logger-client/logrocket-logger-client.ts
  packages/@o3r/logger/src/services/smartlook-logger-client/smartlook-logger-client.ts
  packages/@o3r/store-sync/src/sync-storage/storage-sync.spec.ts
Labels: bug, project:@ama-sdk/core, project:@o3r/core, project:@o3r/configuration, project:@o3r/store-sync, project:@o3r/logger, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@ama-terasu/core, project:otter-devtools, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2397 fix(2396): metadata checks should run on prerelease tags
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/custom-npm-semver-resolver.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor.helper.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/yarn2-file-extractor.helper.ts
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/styling/builders/metadata-check/index.it.spec.ts
Labels: bug, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors

#2332 feat: otter sdk training - sdk with date generation and usage
  apps/showcase/.eslintrc.js
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/exercise/open-api.yaml
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/instructions.html
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.component.html
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.component.scss
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/date/instructions.html
  apps/showcase/src/assets/trainings/sdk/steps/date/solution/app.component.ts
Labels: enhancement, project:@o3r/showcase

#2418 feat(eslint): migrate pipeline package
  packages/@o3r/pipeline/.eslintrc.js
  packages/@o3r/pipeline/eslint.config.mjs
  packages/@o3r/pipeline/eslint.local.config.mjs
  packages/@o3r/pipeline/package.json
  packages/@o3r/pipeline/project.json
  packages/@o3r/pipeline/schematics/index.it.spec.ts
  packages/@o3r/pipeline/schematics/ng-add/index.js
  packages/@o3r/pipeline/schematics/ng-add/index.spec.ts
  packages/@o3r/pipeline/schematics/ng-add/index.ts
  packages/@o3r/pipeline/schematics/ng-add/schema.ts
  packages/@o3r/pipeline/testing/jest.config.ut.builders.js
  yarn.lock
Labels: enhancement, project:audit-gh-action, project:cascading-gh-action, project:@o3r/pipeline

#2421 feat(eslint): migrate sdk gh action release package
  tools/github-actions/release/.eslintrc.js
  tools/github-actions/release/eslint.config.mjs
  tools/github-actions/release/eslint.local.config.mjs
  tools/github-actions/release/package.json
  tools/github-actions/release/project.json
  tools/github-actions/release/src/get-previous-version.cts
  yarn.lock
Labels: enhancement, project:release-gh-action

#2424 fix(eslint): fix @o3r-training packages
  packages/@o3r-training/showcase-sdk/eslint.local.config.mjs
  packages/@o3r-training/training-tools/.eslintrc.js
  packages/@o3r-training/training-tools/cli/extract-folder-structure/extract-folder-structure.cts
  packages/@o3r-training/training-tools/eslint.config.mjs
  packages/@o3r-training/training-tools/eslint.local.config.mjs
  packages/@o3r-training/training-tools/package.json
  packages/@o3r-training/training-tools/project.json
  packages/@o3r-training/training-tools/schematics/ng-add/index.js
  packages/@o3r-training/training-tools/schematics/ng-add/index.ts
  packages/@o3r-training/training-tools/schematics/ng-add/schema.ts
  packages/@o3r-training/training-tools/src/utility/web-container.spec.ts
  packages/@o3r-training/training-tools/src/utility/web-container.ts
  packages/@o3r-training/training-tools/testing/jest.config.ut.builders.js
  packages/@o3r-training/training-tools/testing/jest.config.ut.js
  packages/@o3r/storybook/eslint.local.config.mjs
  yarn.lock
Labels: bug, project:@o3r/storybook, project:@o3r-training/training-tools, project:@o3r-training/showcase-sdk

#2422 fix(eslint): fix process-exit rule
  packages/@ama-terasu/cli/eslint.local.config.mjs
  packages/@ama-terasu/cli/src/modules/base-context.ts
  packages/@ama-terasu/cli/src/modules/base-yargs.ts
  packages/@o3r/amaterasu/amaterasu-dodo/eslint.local.config.mjs
  packages/@o3r/amaterasu/amaterasu-dodo/src/index.ts
  packages/@o3r/dev-tools/eslint.local.config.mjs
  packages/@o3r/dev-tools/src/helpers/git-release-management/git-release-management.ts
  tools/@o3r/build-helpers/eslint.local.config.mjs
  tools/@o3r/build-helpers/scripts/patch-package-json-exports.mjs
  tools/@o3r/build-helpers/scripts/write-git-hash.mjs
Labels: bug, project:@o3r/build-helpers, project:@ama-terasu/cli, project:@o3r/amaterasu-dodo, project:@o3r/dev-tools

#2431 fix(2396): metadata checks should run on prerelease tags
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/custom-npm-semver-resolver.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/npm-file-extractor.helper.ts
  packages/@o3r/extractors/src/core/comparator/package-managers-extractors/yarn2-file-extractor.helper.ts
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/styling/builders/metadata-check/index.it.spec.ts
Labels: bug, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors

#2432 docs(eslint): stylistic difference with eslintrc
  migration-guides/ESLINT_FLAT_CONFIG.md
  packages/@o3r/eslint-config/src/rules/typescript/stylistic.cjs
Labels: documentation, project:@o3r/build-helpers, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config, project:release-gh-action

#2434 fix: metadata checks run on the wrong prerelease
  packages/@o3r/extractors/src/core/comparator/metadata-files.helper.spec.ts
  packages/@o3r/extractors/src/core/comparator/metadata-files.helper.ts
Labels: bug, project:@o3r/extractors, priority:high

#2433 feat(training): update css of the showcase to reduce the unused space on screen
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/app.component.scss
  apps/showcase/src/components/training/training.component.html
Labels: enhancement, project:@o3r/showcase

#2401 fix: linked components should take validity range into account
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.spec.ts
  packages/@o3r/rules-engine/src/stores/rulesets/rulesets.selectors.spec.ts
  packages/@o3r/rules-engine/src/stores/rulesets/rulesets.selectors.ts
  packages/@o3r/rules-engine/testing/mocks/onerulesetvalid-onerule-nocond.mock.ts
Labels: bug, project:@o3r/rules-engine

#2441 fix: broken links in localization documentation
  docs/localization/LOCALIZATION.md
Labels: bug, documentation

#2440 fix: reduce VsCode CPU usage caused by watcher
  .vscode/settings.json
Labels: bug, devExp

#2414 feat(training): use markdown for step instructions
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
  apps/showcase/src/components/training/training-step/training-step-pres.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.component.ts
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.spec.ts
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.style.scss
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.template.html
  apps/showcase/src/components/utilities/clipboard-button/index.ts
  apps/showcase/src/components/utilities/index.ts
  apps/showcase/src/helpers/marked-alert-extension.ts
  apps/showcase/src/styles.scss
  package.json
  yarn.lock
Labels: enhancement, project:@o3r/showcase, project:new-version-gh-action

#2439 feat: ignore files in CodeCov + UTs reporting
  .github/workflows/code-check.yml
  README.md
  codecov.yml
  jest.config.ut.js
  nx.json
  packages/@o3r/testing/schematics/ng-add/templates/workspace/jest.config.ut.js.template
Labels: enhancement, project:@o3r/testing

#2456 fix: remove IT test coverage publishing to CodeCov
  .github/workflows/it-tests.yml
  codecov.yml
Labels: bug

#2389 feat(2388): check relevance of migration files items on metadata checks
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/schema.json
  packages/@o3r/extractors/src/core/comparator/metadata-comparator.interface.ts
  packages/@o3r/extractors/src/core/comparator/metadata-comparison.helper.ts
  packages/@o3r/localization/builders/metadata-check/helpers/localization-metadata-comparison.helper.ts
  packages/@o3r/localization/builders/metadata-check/index.it.spec.ts
  packages/@o3r/localization/builders/metadata-check/schema.json
  packages/@o3r/styling/builders/metadata-check/helpers/styling-metadata-comparison.helper.ts
  packages/@o3r/styling/builders/metadata-check/index.it.spec.ts
  packages/@o3r/styling/builders/metadata-check/schema.json
Labels: enhancement, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors, priority:high

#2458 docs: on demand rulesets take validity range into account
  docs/rules-engine/README.md
  docs/rules-engine/how-to-use/dedicated-component-ruleset.md
Labels: documentation

#2454 feat(training): resizable areas
  apps/showcase/package.json
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.html
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.scss
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
  apps/showcase/src/components/training/training-step/training-step-pres.component.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.ts
  package.json
  yarn.lock
Labels: enhancement, project:@o3r/showcase

#2462 fix(github-actions-release): action local path fix
  tools/github-actions/release/action.yml
Labels: bug, project:release-gh-action

#2464 fix(training): wrong training-tools exports
  packages/@o3r-training/training-tools/package.json
Labels: bug, project:@o3r-training/training-tools

#2451 fix: rulesets with linked components with validity range on 9.6
  packages/@o3r/rules-engine/src/services/rules-engine.service.it.spec.ts
  packages/@o3r/rules-engine/src/stores/rulesets/rulesets.selectors.spec.ts
  packages/@o3r/rules-engine/src/stores/rulesets/rulesets.selectors.ts
  packages/@o3r/rules-engine/testing/mocks/onerulesetvalid-onerule-nocond.mock.ts
Labels: bug, project:@o3r/rules-engine

#2468 fix(training): accessibility of tabs in code editor controls
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.ts
Labels: bug, project:@o3r/showcase

#2474 chore: remove dependency to pascal-case
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-sdk/swagger-builder/src/core/utils.spec.ts
  packages/@ama-sdk/swagger-builder/src/core/utils.ts
  packages/@ama-sdk/swagger-builder/tsconfig.spec.json
  yarn.lock
Labels: project:@ama-sdk/swagger-builder

#2469 docs: create new otter project
  README.md
  docs/core/START_NEW_APPLICATION.md
  packages/@o3r/core/README.md
Labels: documentation, project:@o3r/core

#2318 feat: otter sdk training - introduction step
  apps/showcase/src/app/app-routing.module.ts
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/sdk-intro/README.md
  apps/showcase/src/app/sdk-intro/index.ts
  apps/showcase/src/app/sdk-intro/sdk-intro.component.ts
  apps/showcase/src/app/sdk-intro/sdk-intro.spec.ts
  apps/showcase/src/app/sdk-intro/sdk-intro.style.scss
  apps/showcase/src/app/sdk-intro/sdk-intro.template.html
  apps/showcase/src/assets/sdk-openapi-diagram.svg
Labels: enhancement, project:@o3r/showcase

#2471 doc: update nx cloud remote cache instruction
  CONTRIBUTING.md
Labels: documentation

#2472 feat(github-actions-release): properly tag to `latest`
  tools/github-actions/release/action.yml
  tools/github-actions/release/package.json
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  tools/github-actions/release/src/get-previous-version.cts
  tools/github-actions/release/src/is-latest.cts
  tools/github-actions/release/src/main.cts
Labels: enhancement, project:release-gh-action

#2459 feat: otter sdk training - various fixes
  apps/showcase/package.json
  apps/showcase/schemas/training-program.schema.json
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/instructions.html
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/date/instructions.html
  apps/showcase/src/assets/trainings/sdk/steps/date/instructions.md
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.ts
  packages/@o3r-training/training-tools/README.md
  yarn.lock
Labels: bug, enhancement, project:@o3r/showcase, project:@o3r-training/training-tools

#2323 feat: otter sdk training - generate your first sdk specs and command
  apps/showcase/src/assets/trainings/sdk/steps/sdk-generation/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/sdk-specs/instructions.md
Labels: enhancement, project:@o3r/showcase

#2485 feat(training): create json schema to validate filesystemtree
  apps/showcase/project.json
  apps/showcase/schemas/webcontainer-file-system-tree.schema.json
  apps/showcase/scripts/prepare-training-exercises/index.cjs
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/components/training/training.component.ts
  packages/@o3r-training/training-tools/cli/extract-folder-structure/extract-folder-structure.cts
Labels: enhancement, project:@o3r/showcase, project:@o3r-training/training-tools

#2487 feat: otter sdk training - update of visual testing
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/src/app/app.fixture.ts
Labels: enhancement, project:@o3r/showcase

#2324 fix: do not dynamically import @o3r/rules-engine during rules-engine install
  packages/@o3r/core/README.md
  packages/@o3r/schematics/schematics/ng-add/index.ts
  packages/@o3r/storybook/README.md
  tools/github-actions/new-version/packaged-action/LICENSE.txt
Labels: bug, project:@o3r/core, project:@o3r/storybook, project:@o3r/schematics, project:new-version-gh-action

#2489 doc(showcase): add a readme to explain how to update the screenshots for visual testing
  .github/markdown-external-links.config.json
  .github/markdown-links.config.json
  CONTRIBUTING.md
  apps/showcase/scripts/update-screenshots/readme.md
Labels: documentation, project:@o3r/showcase

#2492 fix(training): unstable transitions between exercises and solutions
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
Labels: bug, project:@o3r/showcase

#2470 feat: add `--yarn` option to create scripts
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/README.md
  packages/@o3r/create/src/index.ts
Labels: documentation, enhancement, project:@ama-sdk/create, project:@o3r/create

#2496 chore: clean Nx config
  nx.json
  packages/@o3r/components/package.json
  packages/@o3r/components/project.json
  packages/@o3r/design/package.json
  packages/@o3r/design/project.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/rules-engine/project.json
  packages/@o3r/telemetry/project.json
  packages/@o3r/testing/project.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/tsconfig.build.composite.json
  tools/github-actions/audit/tsconfig.json
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/tsconfig.build.composite.json
  tools/github-actions/cascading/tsconfig.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/tsconfig.build.composite.json
  tools/github-actions/release/tsconfig.json
Labels: bug, project:@o3r/rules-engine, project:@o3r/components, project:@o3r/testing, project:@o3r/build-helpers, project:@o3r/eslint-plugin, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:release-gh-action

#2504 fix(eslint): fix @o3r/eslint-config-otter deps to eslint and eslint plugins packages
  packages/@o3r/eslint-config-otter/eslint.local.config.mjs
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/new-version, project:@ama-sdk/client-fetch, project:@o3r/eslint-config, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r/pipeline, project:@o3r/workspace-helpers, project:release-gh-action, project:@o3r-training/training-tools, project:@o3r-training/showcase-sdk

#2508 fix(eslint): fix remaining linter issues
  packages/@o3r-training/showcase-sdk/eslint.local.config.mjs
  packages/@o3r-training/showcase-sdk/scripts/override-readme.js
  packages/@o3r-training/showcase-sdk/scripts/restore-readme.js
  packages/@o3r/eslint-config-otter/rules/typescript/eslint-typescript.cjs
  packages/@o3r/pipeline/package.json
  tools/@o3r/workspace-helpers/package.json
  yarn.lock
Labels: bug, project:@o3r/eslint-config-otter, project:@o3r/eslint-config, project:@o3r/pipeline, project:@o3r/workspace-helpers, project:@o3r-training/showcase-sdk

#2499 feat(training): loading progress indicator
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.html
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.scss
  apps/showcase/src/components/training/code-editor-control/code-editor-control.component.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
Labels: enhancement, project:@o3r/showcase

#2511 test(e2e): disable lighthouse performance checks due to instability
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
Labels: project:@o3r/showcase

#2493 feat: otter sdk training - how to use the otter sdk
  apps/showcase/project.json
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.component.html
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.config.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/solution/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/solution/app.config.ts
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/project.json
  yarn.lock
Labels: enhancement, project:@o3r/showcase, project:@o3r-training/showcase-sdk

#2518 deprecate(rules-engine): actionHandlers will become protected in v13
  apps/showcase/src/app/placeholder/placeholder.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  docs/rules-engine/how-to-use/custom-action.md
  packages/@o3r/rules-engine/migration.json
  packages/@o3r/rules-engine/schematics/ng-update/index.ts
  packages/@o3r/rules-engine/schematics/ng-update/v11.6/use-register-action-handlers.spec.ts
  packages/@o3r/rules-engine/schematics/ng-update/v11.6/use-register-action-handlers.ts
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.ts
Labels: project:@o3r/rules-engine, project:@o3r/showcase, deprecate

#2520 fix(training): terminal no longer working
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
Labels: bug, project:@o3r/showcase

#2522 fix(codeql): regexp issue detect by codeql
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
Labels: bug, project:@o3r/styling

#2523 fix(training): monaco editor tooltips not fully visible
  apps/showcase/src/app/app.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.style.scss
  apps/showcase/src/styles.scss
Labels: bug, project:@o3r/showcase

#2527 docs: update releasing and support policy
  SECURITY.md
Labels: documentation
