Repository AmadeusITGroup/otter, pull requests merged in 2024-04, with the labels that each got.

#1573 fix(ama-sdk-generator): add missing dependencies to generated SDK
  .yarnrc.yml
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@o3r/core/package.json
  packages/@o3r/schematics/package.json
  yarn.lock
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/schematics

#1582 docs: format rules engine placeholders
  docs/components/PLACEHOLDERS.md
  docs/rules-engine/how-it-works/placeholders.md
  docs/rules-engine/how-to-use/placeholders.md
Labels: documentation

#1585 fix(vscode-extension): publishing mechanism
  .github/workflows/publish.yml
  apps/vscode-extension/.vscodeignore
  apps/vscode-extension/package.json
  apps/vscode-extension/project.json
  tools/@o3r/build-helpers/package.json
  tools/@o3r/build-helpers/scripts/clear-package-json-dev-dependencies.mjs
  yarn.lock
Labels: bug, project:@o3r/build-helpers, project:otter-devtools

#1581 feat(chrome-ext): styling panel
  apps/chrome-devtools/package.json
  apps/chrome-devtools/src/app-devtools/app.component.html
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/theming-panel/color.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/common.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/is-ref.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/memoize.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/theming-panel/variable-label.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/variable-name.pipe.ts
  apps/chrome-devtools/src/services/message.interface.ts
  apps/chrome-devtools/src/styles/design-factory-custom.scss
  apps/showcase/package.json
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/main.ts
  apps/showcase/src/style/design-token.app.json
  apps/showcase/src/style/design-token.figma.json
  apps/showcase/src/style/theme.scss
  docs/dev-tools/chrome-devtools.md
  packages/@o3r/storybook/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/styling/src/devkit/index.ts
  packages/@o3r/styling/src/devkit/styling-devkit.interface.ts
  packages/@o3r/styling/src/devkit/styling-devtools.message.service.ts
  packages/@o3r/styling/src/devkit/styling-devtools.module.ts
  packages/@o3r/styling/src/devkit/styling-devtools.service.ts
  packages/@o3r/styling/src/devkit/styling-devtools.token.ts
  packages/@o3r/styling/src/public_api.ts
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/storybook, project:@o3r/styling, project:@o3r/showcase

#1587 feat: parameters for localization vars in placeholders
  docs/components/PLACEHOLDERS.md
  packages/@o3r/components/schemas/placeholder-template.schema.json
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.ts
  packages/@o3r/components/src/stores/placeholder-request/placeholder-request.state.ts
Labels: enhancement, project:@o3r/components

#1597 chore: components not present in gh issue template
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
Labels: bug, documentation

#1598 docs: template.json for placeholders
  docs/components/PLACEHOLDERS.md
Labels: documentation

#1600 feat: support number type for id in entity store
  packages/@o3r/core/src/store/async/async-entity.adapter.ts
  packages/@o3r/core/src/store/async/async.interfaces.ts
  packages/@o3r/core/src/store/types.ts
Labels: enhancement, project:@o3r/core

#1603 fix: missing dependency to @o3r/logger
  .yarn/sdks/typescript/package.json
  apps/chrome-devtools/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/styling/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/storybook, project:@o3r/styling

#1604 chore: fix ApiBeacon to support esm build
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/tsconfig.spec.json
Labels: project:@ama-sdk/core

#1605 fix(renovate): remove schedule rule from base preset
  .renovaterc.json5
  tools/renovate/base.json
Labels: bug

#1593 feat: signal based configuration
  apps/showcase/src/components/showcase/configuration/configuration-pres.component.ts
  apps/showcase/src/components/showcase/configuration/configuration-pres.template.html
  packages/@o3r/components/builders/component-extractor/helpers/component/component-class.extractor.ts
  packages/@o3r/components/src/devkit/inspector/otter-inspector.helpers.ts
  packages/@o3r/components/src/devkit/inspector/otter-inspector.service.ts
  packages/@o3r/configuration/collection.json
  packages/@o3r/configuration/migration.json
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/schematics/configuration-to-component/index.spec.ts
  packages/@o3r/configuration/schematics/configuration-to-component/index.ts
  packages/@o3r/configuration/schematics/configuration-to-component/schema.json
  packages/@o3r/configuration/schematics/configuration-to-component/schema.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/ng-update/v10-3/index.spec.ts
  packages/@o3r/configuration/schematics/ng-update/v10-3/index.ts
  packages/@o3r/configuration/schematics/use-config-signal/index.spec.ts
  packages/@o3r/configuration/schematics/use-config-signal/index.ts
  packages/@o3r/configuration/schematics/use-config-signal/schema.json
  packages/@o3r/configuration/schematics/use-config-signal/schema.ts
  packages/@o3r/configuration/src/core/configurable.ts
  packages/@o3r/configuration/src/tools/configuration.decorator.ts
  packages/@o3r/configuration/src/tools/configuration.decorators.ts
  packages/@o3r/configuration/src/tools/configuration.signal.ts
  packages/@o3r/configuration/src/tools/index.ts
  packages/@o3r/configuration/testing/mocks/angular.mocks.json
  packages/@o3r/configuration/testing/mocks/package.mocks.json
  packages/@o3r/core/schematics/component/index.ts
  packages/@o3r/core/schematics/rule-factories/component/analytics.ts
  packages/@o3r/core/schematics/rule-factories/component/common.ts
  packages/@o3r/core/schematics/rule-factories/component/configuration.ts
  packages/@o3r/core/schematics/rule-factories/component/context.ts
  packages/@o3r/core/schematics/rule-factories/component/design-token.ts
  packages/@o3r/core/schematics/rule-factories/component/fixture.ts
  packages/@o3r/core/schematics/rule-factories/component/localization.ts
  packages/@o3r/core/schematics/rule-factories/component/rules-engine.ts
  packages/@o3r/core/src/core/interfaces/configuration.ts
  packages/@o3r/eslint-config-otter/rules/typescript/eslint.cjs
  packages/@o3r/schematics/src/utility/ast.ts
Labels: enhancement, project:@o3r/core, project:@o3r/components, project:@o3r/configuration, project:@o3r/eslint-config-otter, project:@o3r/schematics, project:@o3r/showcase

#1612 fix: allow override of openapi version
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
Labels: bug, project:@ama-sdk/schematics

#1614 docs: put uppercase for cms and angular
  docs/README.md
  docs/application/REDUCED_MOTION.md
  docs/cms-adapters/CMS_ADAPTERS.md
  docs/components/COMPONENT_STRUCTURE.md
  docs/configuration/CONFIGURATION_SUPPORTED_EXTRACTOR.md
  docs/configuration/OVERVIEW.md
  docs/core/OTTER_ANGULAR_TOOLS.md
  docs/forms/FORM_STRUCTURE.md
  docs/forms/FORM_VALIDATION.md
  docs/localization/LOCALIZATION.md
  docs/routing/APP_SERVER_ROUTING.md
  docs/routing/REQUEST_PARAMETERS_SERVICE.md
  docs/rules-engine/how-to-use/cms-json-imports.md
  docs/rules-engine/how-to-use/integration.md
  docs/rules-engine/how-to-use/placeholders.md
  docs/styling/THEME.md
  docs/testing/UNIT_TESTS_SETUP.md
  migration-guides/10.0.md
  packages/@o3r/configuration/README.md
  packages/@o3r/forms/README.md
  packages/@o3r/localization/README.md
Labels: documentation, project:@o3r/localization, project:@o3r/configuration, project:@o3r/forms

#1610 fix(chrome-ext): patch manifest.json with the right version number
  apps/chrome-devtools/package.json
  apps/chrome-devtools/project.json
Labels: bug, project:@o3r/chrome-devtools

#1623 fix(rules-engine): init language + inject correctly service outside constructor
  packages/@o3r/components/src/rules-engine/placeholder.action-handler.ts
Labels: bug, project:@o3r/components

#1622 fix(components): placeholder schema reference
  packages/@o3r/components/schemas/placeholder-template.schema.json
Labels: bug, project:@o3r/components

#1628 fix(schematics): add support on underscore for application name
  .yarn/sdks/typescript/package.json
  packages/@o3r/workspace/schematics/application/index.ts
Labels: bug, project:@o3r/workspace

#1629 fix(schematics): do not delete inexisting files
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
Labels: bug, project:@o3r/workspace

#1634 fix: cleanup playwright templates from o3r/core
  packages/@o3r/core/schematics/rule-factories/index.ts
  packages/@o3r/core/schematics/rule-factories/playwright/index.ts
  packages/@o3r/core/schematics/rule-factories/playwright/templates/e2e-playwright/playwright-config.sanity.ts.template
  packages/@o3r/core/schematics/rule-factories/playwright/templates/e2e-playwright/playwright-config.ts.template
  packages/@o3r/core/schematics/rule-factories/playwright/templates/e2e-playwright/sanity/__sanity@dasherize__.e2e.ts
  packages/@o3r/core/schematics/rule-factories/playwright/templates/e2e-playwright/scenarios/__name@dasherize__.e2e-playwright-spec.ts
  packages/@o3r/core/schematics/rule-factories/playwright/templates/e2e-playwright/utils/base-scenario.ts
  packages/@o3r/core/schematics/rule-factories/playwright/templates/e2e-playwright/utils/index.ts
Labels: bug, project:@o3r/core

#1633 fix: playwright tests on new otter app
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/scenarios/__name@dasherize__.e2e-playwright-spec.ts
  packages/@o3r/testing/schematics/playwright/scenario/templates/__name@dasherize__.e2e-playwright-spec.ts
Labels: bug, project:@o3r/testing

#1616 fix(sdk-create): cannot create an sdk with debug mode
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/create/src/index.ts
Labels: bug, project:@ama-sdk/create

#1644 feat: welcome developer for their first pr
  .github/workflows/first-pr.yml
  assets/logo/flavors/fireworks.png
Labels: enhancement, devExp

#1607 fix: jest test not running on new otter webapp
  packages/@o3r/core/schematics/component/container/index.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/fixture/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/templates/workspace/jest.config.ut.js.template
Labels: bug, project:@o3r/core, project:@o3r/testing

#1655 feat: rules engine runner service tests
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.spec.ts
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.spec.ts
Labels: enhancement, project:@o3r/rules-engine

#1660 fix(renovate): missing install in yarn pnp preset
  tools/renovate/tasks/yarn-pnp.json
Labels: bug

#1668 fix(schematics): do not delete inexisting files
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
Labels: bug, project:@o3r/workspace

#1669 fix: ignore bundlephobia from md link check
  .github/markdown-external-links.config.json
Labels: bug

#1670 fix(workspace): add missing baseUrl in schematics
  packages/@o3r/workspace/schematics/sdk/rules/update-ts-paths.rule.ts
Labels: bug, project:@o3r/workspace

#1572 fix(ama-sdk): support of URL as spec-path input
  .yarnrc.yml
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/code-generator/code-generator.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/openapitools.json.template
  packages/@ama-sdk/schematics/testing/MOCK_swagger.json
  yarn.lock
Labels: bug, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core

#1664 fix: remove yarn dependencies extension unnecessary anymore
  .github/workflows/it-tests.yml
  .yarnrc.yml
  package.json
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/src/index.ts
  yarn.lock
Labels: bug, project:@ama-sdk/create, project:@o3r/create

#1649 feat(sdk-generator): support swagger-generator 3.1
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/fixture.jasmine.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/fixture.jest.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/fixture.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/model.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/models.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
  packages/@ama-sdk/showcase-sdk/openapitools.json
Labels: enhancement, project:@ama-sdk/schematics, project:@ama-sdk/showcase-sdk

#1648 fix: update apis-manager doc
  docs/README.md
  docs/apis-manager/API_MANAGER.md
  packages/@o3r/apis-manager/README.md
Labels: bug, documentation, project:@o3r/apis-manager

#1680 cherry-pick - fix/node on windows
  .github/workflows/it-tests.yml
  .yarnrc.yml
  package.json
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/src/index.ts
  yarn.lock
Labels: bug, project:@ama-sdk/create, project:@o3r/create

#1684 fix: dependency version
  apps/chrome-devtools/project.json
  package.json
  packages/@o3r/core/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/core

#1688 test(e2e): fix visual testing
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/scripts/update-screenshots/index.cjs
  apps/showcase/scripts/update-screenshots/podman-script.sh
  apps/showcase/src/assets/placeholders/placeholder-showcase.json
Labels: project:@o3r/showcase

#1663 feat(chrome-ext): palette generator
  apps/chrome-devtools/package.json
  apps/chrome-devtools/src/app-devtools/theming-panel/color.helpers.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/color.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/common.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  apps/showcase/src/style/design-token.app.json
  apps/showcase/src/style/design-token.figma.json
  docs/styling/THEME.md
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/scss/theming/otter-theme/_material.scss
  packages/@o3r/styling/scss/theming/otter-theme/_theme.scss
  packages/@o3r/styling/src/devkit/styling-devkit.interface.ts
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/styling, project:@o3r/showcase, project:@o3r/design

#1689 fix(chrome-devtools): remove unused dependency on @o3r/design
  apps/chrome-devtools/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools

#1691 fix: remove jasmine from tsconfig types when adding jest
  packages/@o3r/testing/schematics/ng-add/fixture/index.ts
Labels: bug, project:@o3r/testing

#1671 fix: lint does not work on new Otter webapp
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/eslint-config-otter/.eslintrc.js
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config-otter/project.json
  packages/@o3r/eslint-config-otter/schematics/index.it.spec.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/index.spec.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/__dot__eslintignore.template
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/project/__dot__eslintrc.js.template
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/project/tsconfig.eslint.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/tsconfig.eslint.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/workspace/__dot__eslintignore.template
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/workspace/__dot__eslintrc.js.template
  packages/@o3r/eslint-config-otter/testing/jest.config.it.js
  packages/@o3r/eslint-plugin/tsconfig.spec.json
  packages/@o3r/schematics/src/utility/monorepo.ts
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/templates/ng/tsconfig.eslint.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/linter.ts
  packages/@o3r/workspace/schematics/rule-factories/project-configs.ts
  yarn.lock
Labels: bug, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/schematics, project:@o3r/workspace

#1701 feat: remove 'sway' dependency from sdk generator
  apps/github-cascading-app/package.json
  packages/@ama-sdk/generator-sdk/package.json
  packages/@ama-sdk/generator-sdk/src/generators/core/core/helpers/path-extractor.spec.ts
  packages/@ama-sdk/generator-sdk/src/generators/core/core/helpers/path-extractor.ts
  packages/@ama-sdk/generator-sdk/src/generators/core/core/index.ts
  packages/@ama-sdk/generator-sdk/src/generators/core/index.ts
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  yarn.lock
Labels: bug, enhancement, project:@ama-sdk/generator-sdk, project:@ama-sdk/schematics, project:@o3r/github-cascading-app

#1706 Cascading/9.6 10.1
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  yarn.lock
Labels: bug, enhancement, project:@ama-sdk/schematics, project:@o3r/github-cascading-app

#1704 fix(create): issue when nodejs path contains spaces
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/src/index.ts
Labels: bug, project:@ama-sdk/create, project:@o3r/create

#1714 fix: sdk-generator - support basepath in operation adapter regexp
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.ts
Labels: bug, project:@ama-sdk/schematics

#1715 chore: deprecate isStandaloneRepository
  packages/@o3r/schematics/src/utility/monorepo.ts
Labels: project:@o3r/schematics

#1721 chore: eslint autofix warnings
  packages/@ama-sdk/showcase-sdk/src/spec/api-mock.ts
  packages/@o3r/components/src/stores/placeholder-template/placeholder-template.state.ts
  packages/@o3r/dev-tools/src/cli/artifact-retriever.ts
  packages/@o3r/dynamic-content/src/stores/asset-path-override/asset-path-override.state.ts
  packages/@o3r/localization/src/stores/localization-override/localization-override.state.ts
  packages/@o3r/testing/src/localization/localization-mock.ts
Labels: project:@o3r/dynamic-content, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/dev-tools, project:@ama-sdk/showcase-sdk

#1709 test: use timestamp in the version used for verdaccio
  .github/workflows/it-tests.yml
  package.json
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-otter-project.ts
Labels: project:@ama-sdk/create, project:@o3r/create, project:@o3r/test-helpers

#1718 fix: o3r/core as devDep for new Otter libs
  packages/@o3r/workspace/schematics/library/index.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
Labels: bug, project:@o3r/workspace

#1722 chore: upgrade ngrx
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/showcase, project:@o3r/workspace

#1727 fix: sdk-generator - support basepath in operation adapter regexp
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/helpers/path-extractor.ts
Labels: bug, project:@ama-sdk/schematics

#1698 fix: no eslint errors on new apps and libs
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/rule-factories/additional-modules/index.ts
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/eslint-config-otter/project.json
  packages/@o3r/eslint-config-otter/rules/typescript/eslint-typescript.cjs
  packages/@o3r/eslint-config-otter/schematics/index.it.spec.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/index.ts
  packages/@o3r/testing/schematics/ng-add/fixture/index.ts
  packages/@o3r/workspace/schematics/rule-factories/project-configs.ts
Labels: bug, project:@o3r/core, project:@o3r/testing, project:@o3r/application, project:@o3r/eslint-config-otter, project:@o3r/workspace

#1733 fix: ng add cms templates
  packages/@o3r/application/schematics/ng-add/helpers/cms-registration.ts
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/extractors/schematics/cms-adapter/index.ts
  packages/@o3r/extractors/schematics/cms-adapter/templates/cms.json.template
  packages/@o3r/extractors/schematics/cms-adapter/templates/placeholders.metadata.json.template
  packages/@o3r/extractors/schematics/cms-adapter/templates/tsconfig.cms.json.template
  packages/@o3r/extractors/schematics/ng-add/schema.json
  packages/@o3r/localization/schematics/localization-base/index.ts
Labels: bug, project:@o3r/localization, project:@o3r/application, project:@o3r/extractors

#1713 feat(localization): add schema for localization.json files
  packages/@o3r/localization/builders/helpers/localization.generator.ts
  packages/@o3r/localization/schemas/localization.schema.json
  packages/@o3r/localization/schematics/localization-to-component/templates/__name__.localization.json
Labels: enhancement, project:@o3r/localization
