Repository AmadeusITGroup/otter, pull requests merged in 2024-03, with the labels that each got.

#1430 fix(telemetry): ask only once to install telemetry when creating an sdk
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
Labels: bug, project:@ama-sdk/create, project:@o3r/schematics

#1436 [CHERRY-PICK] docs(telemetry): review privacy notice wording
  .attachments/screenshots/telemetry/consent.png
  .attachments/screenshots/telemetry/withdraw.png
  docs/telemetry/README.md
Labels: documentation

#1441 docs: fix broken links
  migration-guides/10.0.md
  migration-guides/README.md
Labels: documentation

#1443 fix: incorrect glob for globby for linux and mac
  packages/@ama-sdk/core/cli/files-pack.cts
  packages/@ama-sdk/showcase-sdk/scripts/clear-index.js
  packages/@ama-sdk/showcase-sdk/scripts/files-pack.js
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/showcase-sdk

#1440 feat: overview architecture SVG schema
  .gitignore
  README.md
  assets/schemas/otter-environment.drawio.svg
  docs/core/ARCHITECTURE.md
Labels: documentation, enhancement

#1449 chore: upgrade to :dog: husky 9.0
  .husky/commit-msg
  .husky/pre-commit
  package.json
  packages/@ama-sdk/showcase-sdk/package.json
  yarn.lock
Labels: project:@ama-sdk/showcase-sdk

#1425 test: lighthouse checks on e2e
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/styles.scss
  apps/showcase/update-screenshots.cjs
  package.json
  yarn.lock
Labels: project:@o3r/showcase

#1453 feat(sdk): add options to revivers
  packages/@ama-sdk/core/src/fwk/Reviver.ts
  packages/@ama-sdk/core/src/fwk/reviver.spec.ts
  packages/@ama-sdk/core/src/plugins/reviver/reviver.reply.ts
  packages/@ama-sdk/core/src/plugins/reviver/reviver.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics

#1457 fix(nx): group named inputs
  apps/showcase/project.json
  nx.json
  packages/@ama-sdk/showcase-sdk/project.json
Labels: bug, project:@o3r/showcase, project:@ama-sdk/showcase-sdk

#1455 feat(eslint-plugin): add resolutions field support to version harmonize
  nx.json
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
Labels: enhancement, project:@o3r/eslint-plugin

#1468 docs: v10 migration guide for pipe rename
  migration-guides/10.0.md
Labels: documentation

#1472 fix(chrome-devtools): fix configuration administration page
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.template.html
Labels: bug, project:@o3r/chrome-devtools

#1478 feat(showcase): use new brand colors
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/src/app/app.component.scss
  apps/showcase/src/assets/otter-a.svg
  apps/showcase/src/assets/otter-sticker.svg
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/style/design-token.app.json
  apps/showcase/src/style/design-token.figma.json
  apps/showcase/src/style/horizon-theme/horizon-theme.scss
  apps/showcase/src/style/theme.scss
  package.json
Labels: enhancement, project:@o3r/showcase

#1480 docs(telemetry): add missing documentation for telemetry
  docs/README.md
  docs/telemetry/PRIVACY_NOTICE.md
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
  packages/@o3r/telemetry/README.md
Labels: documentation, project:@o3r/extractors, project:@o3r/schematics, project:@o3r/telemetry

#1481 docs: fix compodoc links
  apps/showcase/src/app/design-token/design-token.template.html
  apps/showcase/src/app/sdk/sdk.template.html
  compodoc-templates/root/partials/menu.hbs
Labels: documentation, project:@o3r/showcase

#1493 docs(compodoc): prevent broken fallback on 404
  staticwebapp.config.json
Labels: documentation

#1486 fix(chrome-ext): display a specific message when component selection is not available
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.template.html
  packages/@o3r/components/src/devkit/components-devkit.interface.ts
  packages/@o3r/components/src/devkit/components-devtools.message.service.ts
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/components

#1485 fix(devtools): activate all devtools on showcase
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/main.ts
  packages/@o3r/localization/src/devkit/localization-devtools.message.service.ts
Labels: bug, project:@o3r/localization, project:@o3r/showcase

#1497 feat: add badges to package descriptions
  README.md
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/showcase-sdk/readme.md
  packages/@ama-sdk/swagger-builder/README.md
  packages/@ama-terasu/cli/README.md
  packages/@ama-terasu/core/README.md
  packages/@ama-terasu/schematics/README.md
  packages/@o3r/amaterasu/amaterasu-api-spec/README.md
  packages/@o3r/amaterasu/amaterasu-dodo/README.md
  packages/@o3r/amaterasu/amaterasu-otter/README.md
  packages/@o3r/amaterasu/amaterasu-sdk/README.md
  packages/@o3r/analytics/README.md
  packages/@o3r/apis-manager/README.md
  packages/@o3r/application/README.md
  packages/@o3r/artifactory-tools/README.md
  packages/@o3r/azure-tools/README.md
  packages/@o3r/components/README.md
  packages/@o3r/configuration/README.md
  packages/@o3r/core/README.md
  packages/@o3r/create/README.md
  packages/@o3r/design/README.md
  packages/@o3r/dev-tools/README.md
  packages/@o3r/dynamic-content/README.md
  packages/@o3r/eslint-config-otter/README.md
  packages/@o3r/eslint-plugin/README.md
  packages/@o3r/extractors/README.md
  packages/@o3r/forms/README.md
  packages/@o3r/localization/README.md
  packages/@o3r/logger/README.md
  packages/@o3r/mobile/README.md
  packages/@o3r/routing/README.md
  packages/@o3r/rules-engine/README.md
  packages/@o3r/schematics/README.md
  packages/@o3r/store-sync/README.md
  packages/@o3r/storybook/README.md
  packages/@o3r/stylelint-plugin/README.md
  packages/@o3r/styling/README.md
  packages/@o3r/telemetry/README.md
  packages/@o3r/testing/README.md
  packages/@o3r/third-party/README.md
  packages/@o3r/workspace/README.md
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry

#1508 feat(chrome-ext): search widget for configuration
  apps/chrome-devtools/project.json
  apps/chrome-devtools/src/app-components.main.ts
  apps/chrome-devtools/src/app-components/app.component.html
  apps/chrome-devtools/src/app-components/app.component.ts
  apps/chrome-devtools/src/app-components/app.module.ts
  apps/chrome-devtools/src/app-devtools.main.ts
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/app.module.ts
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.module.ts
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.module.ts
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.module.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.template.html
  apps/chrome-devtools/src/components/app-connection/app-connection.component.html
  apps/chrome-devtools/src/components/app-connection/app-connection.component.ts
  apps/chrome-devtools/src/components/app-connection/app-connection.module.ts
  apps/chrome-devtools/src/components/config-form/config-form.component.html
  apps/chrome-devtools/src/components/config-form/config-form.component.ts
  apps/chrome-devtools/src/components/config-form/config-form.module.ts
  apps/chrome-devtools/src/components/otter-component/otter-component.component.html
  apps/chrome-devtools/src/components/otter-component/otter-component.component.ts
  apps/chrome-devtools/src/components/otter-component/otter-component.module.ts
  apps/chrome-devtools/src/environments/environment.prod.ts
  apps/chrome-devtools/src/environments/environment.ts
  apps/chrome-devtools/src/styles/index.scss
Labels: enhancement, project:@o3r/chrome-devtools

#1511 chore: bump generator dependencies after renovate bump
  .yarnrc.yml
  packages/@o3r/core/package.json
  yarn.lock
Labels: project:@o3r/core

#1512 feat: use new otter icons for apps
  apps/chrome-devtools/src/assets/extension/icons/128x128.png
  apps/chrome-devtools/src/assets/extension/icons/16x16.png
  apps/chrome-devtools/src/assets/extension/icons/220x220.png
  apps/chrome-devtools/src/assets/extension/icons/32x32.png
  apps/chrome-devtools/src/assets/extension/icons/48x48.png
  apps/showcase/src/favicon.ico
  apps/showcase/src/favicon.svg
  apps/vscode-extension/assets/logo-128x128.png
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/showcase, project:otter-devtools

#1522 fix: duplicates of operators in rules-engine
  packages/@o3r/rules-engine/builders/rules-engine-extractor/helpers/rules-engine.extractor.ts
Labels: bug, project:@o3r/rules-engine

#1529 fix(build-helpers): prepare-publish function
  package.json
  tools/@o3r/build-helpers/scripts/prepare-publish.mjs
Labels: bug, project:@o3r/build-helpers

#1513 feat(chrome-ext): localization panel
  apps/chrome-devtools/src/app-devtools/app.component.html
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.template.html
  apps/showcase/project.json
  docs/dev-tools/chrome-devtools.md
  packages/@o3r/localization/src/devkit/localization-devkit.interface.ts
  packages/@o3r/localization/src/devkit/localization-devtools.console.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.message.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.token.ts
  packages/@o3r/localization/src/tools/localization.service.ts
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/localization, project:@o3r/showcase

#1528 fix(vscode): add caching to the parsed design token files
  apps/vscode-extension/src/intellisense/design-token.ts
  apps/vscode-extension/tsconfig.json
Labels: enhancement, project:otter-devtools

#1534 fix(rules-engine): error in rule execution in rule panel
  apps/showcase/src/assets/rules/rulesets.json
  packages/@o3r/rules-engine/schemas/rulesets.schema.json
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.module.ts
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.template.html
Labels: bug, project:@o3r/rules-engine, project:@o3r/showcase

#1537 fix: remove extra ) in sdk templates
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: bug, project:@ama-sdk/schematics

#1516 feat: split and export renovate presets
  .renovaterc.json5
  .vscode/settings.json
  docs/renovate/readme.md
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v10.1/add-presets-renovate.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json
  packages/@o3r/workspace/migration.json
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-update/index.ts
  packages/@o3r/workspace/schematics/ng-update/v10.1/add-presets-renovate.ts
  tools/renovate/base.json
  tools/renovate/design-factory.json
  tools/renovate/otter-project.json
  tools/renovate/sdk-spec-upgrade.json
  tools/renovate/sdk.json
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/workspace

#1540 [cascading] from release/10.1.0-rc to main
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: bug, project:@ama-sdk/schematics

#1545 fix(renovate): rules to update the labels and re-order the design-factory override
  .renovaterc.json5
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json
  tools/renovate/base.json
  tools/renovate/otter-project.json
  tools/renovate/sdk-spec-upgrade.json
  tools/renovate/sdk.json
Labels: bug, project:@ama-sdk/schematics

#1539 feat: only create schema file for facts of type object
  packages/@o3r/rules-engine/builders/rules-engine-extractor/helpers/rules-engine.extractor.interfaces.ts
  packages/@o3r/rules-engine/builders/rules-engine-extractor/helpers/rules-engine.extractor.ts
  packages/@o3r/rules-engine/builders/rules-engine-extractor/index.ts
  packages/@o3r/rules-engine/package.json
  yarn.lock
Labels: enhancement, project:@o3r/rules-engine

#1546 chore: redesign the badge for github documentation
  README.md
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/swagger-builder/README.md
  packages/@ama-terasu/cli/README.md
  packages/@ama-terasu/core/README.md
  packages/@ama-terasu/schematics/README.md
  packages/@o3r/amaterasu/amaterasu-api-spec/README.md
  packages/@o3r/amaterasu/amaterasu-dodo/README.md
  packages/@o3r/amaterasu/amaterasu-otter/README.md
  packages/@o3r/amaterasu/amaterasu-sdk/README.md
  packages/@o3r/analytics/README.md
  packages/@o3r/apis-manager/README.md
  packages/@o3r/application/README.md
  packages/@o3r/artifactory-tools/README.md
  packages/@o3r/azure-tools/README.md
  packages/@o3r/components/README.md
  packages/@o3r/configuration/README.md
  packages/@o3r/core/README.md
  packages/@o3r/create/README.md
  packages/@o3r/design/README.md
  packages/@o3r/dev-tools/README.md
  packages/@o3r/dynamic-content/README.md
  packages/@o3r/eslint-config-otter/README.md
  packages/@o3r/eslint-plugin/README.md
  packages/@o3r/extractors/README.md
  packages/@o3r/forms/README.md
  packages/@o3r/localization/README.md
  packages/@o3r/logger/README.md
  packages/@o3r/mobile/README.md
  packages/@o3r/routing/README.md
  packages/@o3r/rules-engine/README.md
  packages/@o3r/schematics/README.md
  packages/@o3r/store-sync/README.md
  packages/@o3r/storybook/README.md
  packages/@o3r/stylelint-plugin/README.md
  packages/@o3r/styling/README.md
  packages/@o3r/telemetry/README.md
  packages/@o3r/testing/README.md
  packages/@o3r/third-party/README.md
  packages/@o3r/workspace/README.md
Labels: documentation, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry

#1538 test: use jest custom environment for it-tests
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/apis-manager/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/jest-environment/index.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/public_api.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  yarn.lock
Labels: project:@ama-sdk/create, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/extractors, project:@o3r/analytics, project:@o3r/apis-manager, project:@o3r/create, project:@o3r/test-helpers, project:@o3r/design

#1552 fix(styling): correctly export otter-theme scss
  packages/@o3r/styling/_otter-theme.scss
  packages/@o3r/styling/ng-package.json
Labels: bug, project:@o3r/styling

#1557 fix(sdk): logger.debug is possibly undefined
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: bug, project:@ama-sdk/schematics

#1548 chore: enhance testing on sdk generation with or without reviver
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@ama-sdk/create/testing/mocks/MOCK_DATE_UTILS_swagger.yaml
Labels: project:@ama-sdk/create

#1559 fix(eslint-config): use jest rule only if jest dependency is found
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/typescript.cjs
Labels: bug, project:@o3r/eslint-config-otter

#1561 fix(sdk): keep type imports in generated files
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
Labels: bug, project:@ama-sdk/schematics

#1563 docs: update security information and readme links
  README.md
  SECURITY.md
Labels: documentation

#1565 fix: github action NX build inputs/outputs
  nx.json
  tools/github-actions/audit/project.json
  tools/github-actions/cascading/project.json
  tools/github-actions/get-npm-tag/project.json
  tools/github-actions/new-version/project.json
Labels: bug, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#1562 feat: support openapi-normalizer parameter to forward to generator
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli.generator.ts
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli.options.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/schema.json
  packages/@ama-sdk/schematics/schematics/typescript/core/schema.ts
Labels: enhancement, project:@ama-sdk/schematics

#1531 feat(vscode): read design token file patterns from Angular.json
  apps/vscode-extension/src/intellisense/design-token.ts
Labels: enhancement, project:otter-devtools

#1574 chore(ama-sdk): add logs on timeout cancellation/restart
  packages/@ama-sdk/core/src/plugins/timeout/timeout.fetch.ts
Labels: project:@ama-sdk/core
