Repository AmadeusITGroup/otter, pull requests merged in 2024-06, with the labels that each got.

#1844 chore(deps): update angular-eslint dependencies
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#1849 ci(it-tests): fix random failures due to github cache configuration
  .github/workflows/it-tests.yml
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Labels: project:@o3r/test-helpers

#1807 fix: default specs filename on sdk generation
  packages/@ama-sdk/core/cli/update-spec-from-npm.cts
  packages/@ama-sdk/core/src/utils/generators.ts
  packages/@ama-sdk/core/src/utils/index.ts
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/swagger-builder/src/core/formatters/json-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/formatters/split-yaml-formatter.ts
  packages/@ama-sdk/swagger-builder/src/core/formatters/yaml-formatter.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@ama-sdk/swagger-builder, project:@o3r/workspace, project:@ama-sdk/showcase-sdk

#1850 fix(sdk): generate the correct renovate config for sdk
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
Labels: bug, project:@ama-sdk/schematics

#1672 feat: update configuration doc
  docs/configuration/CONFIGURATION_SUPPORTED_EXTRACTOR.md
  docs/configuration/OVERVIEW.md
  packages/@o3r/configuration/README.md
Labels: documentation, enhancement, project:@o3r/configuration

#1862 fix: remove breaking in request-id
  packages/@ama-sdk/core/src/plugins/session-id/session-id.request.ts
Labels: bug, breaking change, project:@ama-sdk/core

#1867 fix: missing linter dep in generated sdk
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: bug, project:@ama-sdk/schematics

#1794 fix(create): add config registry when create is called with --registry option
  packages/@o3r/create/README.md
  packages/@o3r/create/package.json
  packages/@o3r/create/src/index.ts
  yarn.lock
Labels: bug, project:@o3r/create

#1725 test: library integration tests
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/apis-manager/schematics/index.it.spec.ts
  packages/@o3r/application/package.json
  packages/@o3r/application/project.json
  packages/@o3r/application/schematics/index.it.spec.ts
  packages/@o3r/application/testing/jest.config.it.js
  packages/@o3r/application/tsconfig.spec.json
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/design/schematics/ng-add/index.ts
  packages/@o3r/eslint-config-otter/project.json
  packages/@o3r/eslint-config-otter/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/schematics/src/utility/generation.ts
  packages/@o3r/schematics/src/utility/modules.ts
  packages/@o3r/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/ng-add/theme-files/index.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-otter-project.ts
  packages/@o3r/test-helpers/src/utilities/git.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  yarn.lock
Labels: bug, project:@ama-sdk/create, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/extractors, project:@o3r/analytics, project:@o3r/apis-manager, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/create, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/workspace, project:@o3r/design

#1880 fix: bump swc versions and remove o3r-set-version in sdk generator
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: bug, project:@ama-sdk/schematics

#1883 fix: prevent TimeoutPlugin from crashing on string messages
  packages/@ama-sdk/core/src/plugins/timeout/timeout.fetch.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.spec.ts
Labels: bug, project:@ama-sdk/core

#1886 fix: timeout plugin should not break on null messages
  packages/@ama-sdk/core/src/plugins/timeout/timeout.fetch.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.spec.ts
Labels: bug, project:@ama-sdk/core

#1884 fix(apis-manager): documentation example
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  packages/@o3r/apis-manager/README.md
Labels: bug, documentation, project:@o3r/apis-manager

#1887 chore: remove stability-days from renovate config
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  tools/renovate/base.json
Labels: project:@ama-sdk/schematics, project:@o3r/workspace

#1840 feat: use inject
  .vscode/settings.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/component-replacement/component-replacement.component.ts
  apps/showcase/src/app/component-replacement/component-replacement.template.html
  apps/showcase/src/app/configuration/configuration.component.ts
  apps/showcase/src/app/design-token/design-token.component.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.component.ts
  apps/showcase/src/app/localization/localization.component.ts
  apps/showcase/src/app/placeholder/placeholder.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/sdk/sdk.component.ts
  apps/showcase/src/components/showcase/basic/basic-pres.component.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.component.ts
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.template.html
  apps/showcase/src/components/showcase/configuration/configuration-pres.component.ts
  apps/showcase/src/components/showcase/design-token/design-token-pres.component.ts
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.component.ts
  apps/showcase/src/components/showcase/localization/localization-pres.component.ts
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.component.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.component.ts
  packages/@o3r/configuration/schematics/configuration-to-component/index.spec.ts
  packages/@o3r/configuration/schematics/configuration-to-component/index.ts
  packages/@o3r/configuration/schematics/use-config-signal/index.spec.ts
  packages/@o3r/configuration/schematics/use-config-signal/index.ts
  packages/@o3r/configuration/src/tools/configuration.signal.ts
Labels: enhancement, project:@o3r/configuration, project:@o3r/showcase

#1890 Cascading/9.6 10.2
  packages/@ama-sdk/core/src/plugins/timeout/timeout.fetch.ts
  packages/@ama-sdk/core/src/plugins/timeout/timeout.spec.ts
Labels: bug, project:@ama-sdk/core

#1857 feat: expose current time fact service
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  packages/@o3r/rules-engine/src/facts/current-time/current-time-fact-factories.ts
  packages/@o3r/rules-engine/src/facts/current-time/index.ts
  packages/@o3r/rules-engine/src/inner-facts/current-time/current-time-fact.service.ts
  packages/@o3r/rules-engine/src/inner-facts/current-time/current-time.facts.ts
  packages/@o3r/rules-engine/src/inner-facts/current-time/index.ts
  packages/@o3r/rules-engine/src/inner-facts/index.ts
  packages/@o3r/rules-engine/src/public_api.ts
Labels: enhancement, project:@o3r/rules-engine, project:@o3r/showcase

#1888 fix: missing peer dependencies
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/core/cli/clear-index.cts
  packages/@ama-sdk/core/cli/files-pack.cts
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/schematics/ng-add/index.ts
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/rule-factories/add-imports/index.ts
  packages/@o3r/schematics/src/rule-factories/check-packages-peers/index.ts
  packages/@o3r/schematics/src/rule-factories/eslint-fix/index.ts
  packages/@o3r/schematics/src/utility/component.ts
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/third-party/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/application, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/schematics, project:@o3r/showcase, project:@o3r/design

#1897 ci: fix e2e tests
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
Labels: project:@o3r/showcase

#1899 test: fix it-tests not running in local
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-otter-project.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Labels: project:@o3r/test-helpers

#1898 fix: paths for tsconfig doc files
  packages/@o3r/apis-manager/tsconfig.doc.json
  packages/@o3r/application/tsconfig.doc.json
  packages/@o3r/artifactory-tools/tsconfig.doc.json
  packages/@o3r/azure-tools/tsconfig.doc.json
  packages/@o3r/components/tsconfig.doc.json
  packages/@o3r/configuration/tsconfig.doc.json
  packages/@o3r/core/tsconfig.doc.json
  packages/@o3r/design/tsconfig.doc.json
  packages/@o3r/dev-tools/tsconfig.doc.json
  packages/@o3r/dynamic-content/tsconfig.doc.json
  packages/@o3r/eslint-plugin/tsconfig.doc.json
  packages/@o3r/extractors/tsconfig.doc.json
  packages/@o3r/forms/tsconfig.doc.json
  packages/@o3r/localization/tsconfig.doc.json
  packages/@o3r/logger/tsconfig.doc.json
  packages/@o3r/mobile/tsconfig.doc.json
  packages/@o3r/routing/tsconfig.doc.json
  packages/@o3r/rules-engine/tsconfig.doc.json
  packages/@o3r/schematics/tsconfig.doc.json
  packages/@o3r/storybook/tsconfig.doc.json
  packages/@o3r/stylelint-plugin/tsconfig.doc.json
  packages/@o3r/styling/tsconfig.doc.json
  packages/@o3r/testing/tsconfig.doc.json
  packages/@o3r/third-party/tsconfig.doc.json
Labels: bug, documentation, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/mobile, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/stylelint-plugin, project:@o3r/eslint-plugin, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design

#1903 fix: retrieve dep versions also from devDeps
  packages/@o3r/core/schematics/rule-factories/store/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/schematics/schematics/ng-add/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add.helpers.ts
  packages/@o3r/schematics/src/utility/dependencies.ts
  packages/@o3r/store-sync/schematics/ng-add/index.ts
  packages/@o3r/stylelint-plugin/schematics/ng-add/index.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
Labels: bug, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/testing, project:@o3r/styling, project:@o3r/store-sync, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/schematics

#1901 feat: move sdk gen clis from core to shematics
  packages/@ama-sdk/core/.eslintrc.js
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/project.json
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/utils/index.ts
  packages/@ama-sdk/core/tsconfig.json
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/.eslintrc.js
  packages/@ama-sdk/schematics/cli/clear-index.cts
  packages/@ama-sdk/schematics/cli/files-pack.cts
  packages/@ama-sdk/schematics/cli/update-spec-from-npm.cts
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/schematics/schematics/helpers/generators.ts
  packages/@ama-sdk/schematics/schematics/helpers/open-api-tools-configuration.ts
  packages/@ama-sdk/schematics/schematics/ng-add/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v10.0/script-removal.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/schematics/src/public_api.ts
  packages/@ama-sdk/schematics/tsconfig.cli.json
  packages/@ama-sdk/schematics/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create

#1907 fix: remove unused ngAddPeerDependencyPackages
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add.helpers.ts
  packages/@o3r/schematics/src/utility/dependencies.ts
Labels: bug, project:@o3r/schematics

#1909 fix(renovate): error while migrating ama-sdk version for an sdk
  tools/renovate/tasks/sdk-regenerate.json
Labels: bug

#1784 feat: update localization doc
  docs/localization/LOCALIZATION.md
  docs/vscode-extension/ADD_LOCALIZATION_KEY_TO_COMPONENT.md
  packages/@o3r/localization/README.md
Labels: documentation, enhancement, project:@o3r/localization

#1911 feat: regenerate the showcase sdk
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/store/store-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/user/user-api.ts
  packages/@ama-sdk/showcase-sdk/src/spec/api-mock.ts
Labels: enhancement, project:@ama-sdk/showcase-sdk

#1913 fix: set token permission as readonly
  .github/workflows/clean-cache.yml
  .github/workflows/tests-reporter.yml
Labels: bug

#1908 feat(ama-sdk): enhance performance plugin to report performance mark
  packages/@ama-sdk/core/src/plugins/perf-metric/perf-metric.fetch.ts
  packages/@ama-sdk/core/src/plugins/perf-metric/perf-metric.probe.spec.ts
Labels: enhancement, project:@ama-sdk/core

#1912 chore: angular 18
  .gitignore
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/index.ts
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/eslint-plugin/src/rules/template/no-inner-html/no-inner-html.spec.ts
  packages/@o3r/eslint-plugin/src/rules/template/template-async-number-limitation/template-async-number-limitation.spec.ts
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/styling/scss/theming/otter-theme/_material.scss
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#1914 fix: remove deprecated prepareOptions
  migration-guides/11.0.md
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/utils/generic-api.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/store/store-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/user/user-api.ts
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/showcase-sdk

#1918 chore: remove NodePackageNgAddTask
  migration-guides/11.0.md
  packages/@o3r/schematics/src/tasks/ng-add/index.ts
Labels: project:@o3r/schematics

#1920 chore: upgrade major dependencies
  .github/workflows/deploy-showcase.yml
  .github/workflows/scorecards.yml
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/intellij-extension/build.gradle.kts
  apps/showcase/package.json
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.template.html
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/addon/exporter.tsx
  packages/@o3r/storybook/addon/theme.tsx
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#1927 test(e2e): use playwright clock to freeze time
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/e2e-playwright/scenarios/component-replacement-page-scenario.e2e-playwright-spec.ts
  apps/showcase/e2e-playwright/scenarios/configuration-page-scenario.e2e-playwright-spec.ts
  apps/showcase/e2e-playwright/scenarios/dynamic-content-page-scenario.e2e-playwright-spec.ts
  apps/showcase/package.json
  apps/showcase/src/assets/placeholders/placeholder-showcase.json
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  package.json
  packages/@o3r/testing/package.json
  yarn.lock
Labels: project:@o3r/testing, project:@o3r/showcase
