Repository AmadeusITGroup/otter, pull requests merged in 2024-09, with the labels that each got.

#1583 docs(components): update documentation on components
  assets/schemas/component-type-example.png
  docs/README.md
  docs/analytics/TRACK_EVENTS.md
  docs/components/COMPONENT_REPLACEMENT.md
  docs/components/COMPONENT_STRUCTURE.md
  docs/components/CONTAINER_PRESENTER.md
  docs/components/FIXTURES.md
  docs/components/INTRODUCTION.md
  docs/components/NAMING_CONVENTION.md
  docs/configuration/CONFIGURATION_SUPPORTED_EXTRACTOR.md
  docs/configuration/OVERVIEW.md
  docs/forms/FORM_STRUCTURE.md
  docs/localization/LOCALIZATION.md
  docs/styling/THEME.md
  packages/@o3r/analytics/README.md
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/configuration/schematics/configuration-to-component/index.ts
  packages/@o3r/core/README.md
  packages/@o3r/core/src/core/interfaces/configuration.ts
  packages/@o3r/design/README.md
  packages/@o3r/rules-engine/README.md
  packages/@o3r/styling/README.md
  packages/@o3r/testing/README.md
  packages/@o3r/third-party/README.md
  packages/@o3r/workspace/README.md
Labels: documentation, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/third-party, project:@o3r/analytics, project:@o3r/forms, project:@o3r/workspace, project:@o3r/design

#2120 fix(eslint): turn no-require rule to warn to keep compatibility
  packages/@o3r/eslint-config-otter/rules/typescript/eslint-typescript.cjs
Labels: bug, project:@o3r/eslint-config-otter

#2114 chore: upgrade lighthouse
  apps/showcase/e2e-playwright/kassette.config.js
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
  apps/showcase/package.json
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.template.html
  package.json
  yarn.lock
Labels: project:@o3r/showcase

#2125 fix(#2124): compute the scope first while generating a new sdk
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
  packages/@o3r/workspace/schematics/sdk/schema.json
Labels: bug, project:@o3r/workspace

#2136 fix: wrong path calculation for sdk spec relative path in monorepo
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
  packages/@o3r/workspace/testing/mocks/easy-spec.yaml
Labels: bug, project:@o3r/workspace

#2140 chore: upgrade ag-grid dependencies
  .renovaterc.json5
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/showcase

#2130 test: speed-up it tests
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/test-helpers/src/test-environments/create-test-environment-otter-project.ts
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
Labels: project:@o3r/test-helpers

#2146 chore: remove request and request-promise-native dependencies
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/artifactory-tools/src/cli/artifact-cleaner.ts
  packages/@o3r/artifactory-tools/src/cli/pr-artifact-cleaner.ts
  yarn.lock
Labels: project:@o3r/artifactory-tools

#2147 chore: deprecate protractor
  packages/@o3r/testing/src/core/page-fixture.ts
  packages/@o3r/testing/src/core/protractor/angular-materials/autocomplete-material.ts
  packages/@o3r/testing/src/core/protractor/angular-materials/select-material.ts
  packages/@o3r/testing/src/core/protractor/component-fixture.ts
  packages/@o3r/testing/src/core/protractor/element.ts
  packages/@o3r/testing/src/core/protractor/elements/checkbox-element.ts
  packages/@o3r/testing/src/core/protractor/elements/radio-element.ts
  packages/@o3r/testing/src/core/protractor/elements/select-element.ts
  packages/@o3r/testing/src/core/protractor/group.ts
  packages/@o3r/testing/src/core/protractor/groups/radio-group.ts
  packages/@o3r/testing/src/core/protractor/page-fixture.ts
  packages/@o3r/testing/src/core/protractor/utils.ts
  packages/@o3r/testing/src/tools/protractor/fetch-manager/utils.ts
  packages/@o3r/testing/src/tools/protractor/post-message-interceptor/core.ts
  packages/@o3r/testing/src/tools/protractor/post-message-interceptor/post-message-interceptor.ts
Labels: project:@o3r/testing

#2135 chore(github-actions): audit bundle reduction and target cascading deprecation
  tools/github-actions/audit/package.json
  tools/github-actions/audit/packaged-action/LICENSE.txt
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/audit/src/main.ts
  tools/github-actions/cascading/packaged-action/LICENSE.txt
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/cascading/readme.md
  tools/github-actions/cascading/src/main.ts
  yarn.lock
Labels: project:audit-gh-action, project:cascading-gh-action

#2138 fix(design): ignore private references in metadata when requested
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-value.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-value.renderers.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: bug, project:@o3r/design

#2079 feat(ama-sdk): create Mock Intercept angular plugin
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/plugins/core/angular-plugin.ts
  packages/@ama-sdk/core/src/plugins/core/fetch-plugin.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/index.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.angular.ts
Labels: enhancement, project:@ama-sdk/core

#2153 feat(design): support for template file dependency path
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
Labels: enhancement, project:@o3r/design

#2160 fix(stylelint-plugin): remove noEmit from test tsconfig
  packages/@o3r/stylelint-plugin/tsconfig.spec.json
Labels: bug, project:@o3r/stylelint-plugin

#2151 feat: add "deprecate" github tag on message prefix
  .commitlintrc.json
  tools/@o3r/build-helpers/scripts/pr-labels.mjs
Labels: enhancement, project:@o3r/build-helpers

#2158 fix: clean cache pipeline
  .github/workflows/clean-cache.yml
Labels: bug

#2162 fix: update screenshots script
  apps/showcase/scripts/update-screenshots/podman-script.sh
Labels: bug, project:@o3r/showcase

#2112 feat: otter training - tools and services
  apps/showcase/package.json
  apps/showcase/src/services/index.ts
  apps/showcase/src/services/webcontainer/index.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  package.json
  packages/@o3r/training-tools/.eslintrc.js
  packages/@o3r/training-tools/.gitignore
  packages/@o3r/training-tools/.npmignore
  packages/@o3r/training-tools/README.md
  packages/@o3r/training-tools/cli/extract-folder-structure/extract-folder-structure.cts
  packages/@o3r/training-tools/collection.json
  packages/@o3r/training-tools/jest.config.js
  packages/@o3r/training-tools/package.json
  packages/@o3r/training-tools/project.json
  packages/@o3r/training-tools/schematics/ng-add/index.js
  packages/@o3r/training-tools/schematics/ng-add/index.ts
  packages/@o3r/training-tools/schematics/ng-add/schema.json
  packages/@o3r/training-tools/schematics/ng-add/schema.ts
  packages/@o3r/training-tools/src/public_api.ts
  packages/@o3r/training-tools/src/utility/index.ts
  packages/@o3r/training-tools/src/utility/web-container.spec.ts
  packages/@o3r/training-tools/src/utility/web-container.ts
  packages/@o3r/training-tools/testing/jest.config.ut.builders.js
  packages/@o3r/training-tools/testing/jest.config.ut.js
  packages/@o3r/training-tools/testing/setup-jest.ts
  packages/@o3r/training-tools/tsconfig.build.json
  packages/@o3r/training-tools/tsconfig.builders.json
  packages/@o3r/training-tools/tsconfig.cli.json
  packages/@o3r/training-tools/tsconfig.doc.json
  packages/@o3r/training-tools/tsconfig.eslint.json
  packages/@o3r/training-tools/tsconfig.json
  packages/@o3r/training-tools/tsconfig.spec.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/showcase, project:@o3r-training/tools, project:@o3r/training-tools

#2159 feat: script to create a new scope in the repository
  CONTRIBUTING.md
  package.json
  tools/@o3r/build-helpers/package.json
  tools/@o3r/build-helpers/scripts/create-monorepo-scope.mjs
  yarn.lock
Labels: enhancement, project:@o3r/build-helpers

#2081 chore: upgrade version of Design Factory
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/config-panel/config-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.template.html
  apps/chrome-devtools/src/app-devtools/state-panel/state-panel.template.html
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  apps/chrome-devtools/src/components/otter-component/otter-component.component.html
  apps/chrome-devtools/src/polyfills.ts
  apps/chrome-devtools/src/styles/design-factory-custom.scss
  apps/chrome-devtools/src/styles/index.scss
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/scripts/update-screenshots/index.cjs
  apps/showcase/src/app/app.component.html
  apps/showcase/src/app/app.component.scss
  apps/showcase/src/components/showcase/basic/basic-pres.style.scss
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.style.scss
  apps/showcase/src/components/utilities/scroll-back-top/scroll-back-top-pres.template.html
  apps/showcase/src/style/dark-theme/dark-theme.figma.json
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/style/design-factory-custom.scss
  apps/showcase/src/style/design-token.app.json
  apps/showcase/src/style/horizon-theme/horizon-theme.scss
  apps/showcase/src/style/theme.scss
  apps/showcase/src/styles.scss
  package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/showcase

#2155 chore: package github actions on precommit hook if modified
  .husky/pre-commit
  nx.json
  package.json
  tools/github-actions/audit/project.json
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/cascading/project.json
  tools/github-actions/get-npm-tag/packaged-action/LICENSE.txt
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/project.json
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/new-version/project.json
Labels: project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#2168 test: prevent race condition failure on it-tests
  packages/@o3r/test-helpers/src/utilities/locker.ts
Labels: project:@o3r/test-helpers

#2169 fix(telemetry): missing telemetry wrapper
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-jsonschema/index.ts
  packages/@o3r/design/package.json
  packages/@o3r/design/schematics/extract-token/index.ts
  packages/@o3r/design/schematics/generate-css/index.ts
  packages/@o3r/design/schematics/ng-add/index.ts
  yarn.lock
Labels: bug, project:@o3r/design

#2177 docs: remove broken link for examples of custom operators
  packages/@o3r/rules-engine/README.md
Labels: documentation, project:@o3r/rules-engine

#2181 feat(telemetry): add a possibility to override the project name
  docs/telemetry/PRIVACY_NOTICE.md
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
  packages/@o3r/telemetry/README.md
  packages/@o3r/telemetry/migration.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/telemetry/schematics/ng-add/index.ts
  packages/@o3r/telemetry/schematics/ng-update/index.ts
  packages/@o3r/telemetry/schematics/ng-update/v11.3/index.spec.ts
  packages/@o3r/telemetry/schematics/ng-update/v11.3/index.ts
  packages/@o3r/telemetry/src/builders/index.ts
  packages/@o3r/telemetry/src/environment/index.ts
  packages/@o3r/telemetry/src/schematics/index.ts
Labels: enhancement, project:@o3r/extractors, project:@o3r/schematics, project:@o3r/telemetry, deprecate

#2198 fix(workspace): renovate not being generated
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/npm-workspace.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
Labels: bug, project:@o3r/workspace

#2199 docs(renovate): enhance renovate documentation
  docs/renovate/readme.md
  tools/renovate/README.md
Labels: documentation
