Repository AmadeusITGroup/otter, pull requests merged in 2024-07, with the labels that each got.

#1939 fix: do not log error for undefined reviver for string response
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
Labels: bug, project:@ama-sdk/core

#1945 fix: align @typescript-eslint version for npm create
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action

#1948 fix(telemetry): create correctly error instance
  packages/@o3r/telemetry/src/builders/index.ts
  packages/@o3r/telemetry/src/schematics/index.ts
Labels: bug, project:@o3r/telemetry

#1919 feat(sdk-generator): turn x-local-timezone mandatory for utils.Date
  migration-guides/11.0.md
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@ama-sdk/create/testing/mocks/MOCK_DATE_UTILS_swagger.yaml
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/project.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/readme.md
  packages/@ama-sdk/showcase-sdk/readme.md
Labels: documentation, enhancement, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@ama-sdk/showcase-sdk

#1942 fix(schematic-sdk): support the multi tag in SDK's APIs
  migration-guides/11.0.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/apis.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/enums.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/fixture.jest.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/interfaces.mustache
Labels: bug, breaking change, project:@ama-sdk/schematics

#1959 feat(design): allow full sass variable generation
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-css/schema.ts
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/design

#1968 fix(create): version for root package.json should be 0.0.0-placeholder
  packages/@o3r/workspace/schematics/ng-add/helpers/npm-workspace.ts
Labels: bug, project:@o3r/workspace

#1967 fix: missing css variables in chrome dev-tool
  packages/@o3r/styling/builders/style-extractor/index.ts
  packages/@o3r/styling/scss/theming/otter-theme/_functions.scss
  packages/@o3r/styling/scss/theming/otter-theme/_material.scss
  packages/@o3r/styling/src/devkit/styling-devtools.message.service.ts
Labels: bug, project:@o3r/styling

#1969 fix: wait for language to be loaded before update
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
Labels: bug, project:@o3r/localization

#1973 fix: migrate ama-sdk in renovate template
  tools/renovate/tasks/sdk-regenerate.json
Labels: bug

#1976 fix: update ama-sdk schematics migrate command in renovate preset
  tools/renovate/tasks/sdk-regenerate.json
Labels: bug

#1977 fix: update ama-sdk schematics migrate command in renovate preset - cherry-pick
  tools/renovate/tasks/sdk-regenerate.json
Labels: bug

#1955 fix(showcase): prevent arbitrary url evaluation
  apps/showcase/e2e-playwright/mocks/api/v3/pet/findByStatus/get/body.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/src/components/showcase/sdk/sdk-pres.component.ts
  apps/showcase/src/components/showcase/sdk/sdk-pres.template.html
  apps/showcase/src/components/utilities/index.ts
  apps/showcase/src/components/utilities/otter-picker/index.ts
  apps/showcase/src/components/utilities/otter-picker/otter-icon-path.pipe.ts
  apps/showcase/src/components/utilities/otter-picker/otter-icons.ts
  apps/showcase/src/components/utilities/otter-picker/otter-picker-pres.component.ts
  packages/@o3r/core/package.json
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/showcase

#1956 feat: add lerna at the root of a new otter project
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/npm-workspace.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
  packages/@o3r/workspace/src/cli/set-version.cts
Labels: enhancement, project:@o3r/test-helpers, project:@o3r/workspace

#1990 fix(apis-manager): allow Api Interface to retrieve and set configs
  packages/@o3r/apis-manager/README.md
  packages/@o3r/apis-manager/src/apis-manager/api-manager.ts
Labels: bug, project:@o3r/apis-manager

#1985 fix(design): update Shadow and Gradient rendering according to specifications
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: bug, project:@o3r/design

#1991 fix(vscode-ext): remove invalid deps
  apps/vscode-extension/.eslintrc.js
  apps/vscode-extension/package.json
Labels: bug, project:otter-devtools

#1943 feat(eslint-plugin): harmonize engines versions
  .eslintrc.js
  packages/@ama-sdk/core/src/plugins/abort/abort.fetch.ts
  packages/@ama-sdk/create/.eslintrc.js
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/showcase-sdk/src/api/pet/pet-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/store/store-api.ts
  packages/@ama-sdk/showcase-sdk/src/api/user/user-api.ts
  packages/@ama-sdk/showcase-sdk/src/spec/api-mock.ts
  packages/@ama-sdk/showcase-sdk/src/spec/operation-adapter.ts
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/src/directives/track-events/base-track-events.ts
  packages/@o3r/components/src/tools/placeholder/placeholder.component.ts
  packages/@o3r/create/.eslintrc.js
  packages/@o3r/create/package.json
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
  packages/@o3r/localization/src/tools/localization-translate.directive.ts
  packages/@o3r/localization/src/tools/localization-translate.pipe.ts
  packages/@o3r/localization/src/tools/text-directionality.service.ts
  packages/@o3r/rules-engine/src/devkit/rules-engine-devtools.message.service.ts
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/analytics, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-sdk, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@ama-terasu/core, project:@ama-sdk/showcase-sdk

#1998 fix(sdk-core): remove the API serialization from the mock plugin
  packages/@ama-sdk/core/src/plugins/core/request-plugin.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.request.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.spec.ts
Labels: bug, project:@ama-sdk/core

#1995 fix(ng-add localization): create the assets array if not present
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/localization-base/index.ts
  packages/@o3r/localization/schematics/localization-base/templates/__empty__.gitignore
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/schematics/src/utility/gitignore.spec.ts
  packages/@o3r/schematics/src/utility/gitignore.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
Labels: bug, project:@ama-sdk/schematics, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors, project:@o3r/schematics

#2008 fix(security): supported version
  SECURITY.md
Labels: documentation

#2012 docs(swagger-builder): add missing option in readme documentation
  docs/swagger-builder/readme.md
Labels: documentation

#1992 fix(design): ng add angular.json updates and file creation
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/design/schematics/ng-add/index.spec.ts
  packages/@o3r/design/schematics/ng-add/register-generate-css/register-task.ts
  packages/@o3r/design/schematics/ng-add/register-generate-css/templates/theme.scss.template
  packages/@o3r/design/testing/mocks/angular.mocks.json
Labels: bug, project:@o3r/design

#2013 docs(store-sync): update example for store synchronization
  docs/store-sync/STORE_SYNC.md
Labels: documentation
