Repository AmadeusITGroup/otter, pull requests merged in 2024-12, with the labels that each got.

#2529 chore: reduce codeCov warning
  codecov.yml
Labels: project:new-version-gh-action

#2528 fix(eslint): use cache for lint-staged + change command to not use no-error-on-unmatched-pattern
  apps/chrome-devtools/project.json
  apps/showcase/project.json
  nx.json
  package.json
  packages/@o3r/components/project.json
  packages/@o3r/rules-engine/project.json
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/rules-engine, project:@o3r/components, project:@o3r/showcase

#2524 feat: otter training sdk - welcome and other small fixes
  apps/showcase/src/app/sdk-intro/sdk-intro.template.html
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/date/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/welcome/instructions.md
  packages/@o3r-training/training-sdk/open-api.yaml
  packages/@o3r-training/training-sdk/openapitools.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-sdk/readme.md
  packages/@o3r-training/training-sdk/src/models/base/patterns.ts
  packages/@o3r-training/training-sdk/src/spec/api-mock.ts
  packages/@o3r-training/training-sdk/src/spec/operation-adapter.ts
Labels: enhancement, project:@o3r/showcase, project:@o3r-training/training-sdk

#2534 fix: o3r schematics import
  packages/@o3r/schematics/schematics/ng-add/index.ts
  tools/@o3r/build-helpers/scripts/patch-package-json-main.mjs
Labels: bug, project:@o3r/build-helpers, project:@o3r/schematics

#2491 fix: add missing devDep to schematics
  nx.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/extractors/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/new-version/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/ng-add.helpers.ts
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/stylelint-plugin/schematics/ng-add/index.ts
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Labels: bug, project:@ama-sdk/core, project:@o3r/localization, project:@o3r/components, project:@o3r/application, project:@o3r/extractors, project:@o3r/analytics, project:@o3r/stylelint-plugin, project:@o3r/schematics, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/new-version, project:@ama-sdk/client-fetch, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:release-gh-action

#2538 chore: allow code cov threshold
  codecov.yml
Labels: project:new-version-gh-action

#2436 feat(showcase): use marked and prismjs to highlight the code
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/app/component-replacement/component-replacement.component.ts
  apps/showcase/src/app/component-replacement/component-replacement.spec.ts
  apps/showcase/src/app/component-replacement/component-replacement.template.html
  apps/showcase/src/app/configuration/configuration.component.ts
  apps/showcase/src/app/configuration/configuration.spec.ts
  apps/showcase/src/app/configuration/configuration.template.html
  apps/showcase/src/app/design-token/design-token.component.ts
  apps/showcase/src/app/design-token/design-token.spec.ts
  apps/showcase/src/app/design-token/design-token.template.html
  apps/showcase/src/app/dynamic-content/dynamic-content.component.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.spec.ts
  apps/showcase/src/app/dynamic-content/dynamic-content.template.html
  apps/showcase/src/app/home/home.component.ts
  apps/showcase/src/app/home/home.spec.ts
  apps/showcase/src/app/home/home.template.html
  apps/showcase/src/app/localization/localization.component.ts
  apps/showcase/src/app/localization/localization.spec.ts
  apps/showcase/src/app/localization/localization.template.html
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.template.html
  apps/showcase/src/app/run-app-locally/run-app-locally.component.ts
  apps/showcase/src/app/run-app-locally/run-app-locally.spec.ts
  apps/showcase/src/app/run-app-locally/run-app-locally.template.html
  apps/showcase/src/app/sdk/sdk.component.ts
  apps/showcase/src/app/sdk/sdk.spec.ts
  apps/showcase/src/app/sdk/sdk.template.html
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.component.ts
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.spec.ts
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.style.scss
  apps/showcase/src/components/utilities/clipboard-button/clipboard-button-pres.template.html
  apps/showcase/src/components/utilities/clipboard-button/index.ts
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.component.ts
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.spec.ts
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.style.scss
  apps/showcase/src/components/utilities/copy-text/copy-text-pres.template.html
  apps/showcase/src/components/utilities/copy-text/index.ts
  apps/showcase/src/components/utilities/index.ts
  apps/showcase/src/helpers/marked-alert-extension.ts
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/styles.scss
  package.json
  yarn.lock
Labels: enhancement, project:@o3r/showcase, project:new-version-gh-action

#2546 chore: update code-owners
  .github/CODEOWNERS
  .yarnrc.yml
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Labels: project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2411 feat: otter sdk training - model extension
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.component.html
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.config.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/base/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.reviver.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/.openapi-generator-ignore
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/base/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/flight/flight.reviver.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/flight/flight.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/core/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/solution/src/models/index.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/README.md
  packages/@o3r-training/training-sdk/open-api.yaml
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.jest.fixture.ts
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
Labels: enhancement, project:@ama-sdk/core, project:@o3r/showcase, project:@o3r-training/training-tools, project:@o3r-training/training-sdk

#2548 fix: do not publish training package; not needed
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/project.json
Labels: bug, project:@o3r-training/showcase-sdk

#2542 feat(config): generate default config with readonly and as const
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.config.ts
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/configuration/migration.json
  packages/@o3r/configuration/schematics/configuration-to-component/templates/__name__.config.ts.template
  packages/@o3r/configuration/schematics/ng-update/v11-6/index.spec.ts
  packages/@o3r/configuration/schematics/ng-update/v11-6/index.ts
  packages/@o3r/localization/migration.json
  packages/@o3r/localization/schematics/add-localization-key/index.spec.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/localization-to-component/templates/__name__.translation.ts.template
  packages/@o3r/localization/schematics/ng-update/v11-6/index.spec.ts
  packages/@o3r/localization/schematics/ng-update/v11-6/index.ts
Labels: enhancement, project:@o3r/localization, project:@o3r/components, project:@o3r/configuration, project:@o3r/showcase

#2521 feat: use takeUntilDestroyed instead of subscriptions to unsubscribe
  apps/chrome-devtools/src/app-devtools/component-panel/component-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/debug-panel/debug-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/localization-panel/localization-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/components/app-connection/app-connection.component.ts
  apps/chrome-devtools/src/services/connection.service.ts
  apps/chrome-devtools/src/services/localization.service.ts
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/components/showcase/design-token/design-token-pres.component.ts
  apps/showcase/src/components/showcase/localization/localization-pres.component.ts
  apps/showcase/src/components/showcase/placeholder/placeholder-pres.component.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.component.ts
  apps/showcase/src/components/utilities/in-page-nav/in-page-nav-pres.service.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  docs/analytics/TRACK_EVENTS.md
  docs/forms/FORM_STRUCTURE.md
  docs/forms/FORM_SUBMIT_AND_INTERCOMMUNICATION.md
  docs/forms/FORM_VALIDATION.md
  docs/routing/ROUTING.md
  packages/@o3r/analytics/src/directives/track-events/base-track-events.ts
  packages/@o3r/application/src/devkit/application-devtools.message.service.ts
  packages/@o3r/components/src/devkit/components-devtools.message.service.ts
  packages/@o3r/components/src/rules-engine/placeholder.action-handler.ts
  packages/@o3r/components/src/tools/placeholder/placeholder.component.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.message.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.message.service.ts
  packages/@o3r/mobile/src/capacitor/capacitor-target.service.ts
  packages/@o3r/rules-engine/src/devkit/rules-engine-devtools.message.service.ts
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.ts
  packages/@o3r/storybook/component-wrapper/component-wrapper.component.ts
  packages/@o3r/styling/src/devkit/styling-devtools.message.service.ts
  packages/@o3r/third-party/schematics/iframe-to-component/index.spec.ts
  packages/@o3r/third-party/schematics/iframe-to-component/index.ts
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/showcase

#2442 feat: update recommended extensions
  .vscode/extensions.json
  .vscode/settings.json
Labels: enhancement, devExp

#2473 feat(cascading): option to bypass non-latest minor branch
  .github/.cascadingrc.json
  apps/github-cascading-app/schemas/config.schema.json
  apps/github-cascading-app/src/cascading/cascading.spec.ts
  apps/github-cascading-app/src/cascading/cascading.ts
  apps/github-cascading-app/src/cascading/interfaces.ts
Labels: enhancement, project:@o3r/github-cascading-app

#2550 fix: add private tag for nx for o3r-training/showcase-sdk package
  packages/@o3r-training/showcase-sdk/project.json
Labels: bug, project:@o3r-training/showcase-sdk

#2354 feat(eslint-plugin): renamed exported recommended
  packages/@o3r/eslint-config-otter/migration.json
  packages/@o3r/eslint-config-otter/schematics/ng-update/index.ts
  packages/@o3r/eslint-config-otter/schematics/ng-update/v11.6/update-configs/update-configs.spec.ts
  packages/@o3r/eslint-config-otter/schematics/ng-update/v11.6/update-configs/update-configs.ts
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/yaml/yarnrc-package-extensions-harmonize/yarnrc-package-extensions-harmonize.ts
Labels: bug, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/eslint-config

#2531 feat: otter sdk training - integration in angular
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.component.html
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.config.ts
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.config.ts
Labels: enhancement, project:@o3r/showcase, project:new-version-gh-action

#2554 feat: otter training sdk - small fixes
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/steps/date-sdk-generation/exercise/open-api.yaml
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.component.scss
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/date/solution/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/base/flight/index.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.reviver.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/libs/sdk/src/models/core/flight/flight.ts
  apps/showcase/src/assets/trainings/sdk/steps/plugins/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.config.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/solution/app.component.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/solution/app.config.ts
Labels: enhancement, project:@o3r/showcase, project:new-version-gh-action

#2555 fix(ama-sdk-create): publish training sdk on verdaccio for it tests of ama-sdk-create
  packages/@ama-sdk/create/project.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/showcase-sdk/project.json
Labels: bug, project:@ama-sdk/create, project:@o3r-training/showcase-sdk

#2552 fix(eslint): do not set files if ignores is set
  eslint.config.mjs
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
Labels: bug, project:@o3r/eslint-config

#2559 feat(training): remove df dependencies to speed up the build
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
Labels: enhancement, project:@o3r/showcase

#2562 feat(training): stop propagation of save event on the editor
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
Labels: enhancement, project:@o3r/showcase

#2561 feat: rely on Nx Parallel env var
  CONTRIBUTING.md
  package.json
Labels: documentation, enhancement

#2564 chore: deprecate outdate java-sdk generator
  packages/@ama-sdk/schematics/collection.json
  packages/@ama-sdk/schematics/schematics/code-generator/swagger-java-generator/swagger-java.generator.ts
  packages/@ama-sdk/schematics/schematics/java/client-core/index.ts
  packages/@ama-sdk/schematics/schematics/java/client-core/swagger-codegen-java-client/README.md
Labels: project:@ama-sdk/schematics

#2571 fix: add search exclusion and TS options
  .vscode/settings.json
Labels: bug

#2572 fix: repair build and fix design
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
  yarn.lock
Labels: bug, project:@o3r/showcase

#2577 feat: add NX_PARALLEL environment variable
  .github/workflows/code-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
Labels: enhancement

#2569 chore: set peer-dependencies to caret
  .yarnrc.yml
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config-otter/project.json
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/project.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.spec.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
  packages/@o3r/schematics/src/utility/matching-peers.spec.ts
  packages/@o3r/schematics/src/utility/matching-peers.ts
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/application/index.ts
  packages/@o3r/workspace/schematics/application/templates/package.json.template
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  tools/@o3r/build-helpers/package.json
  tools/@o3r/workspace-helpers/package.json
  tools/github-actions/audit/package.json
  yarn.lock
Labels: project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-otter, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:@o3r/new-version, project:@ama-sdk/client-fetch, project:@o3r/eslint-config, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r/pipeline, project:@o3r/workspace-helpers, project:@o3r-training/training-tools, project:@o3r-training/showcase-sdk

#2582 fix: remove pattern for ref property in localization.metadata.schema.json
  packages/@o3r/localization/schemas/localization.metadata.schema.json
Labels: bug, project:@o3r/localization

#2578 fix: vscode watcher issue with ts upgrade
  .vscode/settings.json
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2544 feat(training): file navigation inside code editor
  apps/showcase/package.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/helpers/monaco-tree.helper.ts
  apps/showcase/src/services/webcontainer/webcontainer-runner.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  package.json
  yarn.lock
Labels: enhancement, project:@o3r/showcase

#2588 fix(tools): path to release script
  tools/github-actions/release/action.yml
Labels: bug, project:release-gh-action

#2585 chore: remove reference in pom.xml version
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
  tools/github-actions/new-version/packaged-action/LICENSE.txt
Labels: project:@ama-sdk/schematics, project:new-version-gh-action

#2590 fix: base code navigation on webcontainer instead of project initial value
  apps/showcase/schemas/training-program.schema.json
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  apps/showcase/testing/mocks/webcontainer-api.mock.ts
Labels: bug, project:@o3r/showcase

#2587 test(training): visual testing for training steps
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/src/app/app.fixture.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.fixture.ts
Labels: project:@o3r/showcase

#2574 docs: ignore nx links as invalid links
  .github/markdown-external-links.config.json
Labels: documentation

#2589 feat(design): explode complex types
  .vscode/settings.json
  packages/@o3r/design/README.md
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: enhancement, project:@o3r/design

#2579 feat(training): persistence of code modifications
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/save-code-dialog/index.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.spec.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.template.html
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
Labels: enhancement, project:@o3r/showcase

#2603 feat(design): add description to the exploded tokens
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
Labels: enhancement, project:@o3r/design

#2607 fix: add missing dev dependency
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/github-cascading-app

#2611 fix: jsonpath-plus audit update
  package.json
  packages/@o3r/components/package.json
  packages/@o3r/rules-engine/package.json
  yarn.lock
Labels: bug, project:@o3r/rules-engine, project:@o3r/components

#2610 fix: reset actions emitted when no rulesets remains activated
  packages/@o3r/rules-engine/src/engine/helpers/filter-ruleset-event.operator.spec.ts
  packages/@o3r/rules-engine/src/engine/helpers/filter-ruleset-event.operator.ts
  packages/@o3r/rules-engine/src/services/runner/rules-engine.runner.service.spec.ts
Labels: bug, project:@o3r/rules-engine

#2619 fix: linter issue with typescript-eslint 8.18
  packages/@o3r/core/builders/lib-build/index.ts
  packages/@o3r/core/builders/run-script/index.ts
Labels: bug, project:@o3r/core

#2608 fix(core): add support for "null" type
  packages/@o3r/core/src/utils/deep-fill/deep-fill.spec.ts
  packages/@o3r/core/src/utils/deep-fill/deep-fill.ts
Labels: bug, project:@o3r/core

#2634 fix(#2630): use posix to compute path for outputPath
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
Labels: bug, project:@o3r/core

#2637 fix: github-action package not working
  .github/workflows/code-check.yml
  packages/@o3r/new-version/package.json
  packages/@o3r/new-version/tsconfig.build.json
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Labels: bug, project:new-version-gh-action, project:@o3r/new-version

#2602 feat(config): add support for restrictionKeys
  apps/showcase/eslint.local.config.mjs
  apps/showcase/src/components/showcase/configuration/configuration-pres.config.ts
  docs/ab-testing/AB_TESTING.md
  docs/linter/eslint-plugin/rules/o3r-restriction-key-tags.md
  docs/linter/eslint-plugin/rules/o3r-widget-tags.md
  packages/@o3r/components/builders/component-extractor/helpers/component/component-config.extractor.ts
  packages/@o3r/components/src/core/component.output.ts
  packages/@o3r/configuration/schemas/configuration.metadata.schema.json
  packages/@o3r/eslint-config-otter/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-config/src/rules/typescript/jsdoc.cjs
  packages/@o3r/eslint-plugin/src/index.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-restriction-key-tags/o3r-restriction-key-tags.spec.ts
  packages/@o3r/eslint-plugin/src/rules/typescript/o3r-restriction-key-tags/o3r-restriction-key-tags.ts
  packages/@o3r/extractors/src/utils/config-doc.spec.ts
  packages/@o3r/extractors/src/utils/config-doc.ts
  tools/github-actions/cascading/readme.md
Labels: enhancement, project:@o3r/components, project:@o3r/configuration, project:@o3r/extractors, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/showcase, project:cascading-gh-action, project:@o3r/eslint-config

#2638 fix: test and visual testing update for otter training
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/save-code-dialog/save-code-dialog.component.spec.ts
Labels: bug, project:@o3r/showcase

#2651 chore: align missing deps for typescript-eslint
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config
