Repository AmadeusITGroup/otter, pull requests merged in 2024-05, with the labels that each got.

#1667 fix(schematics): esintFix task to run on NPM correctly
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/schematics/src/rule-factories/eslint-fix/index.ts
  packages/@o3r/schematics/src/tasks/eslint/index.ts
Labels: bug, project:@o3r/core, project:@o3r/schematics

#1737 fix(schematics-sdk): rollback default spec file name to swagger-spec.yaml
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
Labels: bug, project:@ama-sdk/schematics

#1747 [cherry-pick] Feature/ama sdk plugins logging 9.6
  apps/showcase/src/app/app.module.ts
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/fwk/logger.ts
  packages/@ama-sdk/core/src/plugins/bot-protection-fingerprint/bot-protection-fingerprint.request.ts
  packages/@ama-sdk/core/src/plugins/core/fetch-plugin.ts
  packages/@ama-sdk/core/src/plugins/core/plugin.ts
  packages/@ama-sdk/core/src/plugins/core/reply-plugin.ts
  packages/@ama-sdk/core/src/plugins/core/request-plugin.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.fetch.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.request.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.request.ts
  packages/@ama-sdk/core/src/plugins/session-id/session-id.request.ts
  packages/@ama-sdk/core/src/plugins/session-id/session-id.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/showcase

#1740 fix(github-actions): the security warning the regarding the permissions
  .github/workflows/tests-reporter.yml
Labels: bug

#1753 fix: ids type in entity store
  packages/@o3r/core/src/store/async/async-entity.adapter.ts
  packages/@o3r/core/src/store/types.ts
Labels: bug, project:@o3r/core

#1762 fix: use material palette when generating theme
  packages/@o3r/styling/scss/theming/otter-theme/_theme.scss
Labels: bug, project:@o3r/styling

#1759 feat: github issues created from template have triage tag
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/2-AMA-SDK-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/3-AMA-TERASU-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/4-APPLICATION-ISSUE-FORM.yaml
Labels: enhancement

#1775 feat(renovate): exclude non-major upgrade on Next versions
  .renovaterc.json5
Labels: enhancement

#1779 fix(telemetry): ci was always true
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  packages/@o3r/eslint-config-otter/rules/typescript/eslint.cjs
  packages/@o3r/telemetry/src/environment/index.ts
Labels: bug, project:@o3r/eslint-config-otter, project:@o3r/telemetry

#1678 feat(sdk): generate an sdk with spec from npm
  package.json
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/core/cli/clear-index.cts
  packages/@ama-sdk/core/cli/files-pack.cts
  packages/@ama-sdk/core/cli/update-spec-from-npm.cts
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/fwk/open-api-tools-configuration.ts
  packages/@ama-sdk/core/tsconfig.cli.json
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/create/src/index.it.spec.ts
  packages/@ama-sdk/create/src/index.ts
  packages/@ama-sdk/schematics/schematics/ng-add/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/schema.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/schema.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-sdk/showcase-sdk/openapi.yml
  packages/@ama-sdk/showcase-sdk/openapitools.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/showcase-sdk/project.json
  packages/@o3r/schematics/src/tasks/package-manager/index.ts
  packages/@o3r/schematics/src/tasks/package-manager/npm-exec.ts
  packages/@o3r/schematics/src/tasks/package-manager/npm-run.ts
  packages/@o3r/test-helpers/src/prepare-test-env.ts
  packages/@o3r/workspace/project.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
  packages/@o3r/workspace/schematics/sdk/schema.json
  packages/@o3r/workspace/schematics/sdk/schema.ts
  tools/renovate/tasks/sdk-regenerate.json
  tools/renovate/tasks/sdk-spec-regenerate.json
  yarn.lock
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/workspace, project:@ama-sdk/showcase-sdk

#1752 fix: make generators optional in openapitools.json
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
Labels: bug, project:@ama-sdk/schematics

#1792 fix(core): async operators
  packages/@o3r/core/src/store/async/async.operators.ts
Labels: bug, project:@o3r/core

#1796 fix: linter issue relative to new rules
  packages/@ama-sdk/schematics/schematics/typescript/core/index.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/eslint-plugin/src/rules/json/utils.ts
Labels: bug, project:@ama-sdk/schematics, project:@o3r/eslint-plugin, project:@o3r/design

#1800 fix(rules-engine): missing schematics templates
  packages/@o3r/rules-engine/package.json
Labels: bug, project:@o3r/rules-engine

#1783 fix: schematics params should be added only for one project
  packages/@o3r/configuration/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/rule-factories/component/common.ts
  packages/@o3r/core/schematics/shared/presets/all.preset.ts
  packages/@o3r/core/schematics/shared/presets/cms.preset.ts
  packages/@o3r/design/schematics/ng-add/index.ts
  packages/@o3r/localization/schematics/ng-add/index.ts
  packages/@o3r/rules-engine/schematics/ng-add/index.ts
  packages/@o3r/schematics/src/rule-factories/ng-add/schematics-register.ts
  packages/@o3r/styling/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/npm-workspace.ts
Labels: bug, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/schematics, project:@o3r/workspace, project:@o3r/design

#1798 feat: update chrome devtools documentation
  apps/chrome-devtools/README.md
  apps/chrome-devtools/package.json
  docs/dev-tools/chrome-devtools.md
Labels: documentation, enhancement, project:@o3r/chrome-devtools

#1805 fix(vscode-ext): autocomplete for o3r category
  .vscode/tasks.json
  apps/vscode-extension/src/intellisense/configuration.ts
Labels: bug, project:otter-devtools

#1809 fix(vscode-ext): rollback the tasks for debug the extension
  .vscode/tasks.json
Labels: bug

#1810 Cascade/10.2to10.3.0 rc
  apps/vscode-extension/src/intellisense/configuration.ts
Labels: bug, project:otter-devtools

#1818 fix(vscode-ext): path computation
  apps/vscode-extension/src/commands/helpers.ts
Labels: bug, project:otter-devtools

#1819 feat: publish showcase-sdk package
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/showcase-sdk/project.json
  packages/@ama-sdk/showcase-sdk/readme.md
Labels: enhancement, project:@ama-sdk/showcase-sdk

#1822 fix(ama-sdk): wrong dependency path leading to ts rebuild issue
  packages/@ama-sdk/core/cli/update-spec-from-npm.cts
Labels: bug, project:@ama-sdk/core

#1823 chore: add cod of conduct
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: documentation

#1824 Feature: migration schematics
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/collection.json
  packages/@ama-sdk/schematics/schematics/helpers/is-typescript-project.ts
  packages/@ama-sdk/schematics/schematics/migrate/index.ts
  packages/@ama-sdk/schematics/schematics/migrate/schema.json
  packages/@ama-sdk/schematics/schematics/migrate/schema.ts
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@o3r/schematics/src/utility/index.ts
  packages/@o3r/schematics/src/utility/migration/migration.spec.ts
  packages/@o3r/schematics/src/utility/migration/migration.ts
  tools/renovate/tasks/sdk-regenerate.json
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/schematics

#1833 fix: freeze @swc/core to 1.5.7
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-sdk/showcase-sdk/package.json
  yarn.lock
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/showcase-sdk

#1834 feat: add package link to store-sync documentation
  docs/store-sync/STORE_SYNC.md
Labels: documentation, enhancement

#1696 feat: ng-update script for migration to openapitools 7.4
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/schematics/migrate/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v10.3/update-openapiversion.ts
  packages/@o3r/schematics/src/utility/monorepo.ts
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/schematics
