Repository AmadeusITGroup/otter, pull requests merged in 2024-01, with the labels that each got.

#1137 feat(contextualization): expose api on window
  apps/showcase/src/app/app.component.spec.ts
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/main.ts
  packages/@o3r/application/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/components/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/configuration/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.console.service.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.console.spec.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.interface.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.token.ts
  packages/@o3r/core/src/core/devkit/devtools.interface.ts
  packages/@o3r/localization/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/localization/src/devkit/localization-devkit.interface.ts
  packages/@o3r/localization/src/devkit/localization-devtools.console.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.token.ts
  packages/@o3r/rules-engine/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.spec.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.ts
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/configuration, project:@o3r/application, project:@o3r/schematics, project:@o3r/showcase

#1180 fix: nx input for tests
  jest.config.ut.js
  nx.json
  packages/@o3r/configuration/.gitignore
  packages/@o3r/localization/.gitignore
  packages/@o3r/test-helpers/src/utilities/virtual-fs.ts
Labels: bug, enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/configuration, project:@o3r/styling, project:@o3r/test-helpers

#1175 feat(#718): intellisense for styling variable
  apps/vscode-extension/package.json
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/styling.ts
Labels: enhancement, project:otter-devtools

#1181 chore: clean comment examples
  .verdaccio/README.md
  .vscode/settings.json
  docs/cms-adapters/CMS_ADAPTERS.md
  docs/components/COMPONENT_REPLACEMENT.md
  docs/core/MODULE.md
  docs/core/START_NEW_APPLICATION.md
  docs/dev-tools/DEV_TOOLS.md
  docs/forms/FORM_ERRORS.md
  docs/swagger-builder/checkers/dictionary-checker.md
  docs/swagger-builder/checkers/multi-success-checker.md
  docs/swagger-builder/checkers/operation-id-checker.md
  docs/swagger-builder/readme.md
  docs/swagger-builder/referencing.md
  packages/@ama-sdk/core/src/plugins/bot-protection-fingerprint/bot-protection-fingerprint.request.ts
  packages/@ama-sdk/core/src/plugins/client-facts/client-facts.request.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.request.ts
  packages/@ama-sdk/core/src/plugins/retry/retry.fetch.ts
  packages/@ama-sdk/core/src/plugins/simple-api-key-authentication/simple-api-key-authentication.request.ts
  packages/@ama-sdk/core/src/plugins/wait-for/wait-for.fetch.ts
  packages/@ama-sdk/schematics/schematics/code-generator/code-generator.ts
  packages/@ama-sdk/schematics/schematics/code-generator/open-api-cli-generator/open-api-cli.options.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/schema.ts
  packages/@ama-sdk/swagger-builder/README.md
  packages/@ama-sdk/swagger-builder/src/core/post-processes/flatten-conflicted-allof.ts
  packages/@o3r/analytics/src/directives/track-events/track-click/track-click.directive.ts
  packages/@o3r/analytics/src/directives/track-events/track-events.directive.ts
  packages/@o3r/analytics/src/directives/track-events/track-focus/track-focus.directive.ts
  packages/@o3r/analytics/src/services/event-track/event-track.service.ts
  packages/@o3r/artifactory-tools/README.md
  packages/@o3r/azure-tools/README.md
  packages/@o3r/core/README.md
  packages/@o3r/core/src/core/application/dgp.interfaces.ts
  packages/@o3r/dev-tools/README.md
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.service.ts
  packages/@o3r/eslint-config-otter/jasmine-fast.cjs
  packages/@o3r/eslint-config-otter/jasmine.cjs
  packages/@o3r/eslint-config-otter/typescript-fast.cjs
  packages/@o3r/eslint-config-otter/typescript.cjs
  packages/@o3r/extractors/src/utils/config-doc.ts
  packages/@o3r/forms/src/annotations/async-input.ts
  packages/@o3r/forms/src/core/errors.ts
  packages/@o3r/localization/src/core/localization.configuration.ts
  packages/@o3r/mobile/pcloudy/pcloudy.interfaces.ts
  packages/@o3r/schematics/src/utility/ast.ts
  packages/@o3r/testing/src/mocks/mock-component-generator.ts
  tools/@o3r/build-helpers/scripts/update-package.mjs
Labels: project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/localization, project:@o3r/testing, project:@o3r/extractors, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/forms, project:@o3r/build-helpers, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/artifactory-tools, project:@o3r/azure-tools

#1178 feat: documentation of the Design package
  docs/README.md
  docs/core/DEVELOPER.md
  docs/design/TECHNICAL_DOCUMENTATION.md
  packages/@o3r/design/README.md
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/design-token.spec.ts
  packages/@o3r/design/src/core/design-token/index.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token-parser.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-value.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token-style.renderer.ts
  packages/@o3r/design/src/core/design-token/renderers/design-token.renderer.helpers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-updater.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-value.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/sass/design-token-definition.renderers.spec.ts
Labels: documentation, enhancement, project:@o3r/design

#958 feat: check markdown links on the CI
  .github/markdown.links.config.json
  .github/workflows/code-check.yml
  CONTRIBUTING.md
  apps/vscode-extension/package.json
  docs/README.md
  docs/core/DEVELOPER.md
  docs/core/START_NEW_APPLICATION.md
  docs/localization/LOCALIZATION.md
  docs/rules-engine/how-to-use/integration.md
  docs/rules-engine/how-to-use/performance-metrics.md
  docs/sdk-tools/SDK_MODELS_HIERARCHY.md
  docs/swagger-builder/readme.md
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/core/src/plugins/concurrent/readme.md
  packages/@ama-sdk/generator-sdk/README.md
  packages/@ama-sdk/generator-sdk/src/generators/java-mdk-core/templates/swagger-codegen-mdk/README.md
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/java/client-core/swagger-codegen-java-client/config/swagger-codegen-config.json
  packages/@ama-sdk/swagger-builder/README.md
  packages/@o3r/configuration/README.md
  packages/@o3r/core/package.json
  packages/@o3r/dev-tools/README.md
  packages/@o3r/localization/README.md
  packages/@o3r/rules-engine/README.md
  tools/github-actions/download-build-output/readme.md
  tools/github-actions/setup/readme.md
  tools/github-actions/upload-build-output/readme.md
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/generator-sdk, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/configuration, project:@ama-sdk/swagger-builder, project:@o3r/dev-tools, project:otter-devtools

#1195 chore(deps): update major dependencies
  .github/workflows/deploy-showcase.yml
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design

#1179 feat: add schema for CMS.json and Style metadata
  packages/@o3r/application/migration.json
  packages/@o3r/application/package.json
  packages/@o3r/application/schemas/cms.schema.json
  packages/@o3r/application/schematics/ng-add/helpers/cms-registration.ts
  packages/@o3r/application/schematics/ng-add/helpers/templates/cms.json.template
  packages/@o3r/application/schematics/ng-add/index.ts
  packages/@o3r/application/schematics/ng-add/ng-update/index.ts
  packages/@o3r/application/schematics/ng-add/ng-update/v10.0/update-cms-config.ts
  packages/@o3r/design/src/core/design-token/design-token.spec.ts
  packages/@o3r/styling/schemas/style.metadata.schema.json
Labels: enhancement, project:@o3r/application, project:@o3r/styling, project:@o3r/design

#1200 Merge/main to v10
  .github/markdown.links.config.json
  .github/workflows/code-check.yml
  .github/workflows/it-tests.yml
  CONTRIBUTING.md
  apps/showcase/src/app/app.component.spec.ts
  apps/showcase/src/app/app.component.ts
  apps/showcase/src/app/app.module.ts
  apps/showcase/src/main.ts
  apps/vscode-extension/package.json
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/styling.ts
  docs/README.md
  docs/core/DEVELOPER.md
  docs/core/START_NEW_APPLICATION.md
  docs/localization/LOCALIZATION.md
  docs/rules-engine/how-to-use/performance-metrics.md
  docs/sdk-tools/SDK_MODELS_HIERARCHY.md
  docs/swagger-builder/readme.md
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/core/src/plugins/concurrent/readme.md
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/java/client-core/swagger-codegen-java-client/config/swagger-codegen-config.json
  packages/@ama-sdk/swagger-builder/README.md
  packages/@o3r/application/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/components/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/configuration/README.md
  packages/@o3r/configuration/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.console.service.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.console.spec.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.interface.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.token.ts
  packages/@o3r/core/src/core/devkit/devtools.interface.ts
  packages/@o3r/design/README.md
  packages/@o3r/dev-tools/README.md
  packages/@o3r/localization/README.md
  packages/@o3r/localization/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/localization/src/devkit/localization-devkit.interface.ts
  packages/@o3r/localization/src/devkit/localization-devtools.console.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.service.ts
  packages/@o3r/localization/src/devkit/localization-devtools.token.ts
  packages/@o3r/rules-engine/schematics/ng-add/helpers/devtools-registration.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.spec.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.ts
  packages/@o3r/testing/package.json
  tools/github-actions/download-build-output/readme.md
  tools/github-actions/setup/readme.md
  tools/github-actions/upload-build-output/readme.md
  yarn.lock
Labels: bug, documentation, enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@ama-sdk/showcase-sdk, project:@o3r/design

#1188 feat: add schematic to generate design token specification file
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-css/schema.ts
  packages/@o3r/design/collection.json
  packages/@o3r/design/jest.config.js
  packages/@o3r/design/package.json
  packages/@o3r/design/schematics/ extract-token/index.spec.ts
  packages/@o3r/design/schematics/ extract-token/index.ts
  packages/@o3r/design/schematics/ extract-token/schema.json
  packages/@o3r/design/schematics/ extract-token/schema.ts
  packages/@o3r/design/schematics/ng-add/index.ts
  packages/@o3r/design/schematics/ng-add/register-generate-css/register-task.ts
  packages/@o3r/design/src/core/design-token/design-token.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-updater.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-value.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/metadata/design-token-value.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/sass/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/sass/design-token-definition.renderers.ts
  packages/@o3r/styling/builders/style-extractor/helpers/css-variable.extractor.ts
  packages/@o3r/styling/package.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/styling, project:@o3r/design

#1205 fix: v10 IT tests
  packages/@o3r/application/schematics/ng-add/helpers/cms-registration.ts
  packages/@o3r/core/schematics/rule-factories/store/index.ts
Labels: bug, project:@o3r/core, project:@o3r/application

#1184 feat: improve ama-sdk plugins logging
  apps/showcase/src/app/app.module.ts
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/fwk/logger.ts
  packages/@ama-sdk/core/src/plugins/bot-protection-fingerprint/bot-protection-fingerprint.request.ts
  packages/@ama-sdk/core/src/plugins/core/fetch-plugin.ts
  packages/@ama-sdk/core/src/plugins/core/plugin.ts
  packages/@ama-sdk/core/src/plugins/core/reply-plugin.ts
  packages/@ama-sdk/core/src/plugins/core/request-plugin.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.fetch.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.request.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.request.ts
  packages/@ama-sdk/core/src/plugins/session-id/session-id.request.ts
  packages/@ama-sdk/core/src/plugins/session-id/session-id.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/showcase

#1208 retrofit from release 10 next to main
  apps/showcase/src/app/app.module.ts
  packages/@ama-sdk/core/README.md
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/fwk/logger.ts
  packages/@ama-sdk/core/src/plugins/bot-protection-fingerprint/bot-protection-fingerprint.request.ts
  packages/@ama-sdk/core/src/plugins/core/fetch-plugin.ts
  packages/@ama-sdk/core/src/plugins/core/plugin.ts
  packages/@ama-sdk/core/src/plugins/core/reply-plugin.ts
  packages/@ama-sdk/core/src/plugins/core/request-plugin.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.fetch.ts
  packages/@ama-sdk/core/src/plugins/mock-intercept/mock-intercept.request.ts
  packages/@ama-sdk/core/src/plugins/pii-tokenizer/pii-tokenizer.request.ts
  packages/@ama-sdk/core/src/plugins/session-id/session-id.request.ts
  packages/@ama-sdk/core/src/plugins/session-id/session-id.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/showcase

#1223 fix: prerelease tags
  .github/workflows/main.yml
  tools/github-actions/cascading/readme.md
  tools/github-actions/cascading/src/helpers.spec.ts
  tools/github-actions/cascading/src/helpers.ts
  tools/github-actions/new-version/action.yml
  tools/github-actions/new-version/readme.md
  tools/github-actions/new-version/src/new-version.spec.ts
  tools/github-actions/new-version/src/new-version.ts
Labels: bug

#1219 chore(deps): update major dependencies (main)
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/github-cascading-app, project:@o3r/showcase, project:@o3r/workspace

#1216 fix(schematics): o3r create command not working for yarn 1
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
Labels: bug, project:@o3r/workspace

#1237 feat(logo): turn text to new Amadeus colors
  assets/logo/flavors/otter-a-dark-sky-with-text-bg.png
  assets/logo/flavors/otter-a-dark-sky-with-text.png
  assets/logo/otter.svg
Labels: enhancement

#1215 chore: upgrade @azure/functions
  apps/github-cascading-app/function.json
  apps/github-cascading-app/package.json
  apps/github-cascading-app/scripts/prepare-azure-function.mjs
  apps/github-cascading-app/src/github-cascading/index.ts
  yarn.lock
Labels: project:@o3r/github-cascading-app

#1241 fix: unrecognized pattern on generated sdk lint script
  packages/@ama-sdk/schematics/schematics/typescript/core/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
Labels: bug, project:@ama-sdk/schematics

#1238 fix: #1232 Enum revivers and unused imports
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: bug, project:@ama-sdk/schematics

#1252 feat(design): register watch mode to design ngAdd
  packages/@o3r/design/schematics/ng-add/register-generate-css/register-task.ts
Labels: enhancement, project:@o3r/design

#1247 fix: ng g application with yarn 1
  package.json
  packages/@ama-sdk/core/schematics/ng-add/index.spec.ts
  packages/@ama-sdk/core/schematics/ng-add/index.ts
  packages/@o3r/apis-manager/schematics/ng-add/index.ts
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/ng-add/project-setup/index.ts
  packages/@o3r/extractors/schematics/ng-add/index.ts
  packages/@o3r/schematics/schematics/ng-add/index.ts
  packages/@o3r/store-sync/schematics/ng-add/index.ts
  packages/@o3r/storybook/schematics/ng-add/index.ts
  packages/@o3r/test-helpers/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/ng-add/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
Labels: bug, project:@ama-sdk/core, project:@o3r/core, project:@o3r/storybook, project:@o3r/testing, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/apis-manager, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/workspace

#1258 feat: set watch option to multi watch
  packages/@o3r/core/builders/multi-watcher/index.ts
Labels: enhancement, project:@o3r/core

#1259 fix: unit tests failing when using telemetry
  packages/@ama-sdk/core/schematics/ng-add/index.spec.ts
Labels: bug, project:@ama-sdk/core

#1260 fix: fix wrong ng-packagr schema for secondary entry points
  packages/@o3r/analytics/src/fixtures/jasmine/ng-package.json
  packages/@o3r/analytics/src/fixtures/jest/ng-package.json
  packages/@o3r/analytics/src/ng-package.json
  packages/@o3r/apis-manager/ng-package.json
  packages/@o3r/application/ng-package.json
  packages/@o3r/components/src/ng-package.json
  packages/@o3r/components/src/rules-engine/ng-package.json
  packages/@o3r/configuration/src/fixtures/jasmine/ng-package.json
  packages/@o3r/configuration/src/fixtures/jest/ng-package.json
  packages/@o3r/configuration/src/ng-package.json
  packages/@o3r/configuration/src/rules-engine/ng-package.json
  packages/@o3r/core/ng-package.json
  packages/@o3r/dynamic-content/src/fixtures/jasmine/ng-package.json
  packages/@o3r/dynamic-content/src/fixtures/jest/ng-package.json
  packages/@o3r/dynamic-content/src/ng-package.json
  packages/@o3r/dynamic-content/src/rules-engine/ng-package.json
  packages/@o3r/forms/ng-package.json
  packages/@o3r/localization/src/ng-package.json
  packages/@o3r/localization/src/rules-engine/ng-package.json
  packages/@o3r/logger/src/ng-package.json
  packages/@o3r/logger/src/services/fullstory-logger-client/ng-package.json
  packages/@o3r/logger/src/services/logrocket-logger-client/ng-package.json
  packages/@o3r/logger/src/services/smartlook-logger-client/ng-package.json
  packages/@o3r/routing/src/ng-package.json
  packages/@o3r/rules-engine/src/fixtures/jasmine/ng-package.json
  packages/@o3r/rules-engine/src/fixtures/jest/ng-package.json
  packages/@o3r/rules-engine/src/ng-package.json
  packages/@o3r/store-sync/ng-package.json
  packages/@o3r/styling/ng-package.json
Labels: bug, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/store-sync, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager

#1263 fix: turn markdown links check optional for publish
  .github/workflows/code-check.yml
  .gitignore
Labels: bug, project:@o3r/apis-manager

#1266 fix: ngrx-local-storage strict range
  apps/showcase/package.json
  packages/@o3r/core/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: bug, project:@o3r/core, project:@o3r/showcase, project:@o3r/workspace

#1261 fix: linter documentation and design token schematic path
  docs/linter/eslint-plugin/rules/matching-configuration-name.md
  packages/@o3r/design/schematics/extract-token/index.js
  packages/@o3r/design/schematics/extract-token/index.spec.ts
  packages/@o3r/design/schematics/extract-token/index.ts
  packages/@o3r/design/schematics/extract-token/schema.json
  packages/@o3r/design/schematics/extract-token/schema.ts
  packages/@o3r/design/schematics/ng-add/index.ts
Labels: bug, documentation, project:@o3r/design

#1271 chore(deps): update minor dependencies (main)
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-terasu/cli/package.json
  packages/@o3r/analytics/package.json
  yarn.lock
Labels: project:@ama-sdk/core, project:@o3r/analytics, project:@ama-terasu/cli, project:@o3r/showcase, project:@ama-sdk/showcase-sdk

#1270 chore(deps): update major dependencies (main)
  .github/workflows/code-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  package.json
  packages/@o3r/components/package.json
  packages/@o3r/rules-engine/package.json
  tools/github-actions/setup/action.yml
  yarn.lock
Labels: project:@o3r/rules-engine, project:@o3r/components

#1272 fix: cleanup refx refs
  packages/@o3r/artifactory-tools/README.md
  packages/@o3r/artifactory-tools/src/cli/artifact-cleaner.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.console.service.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.service.ts
  packages/@o3r/configuration/src/services/configuration/configuration.base.service.spec.ts
  packages/@o3r/dev-tools/README.md
  packages/@o3r/extractors/src/utils/common.ts
  tools/github-actions/cascading/action.yml
  tools/github-actions/cascading/src/cascading.ts
Labels: bug, project:@o3r/configuration, project:@o3r/extractors, project:@o3r/dev-tools, project:@o3r/artifactory-tools

#1262 fix: removed additional path to design schematic
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-css/schema.ts
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/schematics/extract-token/index.spec.ts
  packages/@o3r/design/schematics/extract-token/index.ts
  packages/@o3r/design/schematics/extract-token/schema.json
  packages/@o3r/design/schematics/extract-token/schema.ts
  packages/@o3r/design/schematics/ng-add/index.ts
  packages/@o3r/design/src/core/design-token/design-token.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token-parser.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-value.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-value.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/sass/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/sass/design-token-definition.renderers.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: bug, enhancement, project:@o3r/design

#1268 fix: allow only npm for create commands
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/README.md
  packages/@o3r/create/src/index.ts
Labels: bug, project:@ama-sdk/create, project:@o3r/create

#1273 feat: support missing design token references
  docs/design/TECHNICAL_DOCUMENTATION.md
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-css/schema.ts
  packages/@o3r/design/schemas/design-token.schema.json
  packages/@o3r/design/src/core/design-token/design-token-specification.interface.ts
  packages/@o3r/design/src/core/design-token/design-token.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token-parser.interface.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-value.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-value.renderers.ts
  packages/@o3r/design/src/core/design-token/renderers/sass/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/sass/design-token-definition.renderers.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: enhancement, project:@o3r/design

#1278 feat(c11n): remove restrictions on configuration for component replacement
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.context.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.spec.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.style.scss
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-pres.config.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/index.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.config.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.context.ts
  apps/showcase/src/components/utilities/date-picker-input/index.ts
  apps/showcase/src/components/utilities/index.ts
  docs/components/COMPONENT_REPLACEMENT.md
  packages/@o3r/components/src/tools/component-replacement/c11n.directive.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.helpers.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.service.ts
Labels: enhancement, project:@o3r/components, project:@o3r/showcase

#1282 fix(sdk-core): add typings for deep import
  packages/@ama-sdk/core/package.json
Labels: bug, project:@ama-sdk/core

#1281 fix(create): run ngAdd in new project context
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/package.json
  packages/@o3r/create/src/index.ts
  yarn.lock
Labels: bug, project:@ama-sdk/create, project:@o3r/create

#1292 fix(swagger-builder): documentation to the API Extension
  packages/@ama-sdk/swagger-builder/README.md
Labels: bug, documentation, project:@ama-sdk/swagger-builder

#1285 fix(metric): avoid awaiting the metric report call
  packages/@o3r/telemetry/src/builders/index.ts
  packages/@o3r/telemetry/src/schematics/index.ts
  packages/@o3r/telemetry/src/sender/index.ts
Labels: bug, project:@o3r/schematics, project:@o3r/telemetry

#1287 fix(sdk-core): build sequence and inputs
  nx.json
  packages/@ama-sdk/core/project.json
Labels: bug, project:@ama-sdk/core

#1288 chore: add documentation regarding restriction of npm create command
  packages/@ama-sdk/create/README.md
  packages/@ama-sdk/create/package.json
  packages/@o3r/create/README.md
  packages/@o3r/create/package.json
Labels: documentation, project:@ama-sdk/create, project:@o3r/create

#1279 fix: support of one of composition schema
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/model.mustache
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/model/reviver.mustache
Labels: bug, project:@ama-sdk/schematics

#1280 feat(pipes): prefix pipes with o3r
  apps/showcase/src/app/home/home.template.html
  apps/showcase/src/components/showcase/dynamic-content/dynamic-content-pres.template.html
  apps/showcase/src/components/showcase/localization/localization-pres.template.html
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.template.html
  docs/components/PLACEHOLDERS.md
  docs/dynamic-content/DYNAMIC_CONTENT.md
  docs/forms/FORM_ERRORS.md
  docs/localization/LOCALIZATION.md
  packages/@o3r/components/migration.json
  packages/@o3r/components/package.json
  packages/@o3r/components/schematics/ng-update/v10-0/index.spec.ts
  packages/@o3r/components/schematics/ng-update/v10-0/index.ts
  packages/@o3r/components/src/tools/pipes/capitalize/capitalize.module.ts
  packages/@o3r/components/src/tools/pipes/capitalize/capitalize.pipe.spec.ts
  packages/@o3r/components/src/tools/pipes/capitalize/capitalize.pipe.ts
  packages/@o3r/components/src/tools/pipes/duration/duration.module.ts
  packages/@o3r/components/src/tools/pipes/duration/duration.pipe.spec.ts
  packages/@o3r/components/src/tools/pipes/duration/duration.pipe.ts
  packages/@o3r/components/src/tools/pipes/keep-white-space/keep-white-space.module.ts
  packages/@o3r/components/src/tools/pipes/keep-white-space/keep-white-space.pipe.spec.ts
  packages/@o3r/components/src/tools/pipes/keep-white-space/keep-white-space.pipe.ts
  packages/@o3r/components/src/tools/pipes/replace-with-bold/replace-with-bold.module.ts
  packages/@o3r/components/src/tools/pipes/replace-with-bold/replace-with-bold.pipe.spec.ts
  packages/@o3r/components/src/tools/pipes/replace-with-bold/replace-with-bold.pipe.ts
  packages/@o3r/dynamic-content/README.md
  packages/@o3r/dynamic-content/migration.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/dynamic-content/schematics/ng-update/v10-0/index.spec.ts
  packages/@o3r/dynamic-content/schematics/ng-update/v10-0/index.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.spec.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.pipe.ts
  packages/@o3r/dynamic-content/src/services/request-parameters/request-parameters.spec.ts
  packages/@o3r/dynamic-content/testing/mocks/__dot__eslintrc.mocks.json
  packages/@o3r/dynamic-content/testing/mocks/angular.mocks.json
  packages/@o3r/dynamic-content/testing/mocks/package.mocks.json
  packages/@o3r/dynamic-content/tsconfig.spec.json
  packages/@o3r/localization/README.md
  packages/@o3r/localization/migration.json
  packages/@o3r/localization/package.json
  packages/@o3r/localization/schematics/add-localization-key/index.spec.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/localization-to-component/index.spec.ts
  packages/@o3r/localization/schematics/localization-to-component/index.ts
  packages/@o3r/localization/schematics/ng-update/v10-0/index.spec.ts
  packages/@o3r/localization/schematics/ng-update/v10-0/index.ts
  packages/@o3r/localization/src/tools/localization-translate.pipe.spec.ts
  packages/@o3r/localization/src/tools/localization-translate.pipe.ts
  packages/@o3r/localization/src/tools/localization.module.ts
  packages/@o3r/localization/testing/mocks/angular.mocks.json
  packages/@o3r/localization/testing/mocks/package.mocks.json
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.module.ts
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/shared/fallback-to.pipe.ts
  packages/@o3r/schematics/src/utility/index.ts
  packages/@o3r/schematics/src/utility/update-pipes.ts
  packages/@o3r/testing/src/localization/localization-mock.ts
Labels: enhancement, breaking change, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/schematics, project:@o3r/showcase

#1301 fix(c11n): change the return type of the operator getpresenter
  apps/showcase/src/components/showcase/component-replacement/component-replacement-pres.component.ts
  docs/components/COMPONENT_REPLACEMENT.md
  packages/@o3r/components/schematics/ng-update/v10-0/index.spec.ts
  packages/@o3r/components/schematics/ng-update/v10-0/index.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.directive.ts
  packages/@o3r/components/src/tools/component-replacement/c11n.service.ts
Labels: bug, breaking change, project:@o3r/components, project:@o3r/showcase

#1303 chore: upgrade npm-run-all2
  package.json
  packages/@ama-sdk/schematics/package.json
  yarn.lock
Labels: project:@ama-sdk/schematics

#1304 chore: upgrade nx
  .eslintrc.js
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/showcase-sdk/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/cascading/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@ama-sdk/showcase-sdk, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry

#1264 test: add script to update screenshots
  apps/showcase/package.json
  apps/showcase/update-screenshots.cjs
Labels: project:@o3r/showcase
