Repository AmadeusITGroup/otter, pull requests merged in 2025-07, with the labels that each got.

#3313 chore: add swc to nx to reduce pnp module resolutions
  .yarn/sdks/eslint/package.json
  .yarnrc.yml
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Labels: project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#3319 chore(ama-sdk-core): remove deprecated in doc
  packages/@ama-sdk/core/README.md
Labels: documentation, project:@ama-sdk/core

#3326 doc(migration): add Protractor removal warning
  migration-guides/13.0.md
Labels: documentation

#3338 fix: update training monorepo with latest @ama-sdk
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
Labels: bug, project:@o3r/showcase

#3355 fix: yarn audit critical on form-data
  package.json
  yarn.lock
Labels: bug

#3369 feat: support playwright 1.52+ for visual-testing-reporter
  .yarn/sdks/eslint/package.json
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/forms.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
  packages/@o3r/testing/tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/testing, project:@o3r/eslint-config-otter, project:@o3r/showcase, project:@o3r/eslint-config
