Repository AmadeusITGroup/otter, pull requests merged in 2025-09, with the labels that each got.

#3141 feat(testing): rework e2e testing
  apps/chrome-devtools/e2e-playwright/playwright-config.ts
  apps/chrome-devtools/e2e-playwright/sanity/install-sanity.e2e.spec.ts
  apps/chrome-devtools/e2e-playwright/scenarios/dummy-scenario.e2e-playwright-spec.ts
  apps/chrome-devtools/package.json
  apps/chrome-devtools/tsconfig.eslint.json
  apps/showcase/e2e-playwright/playwright-config.sanity.ts
  apps/showcase/e2e-playwright/playwright-config.scenarios.ts
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.spec.ts
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.spec.ts
  apps/showcase/e2e-playwright/scenarios/component-replacement-page-scenario.e2e.spec.ts
  apps/showcase/e2e-playwright/scenarios/configuration-page-scenario.e2e.spec.ts
  apps/showcase/e2e-playwright/scenarios/dynamic-content-page-scenario.e2e.spec.ts
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/forms.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/home.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/localization.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/screenshots/sanity/visual-sanity.e2e.spec.ts/chromium/sdk-training.png
  apps/showcase/package.json
  packages/@o3r/test-helpers/src/jest-config/unit-test.ts
  packages/@o3r/testing/collection.json
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/empty-test.e2e.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.sanity.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/sanity/__sanity@dasherize__.e2e.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/scenarios/__name@dasherize__.e2e-playwright-spec.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/utils/base-scenario.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/utils/index.ts.template
  packages/@o3r/testing/schematics/ng-add/templates/workspace/jest.config.ut.js.template
  packages/@o3r/testing/schematics/ng-add/templates/workspace/tsconfig.jest.json.template
  packages/@o3r/testing/schematics/playwright/sanity/schema.json
  packages/@o3r/testing/schematics/playwright/scenario/schema.json
  tsconfig.jest.json
Labels: enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/testing, project:@o3r/eslint-config-otter, project:@o3r/test-helpers, project:@o3r/showcase, project:@o3r/workspace, project:@o3r/eslint-config, deprecate

#3475 docs: fix broken links
  docs/analytics/TRACK_EVENTS.md
  packages/@ama-sdk/client-fetch/src/plugins/abort/readme.md
Labels: documentation, project:@ama-sdk/client-fetch

#3479 feat(#3290): add option for repository default branch name
  packages/@o3r/pipeline/schematics/ng-add/index.spec.ts
  packages/@o3r/pipeline/schematics/ng-add/index.ts
  packages/@o3r/pipeline/schematics/ng-add/schema.json
  packages/@o3r/pipeline/schematics/ng-add/schema.ts
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
Labels: enhancement, project:@o3r/pipeline

#3478 fix(#3228): replace eslint-config-otter by eslint-config and add missing ones
  .github/ISSUE_TEMPLATE/1-O3R-ISSUE-FORM.yaml
  .github/ISSUE_TEMPLATE/2-AMA-SDK-ISSUE-FORM.yaml
Labels: bug

#3482 fix(eslint): wrong stylistic/operator-linebreak override
  packages/@o3r/eslint-config/src/rules/typescript/stylistic.cjs
Labels: bug, project:@o3r/eslint-config

#3481 feat(#3264): retrieve automatically the list of workspaces
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/utilities/package-manager.ts
  yarn.lock
Labels: enhancement, project:@o3r/test-helpers

#3491 fix: supportedType for exploded syntax is too restrictive
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/param-deserialization.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
Labels: bug, project:@ama-sdk/core

#3524 chore: execute post install scripts
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
Labels: project:@ama-sdk/schematics, project:@o3r/core

#3526 fix(sdk gen): the default should be last in list of exports in packaage.json
  packages/@ama-sdk/schematics/cli/files-pack.cts
Labels: bug, project:@ama-sdk/schematics

#3528 fix: migration metadata schema
  packages/@o3r/extractors/schemas/migration.metadata.schema.json
Labels: bug, project:@ama-sdk/schematics, project:@o3r/extractors

#3525 feat: new migration scripts for component and rulefact
  docs/cms-adapters/CMS_ADAPTERS.md
  packages/@o3r/components/builders.json
  packages/@o3r/components/builders/metadata-check/component/helpers/component-metadata-comparison.helper.spec.ts
  packages/@o3r/components/builders/metadata-check/component/helpers/component-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/component/helpers/index.ts
  packages/@o3r/components/builders/metadata-check/component/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/component/index.ts
  packages/@o3r/components/builders/metadata-check/component/schema.json
  packages/@o3r/components/builders/metadata-check/component/schema.ts
  packages/@o3r/components/builders/metadata-check/config/helpers/config-metadata-comparison.helper.spec.ts
  packages/@o3r/components/builders/metadata-check/config/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/config/helpers/index.ts
  packages/@o3r/components/builders/metadata-check/config/index.it.spec.ts
  packages/@o3r/components/builders/metadata-check/config/index.ts
  packages/@o3r/components/builders/metadata-check/config/schema.json
  packages/@o3r/components/builders/metadata-check/config/schema.ts
  packages/@o3r/rules-engine/builders.json
  packages/@o3r/rules-engine/builders/metadata-check/helpers/index.ts
  packages/@o3r/rules-engine/builders/metadata-check/helpers/rulefact-metadata-comparison.helper.ts
  packages/@o3r/rules-engine/builders/metadata-check/index.it.spec.ts
  packages/@o3r/rules-engine/builders/metadata-check/index.ts
  packages/@o3r/rules-engine/builders/metadata-check/schema.json
  packages/@o3r/rules-engine/builders/metadata-check/schema.ts
  packages/@o3r/rules-engine/tsconfig.spec.json
Labels: enhancement, project:@o3r/rules-engine, project:@o3r/components, project:@o3r/extractors

#3547 feat: update major dependencies in sdk training
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
Labels: enhancement, project:@o3r/showcase

#3546 feat: trigger update of package group for ng update
  packages/@o3r/core/migration.json
  packages/@o3r/core/package.json
  packages/@o3r/core/schematics/convert-component/schema.ts
  packages/@o3r/core/schematics/ng-update/index.ts
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/schematics/src/utility/index.ts
  packages/@o3r/schematics/src/utility/loaders.ts
  packages/@o3r/schematics/src/utility/ng-update.ts
  packages/@o3r/schematics/tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/application, project:@o3r/schematics, project:audit-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:release-gh-action, project:yarn-errors-reporter-gh-action

#3537 feat: remove component suffix from app files
  apps/chrome-devtools/src/app-components.main.ts
  apps/chrome-devtools/src/app-components/app.html
  apps/chrome-devtools/src/app-components/app.ts
  apps/chrome-devtools/src/app-devtools.main.ts
  apps/chrome-devtools/src/app-devtools/app.html
  apps/chrome-devtools/src/app-devtools/app.ts
  apps/showcase/project.json
  apps/showcase/src/app/app-module.ts
  apps/showcase/src/app/app-routing-module.ts
  apps/showcase/src/app/app.html
  apps/showcase/src/app/app.scss
  apps/showcase/src/app/app.spec.ts
  apps/showcase/src/app/app.ts
  apps/showcase/src/app/placeholder/placeholder.component.ts
  apps/showcase/src/app/rules-engine/rules-engine.component.ts
  apps/showcase/src/assets/trainings/sdk/program.json
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.html
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/exercise/app.ts
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.ts
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.html
  apps/showcase/src/assets/trainings/sdk/steps/date/exercise/app.ts
  apps/showcase/src/assets/trainings/sdk/steps/date/solution/app.ts
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.html
  apps/showcase/src/assets/trainings/sdk/steps/model-extension/exercise/apps/tutorial-app/src/app/app.ts
  apps/showcase/src/assets/trainings/sdk/steps/plugins/exercise/app.html
  apps/showcase/src/assets/trainings/sdk/steps/plugins/exercise/app.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.html
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/exercise/app.ts
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/instructions.md
  apps/showcase/src/assets/trainings/sdk/steps/typescript-sdk/solution/app.ts
  apps/showcase/src/main.ts
  docs/components/COMPONENT_REPLACEMENT.md
  docs/configuration/OVERVIEW.md
  docs/core/START_NEW_APPLICATION.md
  docs/dev-tools/chrome-devtools.md
  docs/dev-tools/console-devtools.md
  docs/localization/LOCALIZATION.md
  docs/logger/LOGS.md
  docs/rules-engine/how-to-use/README.md
  docs/rules-engine/how-to-use/built-in-facts.md
  docs/rules-engine/how-to-use/chrome-extension.md
  docs/rules-engine/how-to-use/custom-action.md
  docs/rules-engine/how-to-use/custom-fact.md
  docs/rules-engine/how-to-use/custom-operator.md
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/navigation/README.md
  packages/@ama-mfe/ng-utils/src/resize/README.md
  packages/@o3r/apis-manager/schematics/helpers/update-api-deps/index.ts
  packages/@o3r/core/schematics/page/index.spec.ts
  packages/@o3r/core/testing/mocks/app-routing-module.mocks.ts
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/logger/README.md
  packages/@o3r/rules-engine/schematics/ng-update/v11.6/use-register-action-handlers.spec.ts
  packages/@o3r/schematics/src/rule-factories/dev-tools/devtools-registration.spec.ts
  packages/@o3r/schematics/src/utility/modules.ts
  packages/@o3r/test-helpers/src/utilities/angular.ts
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/logger, project:@o3r/apis-manager, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/showcase, project:@ama-mfe/ng-utils

#3556 chore(deps): update ngx-monaco-tree to v20.1.0
  apps/showcase/package.json
  package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  yarn.lock
Labels: project:@o3r/showcase, project:audit-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:release-gh-action, project:yarn-errors-reporter-gh-action
