Repository AmadeusITGroup/otter, pull requests merged in 2025-08, with the labels that each got.

#3386 feat: support playwright 1.52+ for visual-testing-reporter
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/forms.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  package.json
  packages/@o3r/testing/package.json
  packages/@o3r/testing/src/visual-testing-reporter/index.ts
  packages/@o3r/testing/tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/testing, project:@o3r/showcase

#3393 feat: ease angular migration
  apps/chrome-devtools/project.json
  apps/showcase/project.json
  packages/@ama-mfe/ng-utils/project.json
  packages/@ama-sdk/client-angular/project.json
  packages/@ama-terasu/schematics/project.json
  packages/@o3r/analytics/project.json
  packages/@o3r/apis-manager/project.json
  packages/@o3r/application/project.json
  packages/@o3r/components/project.json
  packages/@o3r/configuration/project.json
  packages/@o3r/core/project.json
  packages/@o3r/dynamic-content/project.json
  packages/@o3r/forms/project.json
  packages/@o3r/localization/project.json
  packages/@o3r/logger/project.json
  packages/@o3r/mobile/project.json
  packages/@o3r/routing/project.json
  packages/@o3r/rules-engine/project.json
  packages/@o3r/schematics/project.json
  packages/@o3r/store-sync/project.json
  packages/@o3r/styling/project.json
  packages/@o3r/telemetry/project.json
  packages/@o3r/test-helpers/project.json
  packages/@o3r/testing/project.json
  packages/@o3r/third-party/project.json
  packages/@o3r/workspace/project.json
Labels: enhancement, project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@ama-terasu/cli, project:@o3r/github-cascading-app, project:@ama-terasu/schematics, project:@o3r/test-helpers, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/showcase, project:@o3r/workspace, project:@o3r/telemetry, project:@ama-sdk/client-angular, project:@ama-mfe/messages, project:@ama-mfe/ng-utils, project:@ama-styling/figma-sdk, project:@ama-styling/style-dictionary, project:@ama-styling/stylelint-plugin

#3397 docs: update migration guide v13 with removed items
  migration-guides/13.0.md
Labels: documentation

#3412 fix(mcp): fix run local mcp
  .vscode/mcp.json
  tools/@o3r/mcp/README.md
  tools/@o3r/mcp/package.json
  tools/@o3r/mcp/src/instructions/best-practices.ts
  tools/@o3r/mcp/src/mcp-server.ts
  tools/@o3r/mcp/src/tools/best-practices.ts
Labels: bug, project:@o3r/mcp

#3401 chore: upgrade style-dictionary dependency
  apps/showcase/package.json
  packages/@ama-styling/style-dictionary/README.md
  packages/@ama-styling/style-dictionary/package.json
  packages/@ama-styling/style-dictionary/src/filters/target-file.filter.mts
  packages/@ama-styling/style-dictionary/src/filters/target-file.filter.spec.ts
  packages/@o3r/style-dictionary/package.json
  packages/@o3r/style-dictionary/src/filters/target-file.filter.mts
  packages/@o3r/style-dictionary/src/filters/target-file.filter.spec.ts
  yarn.lock
Labels: project:@o3r/showcase, project:@o3r/style-dictionary, project:@ama-styling/style-dictionary

#3423 fix: add variables to temporarily deactivate nx cache
  .github/workflows/code-check.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/main.yml
  .github/workflows/publish.yml
Labels: bug

#3427 fix: linter issues
  apps/showcase/src/app/localization/localization.spec.ts
  apps/showcase/src/app/rules-engine/rules-engine.spec.ts
  apps/showcase/src/components/showcase/localization/localization-pres.spec.ts
  apps/showcase/src/components/showcase/rules-engine/rules-engine-pres.spec.ts
  nx.json
Labels: bug, project:@o3r/showcase

#3429 fix: allow nx caching on next branch
  .github/workflows/main.yml
Labels: bug

#3431 Revert "bugfix(ama-sdk): force json response when supported"
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
Labels: project:@ama-sdk/schematics

#3458 fix(#3346): do not create tsconfig.eslint.json file when using @o3r/eslint-config
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/tsconfig/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/tsconfig/index.ts
  packages/@o3r/eslint-config/schematics/ng-add/tsconfig/templates/tsconfig.eslint.json.template
Labels: bug, project:@o3r/eslint-config

#3446 chore: upgrade unionfs and unify globby imports
  packages/@o3r/components/builders/component-extractor/helpers/component/component.parser.ts
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/builders/generate-css/index.ts
  packages/@o3r/design/builders/generate-jsonschema/index.ts
  packages/@o3r/design/builders/generate-style/index.ts
  packages/@o3r/localization/builders/helpers/localization.generator.ts
  packages/@o3r/localization/package.json
  packages/@o3r/rules-engine/builders/rules-engine-extractor/index.ts
  packages/@o3r/rules-engine/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  packages/@o3r/test-helpers/src/utilities/virtual-fs.ts
  yarn.lock
Labels: project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/test-helpers, project:@o3r/design
