Repository AmadeusITGroup/otter, pull requests merged in 2025-02, with the labels that each got.

#2787 chore: align typescript-eslint deps
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2789 fix: avoid daylight saving switch issue on utils.Date
  .github/workflows/code-check.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
  packages/@o3r/testing/package.json
  yarn.lock
Labels: bug, project:@ama-sdk/core, project:@o3r/testing, project:@o3r/showcase

#2791 chore(design): replace deprecated function
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/design/src/core/design-token/design-token.spec.ts
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/design, project:@o3r/eslint-config

#2794 fix(eslint): yarn pnp support for import rules
  packages/@o3r/eslint-config/eslint.local.config.mjs
  packages/@o3r/eslint-config/src/rules/typescript/import.cjs
  tools/github-actions/new-version/packaged-action/LICENSE.txt
Labels: bug, project:new-version-gh-action, project:@o3r/eslint-config

#2795 fix: enforce install if dependencies have ng add
  packages/@o3r/schematics/src/rule-factories/ng-add/dependencies.ts
Labels: bug, project:@o3r/schematics

#2803 chore: enable tests for stylelint-plugin
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/stylelint-plugin/project.json
  packages/@o3r/stylelint-plugin/testing/babel.config.js
  packages/@o3r/stylelint-plugin/testing/jest.config.ut.js
  yarn.lock
Labels: project:@o3r/stylelint-plugin, project:new-version-gh-action

#2808 fix(showcase): unplug training assets dependencies
  apps/showcase/project.json
  package.json
  update-peer.js
  yarn.lock
Labels: bug, project:@o3r/showcase

#2804 fix: starting file does not open on training container
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.scss
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.spec.ts
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
Labels: bug, project:@o3r/showcase

#2805 fix(#2730): reactivate test for linter
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
Labels: bug, project:@o3r/eslint-config, project:release-gh-action

#2825 fix: upgrade deprecated cache action
  .github/workflows/code-check.yml
  .github/workflows/it-tests.yml
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  tools/github-actions/setup/action.yml
Labels: bug

#2828 chore: upgrade ngx-monaco-tree
  .yarnrc.yml
  apps/showcase/package.json
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/showcase, project:@o3r/eslint-config

#2830 fix: adjust timezone based on new date timezone
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
  packages/@ama-sdk/core/testing/global-timezone-setup.js
  packages/@ama-sdk/core/testing/jest.config.ut.js
Labels: bug, breaking change, project:@ama-sdk/core

#2847 fix(renovate): add missing `--` in `npm run ng update` command
  tools/renovate/tasks/otter-ng-update.json
Labels: bug

#2843 feat: use new nx cache
  nx.json
Labels: enhancement

#2855 fix: expose number type only for number operators and date in next mi…
  packages/@o3r/rules-engine/src/engine/operator/operators/date-based.operators.ts
  packages/@o3r/rules-engine/src/engine/operator/operators/number-based.operators.ts
Labels: bug, project:@o3r/rules-engine

#2861 fix(workspace-helpers): migrate to eslint flat config
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  tools/@o3r/workspace-helpers/.eslintrc.cjs
  tools/@o3r/workspace-helpers/eslint.config.mjs
  tools/@o3r/workspace-helpers/eslint.local.config.mjs
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/project.json
  tools/@o3r/workspace-helpers/scripts/create-monorepo-scope.mjs
  tools/@o3r/workspace-helpers/scripts/doc-links.mjs
  tools/@o3r/workspace-helpers/scripts/pr-labels.mjs
  tools/@o3r/workspace-helpers/scripts/prepare-doc-root-menu-template.mjs
  tools/@o3r/workspace-helpers/scripts/update-doc-summary.mjs
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config, project:@o3r/workspace-helpers

#2871 Renovate presets: run `otter-ng-update` post upgrade commands in mode executionMode=update
  tools/renovate/tasks/otter-ng-update.json
Labels: bug

#2875 fix: jest setup for angular component testing
  apps/chrome-devtools/testing/setup-jest.ts
  apps/showcase/testing/setup-jest.ts
  docs/testing/UNIT_TESTS_SETUP.md
  packages/@o3r/analytics/testing/setup-jest.ts
  packages/@o3r/apis-manager/testing/setup-jest.ts
  packages/@o3r/application/testing/setup-jest.ts
  packages/@o3r/components/testing/setup-jest.ts
  packages/@o3r/configuration/testing/setup-jest.ts
  packages/@o3r/core/testing/setup-jest.ts
  packages/@o3r/dynamic-content/testing/setup-jest.ts
  packages/@o3r/forms/testing/setup-jest.ts
  packages/@o3r/localization/testing/setup-jest.ts
  packages/@o3r/logger/testing/setup-jest.ts
  packages/@o3r/mobile/testing/setup-jest.ts
  packages/@o3r/routing/testing/setup-jest.ts
  packages/@o3r/rules-engine/testing/setup-jest.ts
  packages/@o3r/store-sync/testing/setup-jest.ts
  packages/@o3r/testing/schematics/ng-add/templates/project/testing/setup-jest.ts.template
  packages/@o3r/testing/testing/setup-jest.ts
  packages/@o3r/third-party/testing/setup-jest.ts
  packages/@o3r/workspace/schematics/library/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/testing/setup-jest.ts
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/third-party, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/showcase, project:@o3r/workspace

#2850 feat: add a feedback form on sdk training
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step10.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/project.json
  apps/showcase/src/app/run-app-locally/run-app-locally.style.scss
  apps/showcase/src/app/sdk-training/sdk-training.template.html
  apps/showcase/src/assets/fireworks.png
  apps/showcase/src/components/training/congratulations-step/congratulations-step.component.ts
  apps/showcase/src/components/training/congratulations-step/congratulations-step.template.html
  apps/showcase/src/components/training/congratulations-step/congratulations.component.spec.ts
  apps/showcase/src/components/training/congratulations-step/index.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.scss
  apps/showcase/src/components/training/training.component.ts
Labels: enhancement, project:@o3r/showcase

#2860 fix: remove unnecessary default false in schema
  packages/@ama-sdk/schematics/schematics/typescript/shell/schema.json
  packages/@o3r/analytics/schematics/ng-add/schema.json
  packages/@o3r/apis-manager/schematics/ng-add/schema.json
  packages/@o3r/components/schematics/ng-add/schema.json
  packages/@o3r/configuration/schematics/ng-add/schema.json
  packages/@o3r/core/schematics/service/schema.json
  packages/@o3r/core/schematics/store-action/schema.json
  packages/@o3r/core/schematics/store/entity-async/schema.json
  packages/@o3r/core/schematics/store/entity-sync/schema.json
  packages/@o3r/core/schematics/store/schema.json
  packages/@o3r/core/schematics/store/simple-async/schema.json
  packages/@o3r/core/schematics/store/simple-sync/schema.json
  packages/@o3r/design/builders/generate-css/schema.json
  packages/@o3r/design/builders/generate-jsonschema/schema.json
  packages/@o3r/design/builders/generate-style/schema.json
  packages/@o3r/design/schematics/generate-css/schema.json
  packages/@o3r/design/schematics/ng-add/schema.json
  packages/@o3r/dynamic-content/schematics/ng-add/schema.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/schema.json
  packages/@o3r/eslint-config/schematics/ng-add/schema.json
  packages/@o3r/extractors/schematics/ng-add/schema.json
  packages/@o3r/forms/schematics/ng-add/schema.json
  packages/@o3r/localization/schematics/add-localization-key/schema.json
  packages/@o3r/localization/schematics/ng-add/schema.json
  packages/@o3r/logger/schematics/ng-add/schema.json
  packages/@o3r/mobile/schematics/ng-add/schema.json
  packages/@o3r/new-version/schematics/ng-add/schema.json
  packages/@o3r/routing/schematics/ng-add/schema.json
  packages/@o3r/rules-engine/schematics/ng-add/schema.json
  packages/@o3r/store-sync/schematics/ng-add/schema.json
  packages/@o3r/stylelint-plugin/schematics/ng-add/schema.json
  packages/@o3r/styling/schematics/ng-add/schema.json
  packages/@o3r/test-helpers/schematics/ng-add/schema.json
  packages/@o3r/testing/schematics/ng-add/schema.json
  packages/@o3r/third-party/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/library/schema.json
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/test-helpers, project:@o3r/workspace, project:@o3r/design, project:@o3r/new-version, project:@o3r/eslint-config

#2882 chore: migrate to Node LTS 22
  .github/workflows/main.yml
  docs/renovate/readme.md
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/actions/setup/action.yml
  tools/github-actions/setup/action.yml
Labels: dependencies, project:@o3r/pipeline

#2884 fix: fix ng lint for generated packages
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.spec.json.template
Labels: bug, project:@o3r/workspace

#2899 fix: eslint-config eslint-plugin dep
  packages/@o3r/eslint-config/schematics/ng-add/index.ts
Labels: bug, project:@o3r/eslint-config

#2900 fix: condition for using flat config
  packages/@o3r/core/schematics/ng-add/utils/linter/index.spec.ts
  packages/@o3r/core/schematics/ng-add/utils/linter/index.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.spec.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
Labels: bug, project:@o3r/core, project:@o3r/workspace

#2905 docs: update link for rxjs
  README.md
Labels: documentation

#2904 Remove deprecated cascading action and jasmine from eslint-config-otter
  packages/@o3r/eslint-config-otter/jasmine-fast.cjs
  packages/@o3r/eslint-config-otter/jasmine.cjs
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config-otter/schematics/ng-add/linter/templates/workspace/__dot__eslintrc.js.template
  packages/@o3r/eslint-config-otter/typescript-fast.cjs
  tools/github-actions/README.md
  tools/github-actions/cascading/LICENSE
  tools/github-actions/cascading/action.yml
  tools/github-actions/cascading/eslint.config.mjs
  tools/github-actions/cascading/eslint.local.config.mjs
  tools/github-actions/cascading/jest.config.js
  tools/github-actions/cascading/package.json
  tools/github-actions/cascading/packaged-action/.editorconfig
  tools/github-actions/cascading/packaged-action/LICENSE.txt
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/sourcemap-register.js
  tools/github-actions/cascading/project.json
  tools/github-actions/cascading/readme.md
  tools/github-actions/cascading/src/cascading.ts
  tools/github-actions/cascading/src/helpers.spec.ts
  tools/github-actions/cascading/src/helpers.ts
  tools/github-actions/cascading/src/main.ts
  tools/github-actions/cascading/testing/jest.config.ut.js
  tools/github-actions/cascading/testing/setup-jest.ts
  tools/github-actions/cascading/tsconfig.build.composite.json
  tools/github-actions/cascading/tsconfig.build.json
  tools/github-actions/cascading/tsconfig.eslint.json
  tools/github-actions/cascading/tsconfig.json
  tools/github-actions/cascading/tsconfig.spec.json
  yarn.lock
Labels: bug, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2911 fix: migration guide for cascading-action to cascading app
  migration-guides/12.0.md
Labels: bug

#2908 docs(renovate): update renovate doc on how to allow post upgrade commands
  docs/renovate/readme.md
Labels: documentation

#2870 feat: figma plugin for palette local variables
  .github/ISSUE_TEMPLATE/4-APPLICATION-ISSUE-FORM.yaml
  .yarn/sdks/eslint/package.json
  apps/palette-generator/README.md
  apps/palette-generator/docs/color-shades.png
  apps/palette-generator/docs/copy-shades.png
  apps/palette-generator/docs/otter-plugin.png
  apps/palette-generator/eslint.config.mjs
  apps/palette-generator/eslint.local.config.mjs
  apps/palette-generator/jest.config.js
  apps/palette-generator/manifest.json
  apps/palette-generator/package.json
  apps/palette-generator/project.json
  apps/palette-generator/src/contract/index.ts
  apps/palette-generator/src/plugin/code.ts
  apps/palette-generator/src/ui/ui.html
  apps/palette-generator/src/ui/ui.ts
  apps/palette-generator/testing/jest.config.ut.js
  apps/palette-generator/testing/setup-jest.ts
  apps/palette-generator/tsconfig.build.json
  apps/palette-generator/tsconfig.build.plugin.json
  apps/palette-generator/tsconfig.eslint.json
  apps/palette-generator/tsconfig.json
  apps/palette-generator/tsconfig.spec.json
  apps/palette-generator/webpack.config.js
  packages/@ama-terasu/cli/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  yarn.lock
Labels: enhancement, project:@o3r/core, project:@ama-terasu/cli, project:@o3r/eslint-config-otter, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config, project:release-gh-action, project:@o3r/palette-generator

#2920 fix: renovate to use chore instead of fix
  tools/renovate/base.json
Labels: bug

#2921 docs: image size for palette generator readme
  apps/palette-generator/README.md
  packages/@o3r/store-sync/README.md
Labels: documentation, project:@o3r/store-sync, project:@o3r/palette-generator
