Repository AmadeusITGroup/otter, pull requests merged in 2025-04, with the labels that each got.

#3073 docs: add warnings regarding `git bash`
  docs/core/START_NEW_APPLICATION.md
  packages/@o3r/core/README.md
  packages/@o3r/create/README.md
Labels: documentation, project:@o3r/core, project:@o3r/create

#3074 fix: update ngrx generator dependency to temporarily fix o3r create
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/workspace-helpers/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/eslint-config-otter, project:@o3r/showcase, project:@o3r/workspace, project:@o3r/eslint-config, project:@o3r/pipeline, project:@o3r/workspace-helpers

#3079 fix: typo on lint-staged
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.spec.ts
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.ts
  packages/@o3r/workspace/schematics/ng-add/schema.json
  packages/@o3r/workspace/schematics/ng-add/schema.ts
Labels: bug, project:@o3r/workspace

#3083 chore: update generator dependencies version
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#3080 chore: reduce of 1s the postinstall script
  package.json
Labels: devExp

#3084 fix: codecov config to reduce false positive and add palette generator
  codecov.yml
Labels: bug

#3085 chore: change app ID to be published to Amadeus Store
  apps/palette-generator/manifest.json
Labels: project:@o3r/palette-generator

#3064 fix(sdk-generator): to support the module resolution bundler
  apps/showcase/tsconfig.app.json
  packages/@ama-sdk/schematics/migration.json
  packages/@ama-sdk/schematics/schematics/ng-update/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/index.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.1/clean-packagejson-exports.spec.ts
  packages/@ama-sdk/schematics/schematics/ng-update/typescript/v12.1/clean-packagejson-exports.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/package.json.template
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.json
  packages/@ama-sdk/schematics/testing/mocks/updates/v12/shell-package.results.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
Labels: bug, project:@ama-sdk/schematics, project:@o3r/showcase, project:@o3r-training/showcase-sdk, project:@o3r-training/training-sdk

#3092 feat: support multiple reports for the github action to update e2e screenshots
  packages/@o3r/core/package.json
  tools/github-actions/update-e2e-screenshots/action.yml
  tools/github-actions/update-e2e-screenshots/readme.md
Labels: enhancement, project:@o3r/core

#3058 feat(ama-mfe): make the host application id available for embedded module
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/host-info/index.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/public_api.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Labels: enhancement, project:@ama-mfe/ng-utils

#3090 feat: report yarn error to the pull request
  tools/github-actions/yarn-errors-reporter/action.yml
  tools/github-actions/yarn-errors-reporter/package.json
  tools/github-actions/yarn-errors-reporter/packaged-action/LICENSE.txt
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
  yarn.lock
Labels: enhancement, project:yarn-errors-reporter-gh-action

#3100 feat(ama-mfe): remove host info token
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Labels: enhancement, project:@ama-mfe/ng-utils

#3098 fix(renovate): grouping for DF dependencies
  tools/renovate/group/design-factory.json
Labels: bug

#3099 fix(ama-sdk-schematics): subentry package.json files exports
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/fixtures/jest/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/helpers/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/spec/package.json
Labels: cascading

#3076 fix: sdk exploded syntax - take into account request plugin options
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params-sync.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.request.ts
  packages/@ama-sdk/core/src/plugins/additional-params/additional-params.spec.ts
  packages/@ama-sdk/core/src/plugins/core/request-plugin.ts
  packages/@ama-sdk/core/src/plugins/si-token/si-token.request.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/client-fetch, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r-training/showcase-sdk, project:@o3r-training/training-sdk

#3114 fix: temporarily disable o3r create e2e to unblock release
  packages/@o3r/create/src/index.it.spec.ts
Labels: bug, project:@o3r/create

#3078 fix: enforce listr2 resolution for yarn pnp in o3r/create
  packages/@o3r/create/src/index.ts
Labels: bug, project:@o3r/create

#3117 fix: remove bail option on publish
  package.json
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
Labels: bug, project:new-version-gh-action

#3096 fix(sdk): generation of the SDK in a monorepo
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.ts
  packages/@o3r/workspace/schematics/sdk/index.ts
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
  packages/@o3r/workspace/schematics/sdk/rules/update-ts-paths.rule.ts
  packages/@o3r/workspace/schematics/sdk/templates/testing/setup-jest.ts.template
Labels: bug, project:@ama-sdk/schematics, project:@o3r/workspace

#3119 fix: unmatched peerDependencies
  .yarn/sdks/eslint/package.json
  .yarn/sdks/typescript/package.json
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/showcase, project:@o3r/eslint-config

#3105 chore(mfe): upgrade microfrontends packages + fix typings issue
  .renovaterc.json5
  nx.json
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/messages/error.sender.ts
  tools/renovate/group/angular.json
  tools/renovate/group/mfe.json
  tools/renovate/otter-project.json
  yarn.lock
Labels: project:@ama-mfe/messages, project:@ama-mfe/ng-utils

#3104 feat(eslint): share helper to merge config + use of helper from eslint
  eslint.config.mjs
  eslint.local.config.mjs
  eslint.shared.config.mjs
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
  packages/@o3r/eslint-config/src/helpers/index.cjs
  packages/@o3r/eslint-plugin/package.json
  tsconfig.base.json
  tsconfig.build.json
  yarn.lock
Labels: enhancement, project:@o3r/eslint-config-otter, project:@o3r/eslint-plugin, project:@o3r/eslint-config

#3118 feat(ama-sdk-schematics): ignore editorconfig rules
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/api/.editorconfig.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/models/base/.editorconfig.template
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/src/spec/.editorconfig.template
Labels: enhancement, project:@ama-sdk/schematics

#3124 fix(ama-sdk-schematics): unit tests
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
Labels: bug, project:@ama-sdk/schematics

#3127 feat(testing): set base-url in playwright config
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
  apps/showcase/e2e-playwright/sanity/visual-sanity.e2e.ts
  apps/showcase/e2e-playwright/scenarios/component-replacement-page-scenario.e2e-playwright-spec.ts
  apps/showcase/e2e-playwright/scenarios/configuration-page-scenario.e2e-playwright-spec.ts
  apps/showcase/e2e-playwright/scenarios/dynamic-content-page-scenario.e2e-playwright-spec.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.ts.template
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/sanity/__sanity@dasherize__.e2e.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/scenarios/__name@dasherize__.e2e-playwright-spec.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/utils/base-scenario.ts
  packages/@o3r/testing/schematics/playwright/sanity/templates/__name@dasherize__.e2e.ts
  packages/@o3r/testing/schematics/playwright/scenario/templates/__name@dasherize__.e2e-playwright-spec.ts
Labels: enhancement, project:@o3r/testing, project:@o3r/showcase

#3130 test(testing): fix o3r-testing unit tests
  packages/@o3r/testing/schematics/playwright/sanity/index.spec.ts
Labels: project:@o3r/testing

#3133 fix(rules-engine): debug perfs linked to fact snapshots
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.ts
Labels: bug, project:@o3r/rules-engine, project:@o3r/create

#3134 fix: remove unused code for sdk generation
  packages/@ama-sdk/schematics/schematics/typescript/shell/index.spec.ts
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/configs/tsconfig.test.json
  packages/@o3r/workspace/schematics/sdk/rules/clean-standalone.rule.ts
Labels: bug, project:@ama-sdk/schematics, project:@o3r/workspace

#3138 feat: add node compile cache to build process
  .github/workflows/main.yml
Labels: enhancement

#3145 fix(eslint): correct the import when adding mjs eslint config
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.local.config.__extension__.template
Labels: bug, project:@o3r/eslint-config

#3159 chore: align generator deps
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#3157 feature: testing generator starts local server for pw
  packages/@o3r/testing/schematics/ng-add/playwright/index.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.ts.template
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/testing, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#3174 fix: broken links in forms documentation
  docs/forms/FORM_STRUCTURE.md
  docs/forms/FORM_VALIDATION.md
  docs/forms/README.md
Labels: bug, documentation

#3175 fix: do not start server for pw in int tests
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/playwright/templates/e2e-playwright/playwright-config.ts.template
Labels: bug, project:@o3r/core, project:@o3r/testing

#3176 fix: com protocol resize triggered when a significant height change
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
Labels: bug, project:@ama-mfe/ng-utils

#3172 fix(renovate): typescript grouping including eslint dependency
  tools/renovate/group/typescript.json
Labels: bug

#3173 test: cross os relative paths for int tests
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/apis-manager/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/design/schematics/index.it.spec.ts
  packages/@o3r/eslint-config-otter/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/extractors/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/pipeline/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/stylelint-plugin/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/third-party/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
Labels: bug, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/analytics, project:@o3r/apis-manager, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/test-helpers, project:@o3r/workspace, project:@o3r/design, project:@o3r/eslint-config, project:@o3r/pipeline

#3170 chore: align dependencies
  .yarn/sdks/eslint/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Labels: project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#3155 fix: yarn warning reporting
  .github/workflows/main.yml
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Labels: bug, project:yarn-errors-reporter-gh-action
