Repository AmadeusITGroup/otter, pull requests merged in 2025-05, with the labels that each got.

#3199 ci: retry on 429 for external links
  .github/markdown-external-links.config.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#3200 fix: temporary rollback of @swc/cli due to error since version 0.7.4
  packages/@ama-mfe/messages/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/client-fetch, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r-training/training-tools, project:@o3r-training/showcase-sdk, project:@o3r-training/training-sdk, project:@ama-mfe/messages, project:yarn-errors-reporter-gh-action

#3203 fix(style-dictionary): remove sizeRem transform
  packages/@o3r/style-dictionary/src/transform-groups/css-recommended.transform-group.mts
Labels: bug, project:@o3r/style-dictionary

#3195 fix(sdk): add support of AnyType from OAS3
  .vscode/settings.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config, project:yarn-errors-reporter-gh-action

#3116 feat: parameter deserialization
  packages/@ama-sdk/core/src/fwk/param-deserialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-deserialization.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/client-fetch, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon

#3205 feat: embedded module id handled by the host app
  .yarn/sdks/eslint/package.json
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.providers.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.pipe.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.spec.ts
  packages/@ama-mfe/ng-utils/src/host-info/host-info.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config, project:@ama-mfe/ng-utils

#3194 feat(style-dictionary): add better sorting for variables
  packages/@o3r/rules-engine/package.json
  packages/@o3r/style-dictionary/src/formats/css.format.mts
  packages/@o3r/style-dictionary/src/helpers/config-deflatten.helpers.mts
  packages/@o3r/style-dictionary/src/helpers/sort-by-path.sort.helpers.mts
  packages/@o3r/style-dictionary/src/helpers/sort-by-path.sort.helpers.spec.ts
  yarn.lock
Labels: enhancement, project:@o3r/rules-engine, project:@o3r/style-dictionary

#3190 fix(yarn-error-reporter): to display the proper number of errors
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config, project:yarn-errors-reporter-gh-action

#3223 fix(docs): update url angular cli options
  packages/@o3r/create/README.md
Labels: bug, documentation

#3152 feat: add o3r prefix to generators
  .yarnrc.yml
  packages/@ama-sdk/schematics/collection.json
  packages/@o3r/analytics/collection.json
  packages/@o3r/configuration/collection.json
  packages/@o3r/core/collection.json
  packages/@o3r/design/collection.json
  packages/@o3r/localization/collection.json
  packages/@o3r/rules-engine/collection.json
  packages/@o3r/styling/collection.json
  packages/@o3r/testing/collection.json
  packages/@o3r/third-party/collection.json
  packages/@o3r/workspace/collection.json
Labels: bug, enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/testing, project:@o3r/configuration, project:@o3r/styling, project:@o3r/third-party, project:@o3r/analytics, project:@o3r/eslint-config-otter, project:@o3r/showcase, project:@o3r/workspace, project:@o3r/design, project:@o3r/eslint-config, project:@o3r/style-dictionary, project:yarn-errors-reporter-gh-action

#3233 chore: reorder scss vars and align generator deps
  apps/showcase/src/app/run-app-locally/run-app-locally.style.vars.scss
  apps/showcase/src/style/dark-theme/dark-theme.scss
  apps/showcase/src/style/horizon-theme/horizon-theme.scss
  apps/showcase/src/style/theme.scss
  packages/@o3r/core/package.json
  packages/@o3r/workspace/package.json
Labels: project:@o3r/core, project:@o3r/showcase, project:@o3r/workspace

#3221 feat: make o3r testing optional for o3r application
  packages/@o3r/analytics/schematics/index.it.spec.ts
  packages/@o3r/application/package.json
  packages/@o3r/application/src/devkit/application-devtools.message.service.ts
  packages/@o3r/components/package.json
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/components/schematics/ng-add/index.ts
  packages/@o3r/configuration/package.json
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/core/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/localization/schematics/index.it.spec.ts
  packages/@o3r/rules-engine/schematics/index.it.spec.ts
  packages/@o3r/styling/schematics/index.it.spec.ts
  packages/@o3r/testing/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/release/packaged-action/index.cjs
  tools/github-actions/release/packaged-action/index.cjs.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  yarn.lock
Labels: enhancement, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/analytics, project:@o3r/showcase, project:@o3r/workspace, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config, project:release-gh-action, project:yarn-errors-reporter-gh-action
