Repository AmadeusITGroup/otter, pull requests merged in 2025-03, with the labels that each got.

#2927 feat(pipeline): activate main workflow on all pr
  .github/workflows/audit.yml
  .github/workflows/codeql.yml
  .github/workflows/main.yml
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
Labels: enhancement, project:@o3r/pipeline

#2928 fix: forward options for presets
  packages/@o3r/core/schematics/ng-add/index.ts
  packages/@o3r/core/schematics/shared/presets/helpers.ts
  packages/@o3r/create/src/index.it.spec.ts
Labels: bug, project:@o3r/core, project:@o3r/create

#2932 docs: markdown link check exception for Figma plugins
  .github/markdown-external-links.config.json
Labels: documentation

#2912 fix: o3r create with preset all and cms
  packages/@o3r/create/README.md
  packages/@o3r/create/src/index.it.spec.ts
  packages/@o3r/testing/schematics/ng-add/index.ts
Labels: bug, project:@o3r/testing, project:@o3r/create

#2940 fix(publication): specify the access public for @ama-mfe/ng-utils
  packages/@ama-mfe/ng-utils/package.json
Labels: bug, project:@ama-mfe/ng-utils

#2926 ci: add annotation for errors during yarn install
  .github/workflows/main.yml
  tools/github-actions/README.md
  tools/github-actions/yarn-errors-reporter/LICENSE
  tools/github-actions/yarn-errors-reporter/action.yml
  tools/github-actions/yarn-errors-reporter/eslint.config.mjs
  tools/github-actions/yarn-errors-reporter/eslint.local.config.mjs
  tools/github-actions/yarn-errors-reporter/jest.config.js
  tools/github-actions/yarn-errors-reporter/package.json
  tools/github-actions/yarn-errors-reporter/packaged-action/LICENSE.txt
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/sourcemap-register.js
  tools/github-actions/yarn-errors-reporter/project.json
  tools/github-actions/yarn-errors-reporter/readme.md
  tools/github-actions/yarn-errors-reporter/src/main.ts
  tools/github-actions/yarn-errors-reporter/testing/jest.config.ut.js
  tools/github-actions/yarn-errors-reporter/testing/setup-jest.ts
  tools/github-actions/yarn-errors-reporter/tsconfig.build.composite.json
  tools/github-actions/yarn-errors-reporter/tsconfig.build.json
  tools/github-actions/yarn-errors-reporter/tsconfig.eslint.json
  tools/github-actions/yarn-errors-reporter/tsconfig.json
  tools/github-actions/yarn-errors-reporter/tsconfig.spec.json
  yarn.lock
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/eslint-config, project:release-gh-action, project:yarn-errors-reporter-gh-action

#2942 chore: update stylelint
  package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  yarn.lock
Labels: project:@o3r/styling, project:@o3r/stylelint-plugin

#2743 feat(renovate): split trunk-base and release branches strategies
  .renovaterc.json5
  tools/renovate/README.md
  tools/renovate/base.json
  tools/renovate/branching-strategy/readme.md
  tools/renovate/branching-strategy/release-branches.json
  tools/renovate/branching-strategy/trunk-based.json
  tools/renovate/group/angular.json
  tools/renovate/group/design-factory.json
  tools/renovate/group/typescript.json
  tools/renovate/managers/github-node-version.json5
  tools/renovate/otter-project.json
  tools/renovate/sdk.json
Labels: enhancement

#2947 fix(resize): add 1px to the scrollheight as it is rounded
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
Labels: bug, project:@ama-mfe/ng-utils

#2948 fix: enhance response exception if response.text() fails
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
Labels: bug, project:@ama-sdk/core

#2931 chore: document @ama-mfe
  packages/@ama-mfe/messages/README.md
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/navigation/README.md
  packages/@ama-mfe/ng-utils/src/resize/README.md
  packages/@ama-mfe/ng-utils/src/theme/README.md
Labels: documentation, project:@ama-mfe/messages, project:@ama-mfe/ng-utils

#2950 chore: upgrade @amadeus-it-group/microfrontends to v0.0.3
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
  packages/@ama-mfe/ng-utils/testing/babel.config.js
  packages/@ama-mfe/ng-utils/testing/jest.config.ut.js
  yarn.lock
Labels: project:@o3r/stylelint-plugin, project:@o3r/style-dictionary, project:@ama-mfe/messages, project:@ama-mfe/ng-utils

#2945 fix: enhance response exception if response.text() fails
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
Labels: bug, project:@ama-sdk/core, project:@ama-sdk/client-fetch, project:@ama-sdk/client-angular

#2956 chore: remove node 18 from the supported versions
  apps/github-cascading-app/package.json
  package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/github-actions/audit/package.json
  tools/github-actions/get-npm-tag/package.json
  tools/github-actions/new-version/package.json
  tools/github-actions/release/package.json
  yarn.lock
Labels: project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/github-cascading-app, project:@o3r/create, project:@ama-terasu/schematics, project:@ama-terasu/core, project:@o3r/schematics, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:audit-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/new-version, project:@ama-sdk/client-fetch, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r/pipeline, project:release-gh-action, project:@o3r-training/training-tools, project:@o3r-training/showcase-sdk, project:@o3r-training/training-sdk

#2896 feat: support exploded syntax in sdk
  packages/@ama-sdk/client-angular/src/api-angular-client.ts
  packages/@ama-sdk/client-beacon/src/api-beacon-client.ts
  packages/@ama-sdk/client-fetch/src/api-fetch-client.ts
  packages/@ama-sdk/core/src/clients/api-angular-client.ts
  packages/@ama-sdk/core/src/clients/api-beacon-client.ts
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/core/src/fwk/api.helper.spec.ts
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/core/api-client.ts
  packages/@ama-sdk/core/src/fwk/core/base-api-constructor.ts
  packages/@ama-sdk/core/src/fwk/index.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
  packages/@ama-sdk/schematics/README.md
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/LambdaHelper.java
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/api/api.mustache
  packages/@o3r-training/showcase-sdk/src/api/pet/pet-api.ts
  packages/@o3r-training/showcase-sdk/src/api/store/store-api.ts
  packages/@o3r-training/showcase-sdk/src/api/user/user-api.ts
  packages/@o3r-training/showcase-sdk/src/spec/api-mock.ts
  packages/@o3r-training/training-sdk/open-api.yaml
  packages/@o3r-training/training-sdk/src/api/dummy/dummy-api.ts
  packages/@o3r-training/training-sdk/src/spec/api-mock.ts
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/client-fetch, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r-training/showcase-sdk, project:@o3r-training/training-sdk

#2961 fix(renovate): add `v` prefix to tag versions
  docs/renovate/readme.md
  packages/@ama-sdk/schematics/schematics/typescript/shell/templates/base/.renovaterc.json.template
  packages/@o3r/workspace/schematics/ng-add/helpers/renovate/templates/__dot__renovaterc.json.template
  tools/renovate/README.md
Labels: bug, documentation, project:@ama-sdk/schematics, project:@o3r/workspace

#2965 docs: fix typo and pattern for external exception
  .github/markdown-external-links.config.json
  packages/@o3r/style-dictionary/README.md
Labels: documentation, project:@o3r/style-dictionary

#2969 feat(#2930): reduce boilerplate when registering producer
  packages/@ama-mfe/ng-utils/README.md
  packages/@ama-mfe/ng-utils/src/managers/index.ts
  packages/@ama-mfe/ng-utils/src/managers/utils.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.ts
Labels: enhancement, project:@ama-mfe/ng-utils

#2963 fix(palette-generator): add cache to palette generator application
  apps/palette-generator/project.json
Labels: bug, project:@o3r/palette-generator

#2973 feat(ama-mfe-utils): download application local CSS
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
Labels: enhancement, project:@ama-mfe/ng-utils

#2958 fix(style-dictionary): for corner case values
  packages/@o3r/style-dictionary/README.md
  packages/@o3r/style-dictionary/schematics/index.it.spec.ts
  packages/@o3r/style-dictionary/schematics/ng-add/templates/config.__configExtension__
  packages/@o3r/style-dictionary/src/filters/target-file.filter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/default.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/gradients.formatter.spec.ts
  packages/@o3r/style-dictionary/src/formats/css-formatters/interface.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/private.formatter.mts
  packages/@o3r/style-dictionary/src/formats/css-formatters/private.formatter.spec.ts
  packages/@o3r/style-dictionary/src/formats/css.format.mts
  packages/@o3r/style-dictionary/src/formats/css.format.spec.ts
  packages/@o3r/style-dictionary/src/formats/metadata.format.mts
  packages/@o3r/style-dictionary/src/transforms/unit.transform.mts
  packages/@o3r/style-dictionary/testing/mocks/dictionaries/gradient-token-ref.json
  packages/@o3r/style-dictionary/testing/mocks/dictionaries/gradient-token.json
Labels: bug, enhancement, project:@o3r/style-dictionary, project:@o3r/palette-generator

#2970 feat: propose provider instead of module .forRoot()
  apps/showcase/src/assets/trainings/sdk/steps/api-manager/solution/app.config.ts
  docs/logger/LOGS.md
  packages/@o3r/apis-manager/src/apis-manager/api-manager.module.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.token.ts
  packages/@o3r/configuration/src/devkit/configuration-devtools.message.spec.ts
  packages/@o3r/logger/src/services/logger/logger.module.ts
  packages/@o3r/logger/src/services/logger/logger.spec.ts
Labels: enhancement, project:@o3r/configuration, project:@o3r/logger, project:@o3r/apis-manager, project:@o3r/showcase

#2978 feat: exploded syntax in sdk - otter default values for swagger2
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/java/com/amadeus/codegen/ts/AbstractTypeScriptClientCodegen.java
Labels: documentation, enhancement, project:@ama-sdk/schematics, project:@o3r/showcase, project:@o3r/style-dictionary, project:@ama-mfe/ng-utils

#2979 feat: update supported versions in documentation
  SECURITY.md
Labels: documentation, enhancement

#2966 fix: update theme doc for com protocol; remove unused deps for tests
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/theme/README.md
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  yarn.lock
Labels: bug, documentation, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@ama-mfe/ng-utils

#2986 docs(style-dictionary): fix readme
  packages/@o3r/style-dictionary/README.md
Labels: documentation, project:@o3r/style-dictionary

#2983 fix(renovate): add `v` prefix in tag version set
  tools/renovate/managers/renovate-otter-presets.json5
Labels: bug

#2988 feat: exploded syntax in sdk - support dates
  packages/@ama-sdk/core/src/fwk/api.helpers.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.spec.ts
  packages/@ama-sdk/core/src/fwk/param-serialization.ts
Labels: enhancement, project:@ama-sdk/core

#2989 fix(yarn-errors-reporter): prevent error when there are local changes
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/src/main.ts
Labels: bug, project:yarn-errors-reporter-gh-action

#2994 Cascade/12 to 12.1 rc
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.spec.ts
  packages/@o3r/eslint-plugin/src/rules/json/json-dependency-versions-harmonize/json-dependency-versions-harmonize.ts
Labels: bug, documentation, enhancement, project:@o3r/components, project:@o3r/eslint-plugin, project:@o3r/showcase, project:get-npm-tag-gh-action, project:new-version-gh-action

#2997 fix(showcase): configuration override toggle
  apps/showcase/src/app/configuration/configuration.template.html
Labels: bug, project:@o3r/showcase

#3005 fix: support .renovaterc.json5
  tools/renovate/managers/renovate-otter-presets.json5
Labels: bug

#3004 chore: run postinstall scripts
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
Labels: project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2974 feat(ama-mfe-utils): integrate logger mechanism
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.spec.ts
  packages/@ama-mfe/ng-utils/src/connect/connect.directive.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.spec.ts
  packages/@ama-mfe/ng-utils/src/managers/consumer.manager.service.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/ng-package.json
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.helpers.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/theme/theme.producer.service.ts
  packages/@o3r/logger/package.json
  yarn.lock
Labels: enhancement, project:@o3r/logger, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@ama-mfe/ng-utils

#3007 ci: speed up execution of lighthouse tests
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
Labels: project:@o3r/showcase

#3010 ci: speed up execution of prepare-publish
  apps/vscode-extension/package.json
  apps/vscode-extension/project.json
  nx.json
  packages/@ama-mfe/messages/package.json
  packages/@ama-mfe/ng-utils/package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@ama-terasu/core/package.json
  packages/@ama-terasu/schematics/package.json
  packages/@o3r/amaterasu/amaterasu-api-spec/package.json
  packages/@o3r/amaterasu/amaterasu-dodo/package.json
  packages/@o3r/amaterasu/amaterasu-otter/package.json
  packages/@o3r/amaterasu/amaterasu-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-config/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/pipeline/package.json
  packages/@o3r/pipeline/project.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/style-dictionary/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  tools/@o3r/build-helpers/scripts/prepare-publish.mjs
Labels: project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/build-helpers, project:@o3r/amaterasu-api-spec, project:@ama-terasu/cli, project:@o3r/amaterasu-otter, project:@o3r/amaterasu-dodo, project:@o3r/amaterasu-sdk, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/create, project:@ama-terasu/schematics, project:@o3r/eslint-plugin, project:@ama-terasu/core, project:@o3r/schematics, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:@o3r/new-version, project:@ama-sdk/client-fetch, project:@o3r/eslint-config, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r/pipeline, project:@o3r/style-dictionary, project:@ama-mfe/messages, project:@ama-mfe/ng-utils

#3018 feat(e2e): add logging in the github action to update the e2e screenshots
  tools/github-actions/create-branch-e2e-screenshots/action.yml
  tools/github-actions/update-e2e-screenshots/action.yml
Labels: enhancement

#3027 fix: placeholder should support rendering the same fact with different json path
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.ts
Labels: bug, project:@o3r/components

#3033 fix: missing s
  tools/github-actions/update-e2e-screenshots/action.yml
Labels: bug

#3039 fix: always update global status for requestIds
  packages/@o3r/core/src/store/async/async-entity.adapter.spec.ts
  packages/@o3r/core/src/store/async/async-entity.adapter.ts
Labels: bug, project:@o3r/core

#3048 feat(sdk): extract compare date function from utils.date
  packages/@ama-sdk/core/src/fwk/date.spec.ts
  packages/@ama-sdk/core/src/fwk/date.ts
Labels: enhancement, project:@ama-sdk/core

#3053 feat(ama-mfe): get the url of the host using query parameter
  packages/@ama-mfe/ng-utils/src/navigation/navigation.consumer.service.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/navigation/navigation.producer.service.ts
  packages/@ama-mfe/ng-utils/src/utils.ts
Labels: enhancement, project:@ama-mfe/ng-utils

#3055 fix: allow to get api with a particular config
  packages/@o3r/apis-manager/src/apis-manager/api-factory.service.ts
  packages/@o3r/apis-manager/src/apis-manager/api-manager.ts
Labels: bug, project:@o3r/apis-manager

#3065 fix: exports the pipe that was previously standalone to avoid introducing a breaking change
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/src/services/dynamic-content/dynamic-content.module.ts
  packages/@o3r/eslint-config-otter/package.json
Labels: bug, breaking change, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#3036 fix: training sdk exercise is broken
  apps/showcase/src/assets/trainings/sdk/shared/monorepo-template.json
  packages/@o3r-training/training-tools/src/utility/web-container.ts
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js
  tools/github-actions/yarn-errors-reporter/packaged-action/index.js.map
Labels: bug, project:@o3r/showcase, project:audit-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r-training/training-tools, project:yarn-errors-reporter-gh-action
