Repository AmadeusITGroup/otter, pull requests merged in 2025-06, with the labels that each got.

#3252 Chore/cascading
  packages/@o3r/components/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/styling/package.json
Labels: bug, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:get-npm-tag-gh-action, project:new-version-gh-action, project:release-gh-action, project:yarn-errors-reporter-gh-action

#3258 cherry-pick: ama-mfe resize based on getClientBoundRect
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.spec.ts
  packages/@ama-mfe/ng-utils/src/resize/resize.producer.service.ts
Labels: bug, project:@ama-mfe/ng-utils

#3237 feat: o3r/testing should not be recommended
  packages/@o3r/core/README.md
  packages/@o3r/core/schematics/shared/presets/recommended.preset.ts
  packages/@o3r/create/src/index.it.spec.ts
Labels: enhancement, project:@o3r/core, project:@o3r/create

#3276 fix: provide deps to have the provide environment working with the default value
  packages/@o3r/routing/src/tools/app-server-routing.module.ts
Labels: bug, project:@o3r/routing

#3267 fix: remove metrics question when no stdin
  .yarn/sdks/eslint/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
Labels: bug, project:@o3r/extractors, project:@o3r/schematics
