Repository AmadeusITGroup/otter, pull requests merged in 2025-01, with the labels that each got.

#2652 fix: eslint and nx ignored paths
  .nxignore
  eslint.shared.config.mjs
Labels: bug

#2654 fix: typo
  apps/chrome-devtools/src/app-devtools/theming-panel/color.pipe.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  packages/@o3r/localization/schematics/add-localization-key/index.spec.ts
  packages/@o3r/localization/schematics/add-localization-key/index.ts
  packages/@o3r/localization/schematics/add-localization-key/schema.json
  packages/@o3r/localization/schematics/add-localization-key/schema.ts
  packages/@o3r/schematics/src/utility/ast.ts
Labels: bug, project:@o3r/chrome-devtools, project:@o3r/localization, project:@o3r/schematics

#2660 chore: dependency alignment
  .yarnrc.yml
  packages/@ama-sdk/schematics/package.json
  packages/@o3r/core/package.json
  packages/@o3r/eslint-config-otter/package.json
  yarn.lock
Labels: project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2641 fix(#2553): remove config with no properties + support metadata check for config without properties
  packages/@o3r/components/builders/component-extractor/helpers/component/component.extractor.ts
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.spec.ts
  packages/@o3r/components/builders/metadata-check/helpers/config-metadata-comparison.helper.ts
  packages/@o3r/components/builders/metadata-check/index.it.spec.ts
  packages/@o3r/configuration/schemas/configuration.metadata.schema.json
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/components, project:@o3r/configuration, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2573 chore: update some major deps for o3r 12
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  apps/vscode-extension/package.json
  package.json
  packages/@ama-sdk/client-angular/package.json
  packages/@ama-sdk/client-beacon/package.json
  packages/@ama-sdk/client-fetch/package.json
  packages/@ama-sdk/core/package.json
  packages/@ama-sdk/create/package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@o3r-training/showcase-sdk/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/create/package.json
  packages/@o3r/design/package.json
  packages/@o3r/dev-tools/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/eslint-config-otter/package.json
  packages/@o3r/eslint-plugin/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/new-version/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/stylelint-plugin/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/telemetry/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@ama-sdk/create, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@ama-sdk/swagger-builder, project:@o3r/eslint-config-otter, project:@o3r/stylelint-plugin, project:@o3r/create, project:@o3r/eslint-plugin, project:@o3r/schematics, project:@o3r/dev-tools, project:@o3r/showcase, project:otter-devtools, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:@o3r/design, project:@o3r/telemetry, project:@o3r/new-version, project:@ama-sdk/client-fetch, project:@o3r/eslint-config, project:@ama-sdk/client-angular, project:@ama-sdk/client-beacon, project:@o3r-training/showcase-sdk

#2673 fix(deps): align peer deps for eslint
  packages/@o3r/schematics/package.json
  yarn.lock
Labels: bug, project:@o3r/schematics

#2671 fix(ama-sdk): fallback open api generator version to 7.9.0
  .renovaterc.json5
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/pom.xml
Labels: bug, project:@ama-sdk/schematics

#2670 fix(vscode): allow VsCode extension without espree detection
  apps/vscode-extension/package.json
  apps/vscode-extension/src/extension.ts
  apps/vscode-extension/src/intellisense/configuration.ts
  yarn.lock
Labels: bug, project:otter-devtools

#2664 fix(design): remove expectOverride on CSS causing runtime issue
  packages/@o3r/design/README.md
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.spec.ts
  packages/@o3r/design/src/core/design-token/renderers/css/design-token-definition.renderers.ts
Labels: bug, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/eslint-config-otter, project:@o3r/design, project:@o3r/eslint-config

#2675 [CHERRY-PICK] fix(deps): align peer deps for eslint
  packages/@o3r/schematics/package.json
  yarn.lock
Labels: bug, project:@o3r/schematics

#2672 chore: add unit test on otter training helpers
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training.component.ts
  apps/showcase/src/helpers/file-system/file-system.helper.spec.ts
  apps/showcase/src/helpers/file-system/file-system.helper.ts
  apps/showcase/src/helpers/file-system/index.ts
  apps/showcase/src/helpers/monaco-tree/index.ts
  apps/showcase/src/helpers/monaco-tree/monaco-tree.helper.spec.ts
  apps/showcase/src/helpers/monaco-tree/monaco-tree.helper.ts
  apps/showcase/src/services/webcontainer/index.ts
  apps/showcase/src/services/webcontainer/webcontainer.helpers.ts
  apps/showcase/src/services/webcontainer/webcontainer.service.ts
  apps/showcase/testing/mocks/x-term.mock.ts
Labels: project:@o3r/showcase

#2679 fneat(training): set solution as readonly
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.html
  apps/showcase/src/components/training/code-editor-view/code-editor-view.component.ts
  apps/showcase/src/components/training/training-step/training-step-pres.component.html
  apps/showcase/src/components/training/training-step/training-step-pres.component.ts
  apps/showcase/src/components/training/training.component.html
  apps/showcase/src/components/training/training.component.ts
Labels: enhancement, project:@o3r/showcase

#2677 fix(eslint): provide default ignores when adding @o3r/eslint-config
  packages/@o3r/eslint-config/schematics/ng-add/eslint/index.spec.ts
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/project/eslint.local.config.__extension__.template
  packages/@o3r/eslint-config/schematics/ng-add/eslint/templates/workspace/eslint.shared.config.__extension__.template
Labels: bug, project:@o3r/eslint-config

#2689 fix: styling compile inputs and named input for assets
  nx.json
  packages/@o3r/styling/project.json
Labels: bug, project:@o3r/styling

#2698 fix(design): rendering of the typography design token
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
  packages/@o3r/design/testing/mocks/design-token-theme.json
Labels: bug, project:@o3r/design

#2700 ci: fix e2e tests
  .github/workflows/e2e-tests.yml
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/scripts/update-screenshots/index.cjs
Labels: project:@o3r/showcase

#2694 fix: align npm create `--yarn` parameter
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/scripts/update-screenshots/index.cjs
  apps/showcase/scripts/update-screenshots/readme.md
  apps/showcase/src/app/home/home.template.html
  docs/core/START_NEW_APPLICATION.md
  packages/@o3r/core/README.md
Labels: bug, project:@o3r/core, project:@o3r/showcase

#2706 chore(create): reduce the Otter logo
  packages/@o3r/create/src/index.ts
Labels: project:@o3r/create, project:new-version-gh-action

#2707 fix(github-cascading-app): multi config warning message
  apps/github-cascading-app/README.md
  apps/github-cascading-app/src/cascading/cascading-probot.ts
Labels: bug, documentation, project:@o3r/github-cascading-app

#2705 feat: add message and explicit exit in create scripts
  packages/@ama-sdk/create/src/index.ts
  packages/@o3r/create/src/index.ts
Labels: enhancement, project:@ama-sdk/create, project:@o3r/create, project:new-version-gh-action

#2704 fix(training-sdk): remove the training SDK publishing
  packages/@o3r-training/training-sdk/project.json
Labels: bug, project:@o3r-training/training-sdk

#2699 feat(pipeline): set pipeline version to node LTS version
  .renovaterc.json5
  docs/renovate/readme.md
  tools/renovate/managers/github-node-version.json5
Labels: enhancement, project:@o3r/showcase, project:@o3r/pipeline

#2720 fix: build and test before release
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/workflows/main.yml
Labels: bug, project:@o3r/pipeline

#2723 chore: upgrade postcss
  package.json
  packages/@o3r/stylelint-plugin/package.json
  tools/github-actions/new-version/packaged-action/LICENSE.txt
  yarn.lock
Labels: project:@o3r/stylelint-plugin, project:new-version-gh-action

#2724 chore: upgrade minor dependencies
  .github/actions/setup-java/action.yml
  .github/workflows/code-check.yml
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/it-tests.yml
  .github/workflows/publish.yml
  .github/workflows/scorecards.yml
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@ama-terasu/cli/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/components/package.json
  packages/@o3r/core/package.json
  packages/@o3r/design/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/pipeline/schematics/ng-add/templates/github/__dot__github/actions/setup/action.yml
  packages/@o3r/rules-engine/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/test-helpers/package.json
  tools/github-actions/audit/packaged-action/index.js
  tools/github-actions/audit/packaged-action/index.js.map
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  tools/github-actions/get-npm-tag/packaged-action/index.js
  tools/github-actions/get-npm-tag/packaged-action/index.js.map
  tools/github-actions/new-version/packaged-action/index.js
  tools/github-actions/new-version/packaged-action/index.js.map
  tools/github-actions/setup/action.yml
  tools/github-actions/upload-build-output/action.yml
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/styling, project:@o3r/extractors, project:@o3r/analytics, project:@ama-terasu/cli, project:@ama-sdk/swagger-builder, project:@o3r/test-helpers, project:@o3r/schematics, project:@o3r/showcase, project:@o3r/design, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/pipeline, project:@o3r-training/training-tools

#2731 fix: Renovate node version regex
  tools/renovate/managers/github-node-version.json5
Labels: bug

#2729 chore: upgrade angular dependencies
  apps/chrome-devtools/package.json
  apps/showcase/package.json
  package.json
  packages/@o3r/analytics/package.json
  packages/@o3r/apis-manager/package.json
  packages/@o3r/application/package.json
  packages/@o3r/components/package.json
  packages/@o3r/configuration/package.json
  packages/@o3r/core/package.json
  packages/@o3r/dynamic-content/package.json
  packages/@o3r/extractors/package.json
  packages/@o3r/forms/package.json
  packages/@o3r/localization/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/routing/package.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/store-sync/package.json
  packages/@o3r/storybook/package.json
  packages/@o3r/styling/package.json
  packages/@o3r/testing/package.json
  packages/@o3r/third-party/package.json
  packages/@o3r/workspace/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/core, project:@o3r/dynamic-content, project:@o3r/rules-engine, project:@o3r/localization, project:@o3r/components, project:@o3r/storybook, project:@o3r/testing, project:@o3r/configuration, project:@o3r/application, project:@o3r/styling, project:@o3r/third-party, project:@o3r/extractors, project:@o3r/store-sync, project:@o3r/mobile, project:@o3r/analytics, project:@o3r/routing, project:@o3r/logger, project:@o3r/forms, project:@o3r/apis-manager, project:@o3r/showcase, project:@o3r/workspace

#2648 fix(workspace): the tsconfig links to generate libraries
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/templates/ng/tsconfig.lib.prod.json.template
Labels: bug, project:@o3r/workspace

#2726 fix: dev install for @o3r/pipeline
  packages/@o3r/extractors/src/core/wrapper.ts
  packages/@o3r/pipeline/package.json
  packages/@o3r/pipeline/schematics/index.it.spec.ts
  packages/@o3r/schematics/src/utility/wrapper.ts
Labels: bug, documentation, project:@o3r/extractors, project:@o3r/schematics, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:@o3r/pipeline

#2739 chore: upgrade capacitor major
  packages/@o3r/mobile/package.json
  yarn.lock
Labels: project:@o3r/mobile

#2738 feat: v12 migration guide
  migration-guides/12.0.md
Labels: enhancement

#2717 fix(workspace): update nx scope in generated executors
  packages/@o3r/workspace/schematics/library/templates/nx/project.json.template
Labels: bug, project:@o3r/workspace

#2744 fix(workspace-helpers): report deprecates npmjs url
  tools/@o3r/workspace-helpers/scripts/report-deprecates.mjs
Labels: bug, project:@o3r/workspace-helpers

#2742 fix: remove deprecated vars for templates
  packages/@o3r/components/schemas/placeholder-template.schema.json
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.spec.ts
  packages/@o3r/components/src/rules-engine/placeholder.rules-engine.effect.ts
  packages/@o3r/components/src/stores/placeholder-request/placeholder-request.state.ts
Labels: bug, project:@o3r/components

#2745 feat(design): add support of URL as token file input
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.spec.ts
  packages/@o3r/design/src/core/design-token/parsers/design-token.parser.ts
Labels: enhancement, project:@o3r/design

#2748 fix: typos in URLS in v12 migration guide
  migration-guides/12.0.md
Labels: bug

#2751 fix(workspace): add husky in dev workspace dependency
  packages/@o3r/workspace/schematics/ng-add/helpers/commit-hooks/index.ts
Labels: bug, project:@o3r/workspace

#2747 chore: upgrade build major dependencies
  apps/showcase/package.json
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-terasu/cli/package.json
  packages/@o3r/design/package.json
  packages/@o3r/schematics/package.json
  packages/@o3r/styling/package.json
  yarn.lock
Labels: project:@ama-sdk/schematics, project:@o3r/styling, project:@ama-terasu/cli, project:@o3r/schematics, project:@o3r/showcase, project:@o3r/design

#2685 feat(chrome-devtools): add a panel to see the current value of all available facts
  apps/chrome-devtools/src/app-devtools/app.component.html
  apps/chrome-devtools/src/app-devtools/app.component.ts
  apps/chrome-devtools/src/app-devtools/theming-panel/theming-panel-pres.template.html
  apps/chrome-devtools/src/services/ruleset-history.service.ts
  apps/chrome-devtools/tsconfig.build.json
  apps/chrome-devtools/tsconfig.extension.json
  packages/@o3r/rules-engine/package.json
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/facts-snapshot/facts-snapshot.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/index.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.component.ts
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/rule-actions/rule-actions-pres.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/rule-key-value/rule-key-value-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/rule-tree/rule-tree-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.style.scss
  packages/@o3r/rules-engine/src/components/rules-engine/ruleset-history/ruleset-history-pres.template.html
  packages/@o3r/rules-engine/src/components/rules-engine/styling/shared-mixin.scss
  packages/@o3r/rules-engine/src/components/rules-engine/styling/variables.scss
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.spec.ts
  packages/@o3r/rules-engine/src/engine/debug/engine.debug.ts
  packages/@o3r/rules-engine/src/engine/engine.interface.ts
  packages/@o3r/rules-engine/src/engine/engine.ts
  yarn.lock
Labels: enhancement, project:@o3r/chrome-devtools, project:@ama-sdk/schematics, project:@o3r/core, project:@o3r/rules-engine, project:@o3r/eslint-config-otter, project:@o3r/eslint-config

#2740 feat: clean up deprecated items in api-mock of SDKs and protractor testing
  migration-guides/12.0.md
  packages/@ama-sdk/core/src/clients/api-fetch-client.ts
  packages/@ama-sdk/schematics/schematics/typescript/core/openapi-codegen-typescript/src/main/resources/typescriptFetch/spec/api-mock.mustache
  packages/@o3r-training/showcase-sdk/src/spec/api-mock.ts
  packages/@o3r-training/training-sdk/package.json
  packages/@o3r-training/training-sdk/src/spec/api-mock.ts
  packages/@o3r/testing/src/core/protractor/component-fixture.ts
  yarn.lock
Labels: enhancement, project:@ama-sdk/core, project:@ama-sdk/schematics, project:@o3r/testing, project:new-version-gh-action, project:@o3r-training/showcase-sdk, project:@o3r-training/training-sdk

#2727 fix: build builder and schematics for o3r lib
  packages/@o3r/core/schematics/ng-add-create/index.ts
  packages/@o3r/core/schematics/ng-add-create/templates/schematics/ng-add/index.ts.template
  packages/@o3r/core/schematics/rule-factories/otter-environment/index.ts
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
Labels: bug, project:@o3r/core, project:@o3r/workspace

#2741 chore: upgrade apps major dependencies
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input-hebrew/date-picker-input-hebrew-pres.template.html
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.component.ts
  apps/showcase/src/components/utilities/date-picker-input/date-picker-input-pres.template.html
  package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/testing, project:@o3r/showcase

#2737 fix(github-actions): undeterministic github actions packaging
  nx.json
  package.json
  tools/github-actions/audit/project.json
  tools/github-actions/cascading/project.json
  tools/github-actions/get-npm-tag/project.json
  tools/github-actions/new-version/project.json
  tools/github-actions/release/project.json
Labels: bug, project:audit-gh-action, project:cascading-gh-action, project:get-npm-tag-gh-action, project:new-version-gh-action, project:release-gh-action

#2761 retrofit from main to 11.6.0-rc
  packages/@o3r/components/schematics/index.it.spec.ts
  packages/@o3r/configuration/schematics/index.it.spec.ts
  packages/@o3r/eslint-config/schematics/index.it.spec.ts
  packages/@o3r/testing/package.json
  packages/@o3r/testing/schematics/ng-add/index.ts
  packages/@o3r/testing/schematics/ng-add/templates/workspace/tsconfig.jest.json.template
  packages/@o3r/workspace/package.json
  packages/@o3r/workspace/schematics/index.it.spec.ts
  packages/@o3r/workspace/schematics/library/index.spec.ts
  packages/@o3r/workspace/schematics/library/rules/rules.ng.ts
  packages/@o3r/workspace/schematics/library/rules/rules.nx.ts
  packages/@o3r/workspace/schematics/library/rules/shared.ts
  packages/@o3r/workspace/schematics/library/templates/jest/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/jest/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.gitignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/.npmignore.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.builders.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/common/tsconfig.lib.prod.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.build.composite.json.template
  packages/@o3r/workspace/schematics/library/templates/ng/jest/tsconfig.spec.json.template
  packages/@o3r/workspace/schematics/library/templates/nx/jest.config.js.template
  packages/@o3r/workspace/schematics/library/templates/nx/project.json.template
  packages/@o3r/workspace/schematics/library/templates/nx/testing/setup-jest.ts.template
  packages/@o3r/workspace/schematics/ng-add/helpers/index.ts
  packages/@o3r/workspace/schematics/ng-add/project-setup.ts
  packages/@o3r/workspace/schematics/rule-factories/index.ts
  packages/@o3r/workspace/schematics/rule-factories/linter.ts
Labels: bug, project:@o3r/components, project:@o3r/testing, project:@o3r/configuration, project:@o3r/workspace, project:@o3r/eslint-config

#2762 fix(#2755): add the missing -- for arguments after npm command
  packages/@o3r/workspace/schematics/ng-add/index.ts
Labels: bug, project:@o3r/workspace

#2753 chore: upgrade playwright 1.50
  apps/chrome-devtools/package.json
  apps/showcase/e2e-playwright/playwright-config.ts
  apps/showcase/e2e-playwright/sanity/lighthouse-sanity.e2e.ts
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/component-replacement.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/configuration.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/design-token.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/dynamic-content.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/home.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/localization.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/placeholder.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/rules-engine.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/run-app-locally.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-generator.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-intro.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step2.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step3.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step4.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step5.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step6.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step7.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step8.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training-step9.png
  apps/showcase/e2e-playwright/sanity/screenshots/visual-sanity.e2e.ts/chromium/sdk-training.png
  apps/showcase/package.json
  apps/showcase/project.json
  apps/showcase/src/styles.scss
  package.json
  packages/@o3r/testing/package.json
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/testing, project:@o3r/showcase

#2760 feat(workspace-helpers): include `build-swagger` in `yarn build` command
  .github/workflows/main.yml
  CONTRIBUTING.md
  package.json
  packages/@ama-sdk/schematics/package.json
  packages/@ama-sdk/schematics/project.json
  tools/@o3r/workspace-helpers/package.json
  tools/@o3r/workspace-helpers/scripts/get-build-targets.mjs
  yarn.lock
Labels: enhancement, project:@ama-sdk/schematics, project:@o3r/workspace-helpers

#2770 chore: upgrade major dependencies
  .github/workflows/code-check.yml
  .yarnrc.yml
  apps/chrome-devtools/package.json
  apps/github-cascading-app/package.json
  package.json
  packages/@ama-sdk/swagger-builder/package.json
  packages/@o3r-training/training-tools/package.json
  packages/@o3r/artifactory-tools/package.json
  packages/@o3r/azure-tools/package.json
  packages/@o3r/logger/package.json
  packages/@o3r/mobile/package.json
  packages/@o3r/workspace/package.json
  tools/github-actions/cascading/packaged-action/index.js
  tools/github-actions/cascading/packaged-action/index.js.map
  yarn.lock
Labels: project:@o3r/chrome-devtools, project:@o3r/mobile, project:@o3r/logger, project:@ama-sdk/swagger-builder, project:@o3r/github-cascading-app, project:@o3r/workspace, project:@o3r/artifactory-tools, project:@o3r/azure-tools, project:cascading-gh-action, project:@o3r-training/training-tools
